<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<pages validateRequest="false">
		</pages>
		<compilation debug="true"/></system.web>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="log.txt"/>
			<param name="AppendToFile" value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} Class:%type Method:%method Line #: %line  – %m%n"/>
			</layout>
		</appender>
		<logger name="NHibernate">
			<level value="ERROR"/>
		</logger>
		<logger name="NHibernate.SQL">
			<level value="ERROR"/>
		</logger>
		<root>
			<level value="All"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
	</log4net>
	<appSettings>
		<!--Twitter-->
		<!--<add key="consumerKey" value="DUJWYl2P1UDVrmeICftkxA" />
    <add key="consumerSecret" value="Z25Tj7yjK9MQHujatNkr2lmiwX4P2W1iOtpmXHzVc" />
    <add key="callbackurl" value="http://localhost:1551/TwitterManager.aspx" />-->
		<add key="consumerKey" value="gyThOXuGPXB305iWHWjQ"/>
		<add key="consumerSecret" value="zgpnZXZYmnwqNOoFqXF9F0aOccyS09k3Df8zKr8R2g"/>
		<add key="callbackurl" value="http://www.letstalk.com.asp1-24.ord1-1.websitetestlink.com/TwitterManager.aspx"/>
		<!--Facebook-->
		<add key="ClientId" value="608647702536441"/>
		<add key="ClientSecretKey" value="5d55c34a490909f8628a82ca481514e0"/>
		<add key="RedirectUrl" value="http://localhost:5332/FacebookManager.aspx"/>
		<!--<add key="ClientId" value="399069683526812" />
    <add key="ClientSecretKey" value="22b0d4b4308b1ce753dd5500c224d6e9" />
    <add key="RedirectUrl" value="http://www.letstalk.com.asp1-24.ord1-1.websitetestlink.com/FacebookManager.aspx" />-->
		<!--LinkedIn-->
		<!--<linkeidn app for letstalk>-->
		<add key="LiApiKey" value="bmxy8quh7xxc"/>
		<add key="LiSecretKey" value="2WaWbjWByZBr7lMe"/>
		<!--Instagram App Credentials-->
		<!--instagram client localhost-->
		<!--3c5fcd51e7a24938813cb4a7c5102a1a
    Client Secret 	2f2ccad54dc54272ad608fd9aa940786
    Website URL 	http://dashboard.brandzter.com
    Redirect URI 	http://localhost:1551/InstagramManager.aspx-->
		<!--<add key="InstagramClientKey" value="3c5fcd51e7a24938813cb4a7c5102a1a" />
    <add key="InstagramClientSec" value="2f2ccad54dc54272ad608fd9aa940786" />
    <add key="InstagramCallBackURL" value="http://localhost:5332/InstagramManager.aspx" />-->
		<add key="InstagramClientKey" value="c0ae38e6094f4d7bbeeb61cc57266dfe"/>
		<add key="InstagramClientSec" value="1690142a3abc4d848f610932d203b0d1"/>
		<add key="InstagramCallBackURL" value="http://letstalk.com.asp1-24.ord1-1.websitetestlink.com/InstagramManager.aspx"/>
		<!-- Google Plus --><!--
    <add key="GplusClientId" value="392634306476-nscttvgk3uito5tv6550gl2mdb3o2mi9.apps.googleusercontent.com" />
    <add key="GplusClientSecretKey" value="yNyVIRmAtfZ34ImahO-pfLWE" />
    <add key="GplusRedirectUrl" value="http://letstalk.com.asp1-24.ord1-1.websitetestlink.com/GplusManager.aspx" />-->
		<!-- Google  -->
		<add key="GplusClientId" value="563035263978.apps.googleusercontent.com"/>
		<add key="GplusClientSecretKey" value="iuReXTcNUfT1jzwDas0Vnjme"/>
		<add key="GplusRedirectUrl" value="http://letstalk.com.asp1-24.ord1-1.websitetestlink.com/GplusManager.aspx"/>
		<!--mailer setting-->
		<!--<add key="host" value="smtp.sendgrid.net" />
    <add key="port" value="25" />
    <add key="username" value="woosuite"/>
    <add key="fromemail" value="woosuite@vgames.tv"/>
    <add key="password" value="WooSuite2013" />-->
		<add key="SuccessURL" value="http://127.0.0.1:5332/WebForm1.aspx"/>
		<add key="FailedURL" value="http://localhost:5332/Welcome.aspx"/>
		<add key="paypalemail" value="pbpraveen@globussoft.com"/>
		<!--mailer setting-->
		<add key="host" value="smtp.sendgrid.net"/>
		<add key="port" value="25"/>
		<!--<add key="username" value="socioboard"/>-->
		<add key="fromemail" value="support@letstalk.com"/>
		<add key="password" value="Sup12345"/>
		<add key="username" value="woosuite"/>
		<!--<add key="fromemail" value="woosuite@vgames.tv"/>-->
		<add key="password" value="WooSuite2013"/>
		<add key="SuccessURL" value="http://127.0.0.1:5332/WebForm1.aspx"/>
		<add key="FailedURL" value="http://localhost:5332/Welcome.aspx"/>
		<add key="paypalemail" value="pbpraveen@globussoft.com"/>
	</appSettings>
	<system.web>
		<!--<pages buffer="true"
        masterPageFile = "~/MasterPage/Home.master"
        enableEventValidation="false">
    </pages>-->
		<customErrors mode="Off"/>
		<!--<compilation debug="true" targetFramework="4.0" />-->
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
			</protocols>
		</webServices>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<httpErrors errorMode="Detailed"></httpErrors>
		<handlers>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<pages enableEventValidation="true"/>-->
</configuration>
