<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>



  <appSettings>


    <!--Twitter-->
    <add key="consumerKey" value="SjrfnQGYTatqlcbmVTwMkA" />
    <add key="consumerSecret" value="NG0SbMioAkvlZnzj6DRPzFQEtdL9CybOOhnxSu8PKlk" />
    <add key="callbackurl" value="http://blackSheep.socioboard.com/TwitterManager.aspx" />

    <!--Facebook-->
    <add key="ClientId" value="257022454435275" />
    <add key="ClientSecretKey" value="d568ff921747b0e7bf4c205778819471" />
    <add key ="RedirectUrl" value ="http://blackSheep.socioboard.com/FacebookManager.aspx"/>

    <!--LinkedIn-->
    <add key="LiApiKey" value="75ptvyepcaj7" />
    <add key="LiSecretKey" value="N90lSxt58yG5DA27" />


    <!--Instagram App Credentials-->
    <add key="InstagramClientKey" value="0fbfc416ad9b4134b9882ef2e1432f4b" />
    <add key="InstagramClientSec" value="5d5e03b06aaf44df8bb02b12f85f4c40" />
    <add key ="InstagramCallBackURL" value="http://blackSheep.socioboard.com/InstagramManager.aspx"/>

    <!--mailer setting-->
    <add key="host" value="mail.globussoft.com"/>
    <add key ="port" value="25"/>
    <add key ="username" value="mailhelper@globussoft.com"/>
    <add key ="pasword" value="globussoft"/>
  </appSettings>





</configuration>
