@*<html>
<body>
    <iframe src="http://www.youtube.com/embed/zpOULjyy-n8?rel=0"
        width="560" height="315" frameborder="0" allowfullscreen></iframe>
    <embed width="420" height="315"
        src="http://www.youtube.com/v/XGSy3_Czz8k">
</body>
</html>*@


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<body style="background-color: #FB6947;">
    <div style="margin-top: 10px; margin: 0 auto; width: 630px;">
        <div style="width: 630px; height: auto; float: left; margin-top: 50px;">
            <div style="width: 630px; padding-top: 7px; text-align: center; height: 80px; background: none repeat scroll 0px 0px rgb(255, 188, 173); border-top-left-radius: 5px; border-top-right-radius: 5px;">
                <a href="http://www.socioboard.com">
                    <img src="http://www.socioboard.com/Contents/img/ssp/logo-txt.png" alt="Socioboard"></a>
            </div>
            <!--Email content-->
            <div style="font-family: Tahoma; font-size: 14px; background-color: #fff; color: rgb(24, 24, 24); padding: 10px; float: left; width: 606px; border: 2px solid rgb(255, 255, 255); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">

                <div style="width: 610px; height: auto; float: left;">

                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        World's First Open-Source Social Media Dashboard at Your Service
                    </div>

                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        Socioboard (www.socioboard.com), a best in class social media management platform.
                    </div>

                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        If you've been using current social media dashboards and yet find that these don't completely serve your customization needs e.g. being able to handle large number of social profiles from one platform, need of features like collaborative tools, social CRM tools, custom analytics etc.
                    </div>

                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        We take pride in presenting world's first open source Social Media Management application 'Socioboard' to you. Socioboard is an advanced, easy, open-source social media marketing tool to engage your audience with great features. It offers you an open-source Community version and paid Enterprise and SaaS versions with unmatched world-class technical support round the clock.
                    </div>

                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; margin:0 auto; mso-table-lspace:0pt; mso-table-rspace:0pt; width:540px">
                      <tbody>
                          <tr>
                               @* <td class="center" align="center" style="margin: 0; padding: 0px; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 24px;"> <span> <a target="_blank" href="#" style="color:#000000;"> <!-- <img src="http://www.socioboard.com/Contents/img/re_store_logos.png" alt="blue" width="600" height="200" border="0" style="display: inline;">  -->
                                                                                    <iframe class="embed-responsive-item" src="https://docs.google.com/file/d/0B9xugMIiRUj5cEZseDFqRUphdGs/preview" width="600" height="200" border="0" style="display: inline;">
                                </iframe></a></span> 
                                                                                </td>*@
                              <td style="background-color: #FFFFFF">

                                 @* <iframe id="ytplayer" type="text/html" width="640" height="390"
                                      src="http://youtu.be/NPmNbjhRr3s?autoplay=1&origin=http://example.com"
                                      frameborder="0" />*@
                                 <div class="embed-responsive embed-responsive-4by3">
                           <iframe width="560" height="315" src="http://www.youtube.com/embed/NPmNbjhRr3s?autoplay=1" frameborder="0" allowfullscreen></iframe></div>
                                  

                              </td>
                          </tr>
                      </tbody>
                    </table>





                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        Socioboard Enterprise and SaaS Versions: <a href="http://www.socioboard.com">http://www.socioboard.com</a> and<br>
                        Socioboard Community Version: <a href="http://www.socioboard.org">http://www.socioboard.org</a>.<br>
                        Key Features of Socioboard include:
                    </div>

                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        <br>
                        Open Source tool in different versions (light and advanced) for individuals, agencies and corporates<br>
                        <br>
                        Unified Smart Inbox to streamline engagement<br>
                        <br>
                        Social CRM tools including shared customer records<br>
                        <br>
                        Advanced scheduling & publishing tools<br>
                        <br>
                        Sophisticated analytics & unlimited custom reports<br>
                        <br>
                        Customer support features like tasks and Helpdesk integration<br>
                        <br>
                        Team collaboration tools including live activity updates<br>
                        <br>
                        24/7 Technical Support<br>
                        <br>
                    </div>

                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        Socioboard was founded with a vision backed by years of experience and expertise of the founding team managing Social Media Campaigns for thousands of brands. It has a dedicated team working tirelessly to enhance features, refine offerings and provide support.
                    </div>

                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        With Socioboard, you can now manage your social media campaigns, the way you'd like! You can write to us on <a href="mailto:sumit@socioboard.com">sumit@socioboard.com</a>, call us on +1 408 5209502, or reach us on <b>skype at socioboard.support</b> to know more about Socioboard or share your ideas with us.
                    </div>



                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">
                        Thanks and Regards,<br>
                        Socioboard Team
                    </div>

                    </br>
                     <a href="http://www.socioboard.com">
                         <img src="http://www.socioboard.com/Contents/img/ssp/logo-txt.png" alt=""></a>

                    <div style="width: 610px; height: auto; float: left; font-size: 15px; font-family: Arial; margin-top: 10px;">

                        <p style="font-family: Calibri(Body); font-size: 12px;">
                            <b>Office:</b> L V Complex, 2nd Floor, No.58, 7th Block, 80 Feet Road, Koramangala Bangalore 560095 Karnataka,India</br>
  <b>Phone:</b> +1 408 5209502<b>  Skype:</b> socioboard.support </br>
  <br />

                            Socioboard Enterprise and SaaS Versions: <a href="http://www.socioboard.com">http://www.socioboard.com<br />
                            </a>Socioboard Community Version: <a href="http://www.socioboard.org">http://www.socioboard.org</a><br>
                        </p>
                        <table>

                            <tr>

                                <td><a href="https://www.facebook.com/SocioBoard" target="_blank">
                                    <img src="http://i739.photobucket.com/albums/xx33/Alan_Wilson3526/facebook-48_zps62d89d59.png" alt="”Facebook”" width="”35″" height="”35″" border="0"></a></td>

                                <td><a href="https://plus.google.com/s/socioboard" target="_blank">
                                    <img src="http://i739.photobucket.com/albums/xx33/Alan_Wilson3526/googleplus-30_zps62d89d59.png" alt="G+" width="”35″" height="”35″" border="0"></a></td>

                                <td><a href="http://www.linkedin.com/company/socioboard" target="_blank">
                                    <img src="http://i739.photobucket.com/albums/xx33/Alan_Wilson3526/linkedin-48_zpsceb0f4e2.png" alt="”LinkedIn”" width="”35″" height="”35″" border="0"></a></td>

                                <td><a href="https://twitter.com/Socioboard" target="_blank">
                                    <img src="http://i739.photobucket.com/albums/xx33/Alan_Wilson3526/twitter-48_zps57c64c90.png" alt="”Twitter”" width="”35″" height="”35″" border="0"></a></td>

                            </tr>

                        </table>

                    </div>




                </div>

            </div>
            <!--End Email content-->
        </div>
    </div>
</body>




