
<section class="margin-top-50 ">
    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-12">
                <img src="~/Themes/Socioboard/Contents/img/companypagecover.jpg" class="img-responsive">
            </div>
            <div class="col-lg-12 margin-top-30">
                <div class="panel panel-default" style="padding: 16px 20px 20px 15px; box-shadow: 1px 2px 10px gray;">
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <div class="text-center">
                            <ul class="nav webinar nav-pills nav-justified">
                                <li class="active">
                                    <a href="#AboutUs" data-toggle="tab">About Us</a>
                                </li>
                                <li>
                                    <a href="#OurClients" data-toggle="tab">Our Clients</a>
                                </li>
                                <li>
                                    <a href="#Partners" data-toggle="tab">Partners</a>
                                </li>
                                <li>
                                    <a href="#Careers" data-toggle="tab">Careers</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="AboutUs">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h1 class="text-center hr_shadow">About Us</h1>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h1>About Socioboard</h1>
                                                <p>
                                                    <span>Socioboard</span> is world’s first open source social technology enabler and first open source product company from India. We build social technology which helps businesses and brands to better understand social media and harness its real power.<br>
                                                    Our vision is to provide easy to use tools to businesses and brands which covers 360 degree use cases when it comes to Social Media.<br>
                                                    We are building innovative products for various social networks which fill the critical gap - Social Networks were meant for user’s not for businesses. Our tools and products view Social from a business point of view and fill those gaps which social networks cannot fill exquisitely.<br>
                                                    Business should own their social data and they should be incharge of what they want to do with it, generate reports and analyze data to make informed and improved business decisions. This is possible when things are open and businesses have freedom to choose, we believe open source is a way to make this possible. So that brands and businesses can embrace social technology with an open mind in an open and connected world.<br>
                                                    We believe in providing our users with choice, we don’t push useless buggy bloatware to their throat and force them to pay for it.<br>
                                                    Our products resonate with our vision to make social technologies more open.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="http://i.imgur.com/pp1DrxP.gif" class="img-responsive" style="height: 500px;vertical-align: middle; margin-left: auto; margin-right: auto;">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="http://i.imgur.com/4vUuBMG.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">Socioboard Core <br><small>(Commercial and Open Source)</small></h1>
                                                <p>
                                                    Socioboard Core is an open source social media management, analytics and reporting platform. It supports nine social media networks. Using Socioboard Core you can monitor and manage multiple social media accounts and create useful reports and take business decisions based on them. Socioboard Core is available as a web app and mobile apps on iOS and Android.
                                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#SocioboardCore">Read More +</button>
                                            </div>
                                            <div class="col-md-4">
                                                <img src="http://i.imgur.com/6zQYkYc.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">BrandBuzzPro</h1>
                                                <p>
                                                    BrandBuzzpro is a SAAS based Socioboard product which helps brands to recruits its employees and customers as its marketing crew. The best form of marketing is word of mouth marketing and those brands which can get their customers to as their brand ambassadors are the best brands out there. You don’t need Kim Kardashian to advertise your brand if you can create a thousand Kardashians from your existing customers and employees.<br>
                                                    BrandBuzzPro helps you to
                                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#BrandBuzzPro">Read More +</button>
                                            </div>
                                            <div class="col-md-4">
                                                <img src="http://i.imgur.com/Kl4WJl3.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">BrandHit</h1>
                                                <p>
                                                    BrandHit is a SAAS based influencer marketing product to reach influencers in your niche and get them to tweet or share on facebook, instagram or linkedin about your brand on your product.<br>
                                                    Influencers come to the platform, sign up and post a price per tweet or post on various networks . They also select categories or niches in which they would like to endorse posts/tweets about brands.<br>
                                                    Brands can signup and find influencers in their category and
                                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#BrandHit">Read More +</button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Socioboard Desktop Applications for Social Media Marketers</h1>
                                                <blockquote>
                                                    <p>
                                                        Socioboard desktop apps are the swiss knife of Social Media Marketing Industry.<br>
                                                        Socioboard desktop applications are not completely restricted by the various APIs of the social networks like Socioboard Web and Mobile apps. Rather they give you a complete competeting user experience with the original network but as a desktop application. The Desktop apps are a collective effort of the socioboard community spread globally.<br>
                                                        Socioboard desktop apps must be used with utmost care to make sure you remain within the social network usage limits and don’t over do something. It’s best to use them under trained guidance from experts.
                                                    </p>
                                                </blockquote>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="http://i.imgur.com/U8fuYhk.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">
                                                    inBoardPro<br> <br />
                                                    <small>
                                                        <a href="http://www.inboardpro.com"target="_blank">http://www.inboardpro.com</a>
                                                    </small>
                                                </h1>
                                                <p>
                                                    inBoardPro is linkedin marketing on Steroids. Its a desktop application which helps you to automate everything you can
                                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#inBoardPro">Read More +</button>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="http://i.imgur.com/mR7o8pT.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">
                                                    faceboardPro<br><br />
                                                    <small>
                                                        <a href="http://faceboardpro.com" target="_blank">http://faceboardpro.com</a>
                                                    </small>
                                                </h1>
                                                <p>
                                                    faceBoardPro is an automated facebook marketing software. It helps you to automate your regular facebook tasks with
                                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#faceboardPro">Read More +</button>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="http://i.imgur.com/ROLgDCv.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">
                                                    gramBoardPro<br><br />
                                                    <small>
                                                        <a href="http://gramboardpro.com/" target="_blank">http://gramboardpro.com</a>
                                                    </small>
                                                </h1>
                                                <p>
                                                    gramBoardPro is an instagram automation power-house. It can manage all your instagram tasks , likes, comments
                                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#gramBoardPro">Read More +</button>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="http://i.imgur.com/0Y3tfqk.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">
                                                    twtBoardPro<br><br />
                                                    <small>
                                                        <a href="http://twtboardpro.com" target="_blank">http://twtboardpro.com</a>
                                                    </small>
                                                </h1>
                                                <p>
                                                    twtBoardPro is an twitter marketing platform. It helps you manage multiple twitter accounts and automate your tweets,
                                                    <button type="button" class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#twtBoardPro">Read More +</button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Socioboard Mobile Apps for Social Media Marketers</h1>
                                                <blockquote>
                                                    <p>
                                                        <strong>Socioboard Official App</strong><br>
                                                        The official app is an extension of Socioboard Core app on iOS and Android. It helps you manage all your social media accounts you have connected to Socioboard Web Core via mobile apps.
                                                    </p>
                                                </blockquote>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="http://i.imgur.com/J79ZeBr.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">
                                                    t-boardpro
                                                </h1>
                                                <p>t-boardpro is a multiple twitter account management app, it helps you to login to multiple twitter accounts from your iOS or Android device and do various twitter activities like tweeting, re-tweeting, favorites, follow, unfollow, scheduling tweets etc. Its a a very powerful twitter marketing automation app. The open source version is called t-board is available on github - <a href="https://github.com/socioboard/t-board" target="_blank">https://github.com/socioboard/t-board</a></p>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="http://i.imgur.com/j138jlV.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">
                                                    f-boardpro
                                                </h1>
                                                <p>f-boardpro is a multiple facebook account management app, it helps you to login to multiple facebook accounts from your iOS or Android device and do various facebook activities like post, like, comment, managing pages, groups and much more. The open source version is called f-board is hosted here - <a href="https://github.com/socioboard/f-board" target="_blank">https://github.com/socioboard/f-board</a></p>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="http://i.imgur.com/QLgWDPa.png" class="img-responsive company_img_size">
                                                <h1 class="text-center">
                                                    l-boardpro<br>
                                                </h1>
                                                <p>l-boardpro is a multiple LinkedIn account management app. It helps you to login multiple LinkedIn accounts from you iOS or Android device and do LinkedIn activities like share comments, see user following companies details and user can see latest jobs in following company. The open source version of l-boardpro is hosted here - <a href="https://github.com/socioboard/l-board" target="_blank">https://github.com/socioboard/l-board</a></p>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="http://i.imgur.com/xUr1F8B.png" class="img-responsive company_img_size">
                                                <h1 class="text-center" style="font-size: x-large;">
                                                    i-boardpro
                                                </h1>
                                                <p>i-boardpro is a multiple instagram account management app, it helps you to login to multiple instagram accounts from your iOS or Android device and do various instagram activities like follow, unfollow, comment, like, scheduling posts etc. Its a a very powerful instagram marketing automation app. The opensource version of i-boardpro is hosted here - <a href="https://github.com/socioboard/i-board" target="_blank">https://github.com/socioboard/i-board</a></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Socioboard Mobile Apps for Social Media Marketers</h1>
                                                <blockquote>
                                                    <p>
                                                        The mission of the Socioboard Technologies is to promote, protect, and advance the Socioboard Core framework, and to support and facilitate the growth of a diverse and international community of Socioboard programmers and users.<br>
                                                        You can help fund Socioboard Technologies by making a donation or contributing to our source code on github.
                                                    </p>
                                                </blockquote>
                                            </div>
                                            <div class="col-md-12">
                                                <h1>Vision Statement</h1>
                                                <p>
                                                    Socioboard Technologies shares a common vision which resonates with most of the open source technology companies. We want to create software for Social Media industry which is open, vendor neutral and aids users to be in complete control of their social data.<br>
                                                    Our vision is to make products for a open and connected social world which will give users complete freedom of use.
                                                </p>
                                                <h1>Role of the Organisation</h1>
                                                <p>
                                                    Manages the funding, publicizing, protection of the core Socioboard Framework, made available to the public free of charge. This includes Socioboard Core (socioboard.com) itself, its sister projects: inBoard, faceboard, twtBoard,plusBoard,gramBoard and the mobile apps f-board,t-board,in-board,g-board,gm-board and other related projects, educational materials, and assorted tools and applications.<br>
                                                    Socioboard Technologies is also responsible for development and management of commercial products based on Socioboard Pro - Socioboard.com, BrandBuzzPro,BrandHit, BoardMe, inBoardPro, faceboardPro, gramBoardPro, twtBoardPro etc.<br>
                                                    Establishes licenses under which the above mentioned projects are managed, ensuring the rights of the public to freely obtain, use, redistribute, and modify intellectual property held by the Socioboard Technologies Private Limited.<br>
                                                    Works with the Open Source Initiative to ensure that Socioboard licenses conform to the Open Source Definition. Protects the “Socioboard” name, and the names, service marks and trademarks associated with all other intellectual property held by Socioboard Technologies.<br>
                                                    Raises funds to support Socioboard Technologies' programs and services. Funding must come from private contributions (including sponsoring memberships) and public grants, must come from a broad base, and that no single private donor can supply a substantial percentage of “Socioboard Technologies” total funding. Additional revenue may be pursued in ways consistent with then-current rules for public charities and with Socioboard's standing as an open source project. For example, Socioboard Technologies may offer to sell conference proceedings, special Socioboard distributions/licenses, or merchandise with distinctive insignia. Funds can also be generated by selling commercial licenses of Socioboard Core and offering various Socioboard family of products with commercial model of monetization.<br>
                                                    Publicizes, promotes the adoption of, and facilitates the ongoing development of Socioboard-related technology and educational resources. This includes, but is not limited to, maintaining a public web site, planning Socioboard conferences, and offering grants to Socioboard-related open source projects. Encourages and facilitates Social Media related research in the public interest.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="OurClients">
                                <div class="panel panel-default" style="color: black;">
                                    <div class="panel-body">
                                        <div class="textBlack">
                                            <div class="col-md-12">
                                                <h1 class="text-center hr_shadow">Our Clients</h1>
                                            </div>
                                            <div class="hosts-wrapper">
                                                <div class="supported-hosts no-border-bottom text-center">
                                                    <small class="text-center hr_shadow" style="color: gray">Agencies that use our Product</small>
                                                    <img src="http://i.imgur.com/AgE1Ceu.png" alt="Socialboard">
                                                    <img src="http://i.imgur.com/6slWYRc.png" alt="socialpour">
                                                    <img src="http://i.imgur.com/Wye342L.png" alt="socialscoup">
                                                    <img src="http://i.imgur.com/ohvqcYh.png" alt="Sonager">
                                                    <img src="http://i.imgur.com/tQjfHmT.png" alt="tribeNautix">
                                                    <img src="http://i.imgur.com/jtujJsM.png?1" alt="viptable">
                                                </div>
                                                <div class="supported-hosts no-border-bottom text-center">
                                                    <small class="text-center hr_shadow" style="color: gray">Clients that use our Product</small>
                                                    <img src="http://i.imgur.com/XYtEZRg.png?1" alt="bai">
                                                    <img src="http://i.imgur.com/VS5wsoO.png?1" alt="rbc">
                                                    <img src="http://i.imgur.com/3WRxQgy.png?1" alt="rei">
                                                    <img src="http://i.imgur.com/FuK74Tr.png?1" alt="ogi">
                                                    <img src="http://i.imgur.com/zH5u2nx.png?1" alt="alj">
                                                    <img src="http://i.imgur.com/xYNN7Fy.png?1" alt="hya">
                                                    <img src="http://i.imgur.com/FGKstdZ.png?1" alt="gaw">
                                                    <img src="http://i.imgur.com/Vu96sud.png?1" alt="fast">
                                                    <img src="http://i.imgur.com/fyqMsVh.png?1" alt="gen">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Partners">
                                <div class="panel panel-default" style="color: black;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="text-center hr_shadow">Partners</h1>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    <span>Socioboard</span> is in course of establishing partnerships with Cloud Services Providers as MS Azure, Amazon AWS etc. We are also in process of hosting plugins and applications from us as well as partners. We will continuously improve features as the feedback comes from our partners.<br>
                                                    Socioboard is a proud member of Nasscom’s 10,000 StartUps and secured 2nd rank in Indian Institute of Management’s start up fest DisruptIt 2014.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="hosts-wrapper">
                                                    <div class="supported-hosts no-border-bottom" style="border-top: none; padding-top: 10px;">
                                                        <img alt="" class="img-responsive partner" src="http://i.imgur.com/18tSJhU.png?1" style="display: inline;">
                                                        <img alt="" class="img-responsive partner" src="http://i.imgur.com/LKtPB3q.png?1g" style="display: inline;">
                                                        <img alt="" class="img-responsive partner" src="http://i.imgur.com/UKREsWh.png" style="display: inline;">
                                                        <img alt="" class="img-responsive partner" src="http://i.imgur.com/dLTVC96.png" style="display: inline;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Careers">
                                <div class="panel panel-default" style="color: black;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="text-center hr_shadow">Careers</h1>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="http://i.imgur.com/M9McSYF.jpg?1" class="img-responsive">
                                                <p>
                                                    <span>Socioboard</span> offers you opportunities and challenges to help you advance on your career path and achieve personal and professional development. Join our team. We’ll help you develop and accelerate your career by providing you with opportunities to amplify your talents. You can expect us to nurture your strengths and value your unique perspectives, and in return we expect you to share our passion for ‘excellence’ in everything we do.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                @*<form role="form">*@
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon">F</span>
                                                        <input id="fname" type="text" placeholder="First Name" class="form-control">
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon">L</span>
                                                        <input id="lname" type="text" placeholder="Last Name" class="form-control">
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon">E</span>
                                                        <input id="emailid" type="text" placeholder="Email id" class="form-control">
                                                    </div>
                                                    <div class="form-group input-group">
                                                        @*<label>@GlobusMultiLanguageLib.Resources.Index_Company_Fileinput</label>*@
                                                        <label>Upload Resume</label>
                                                        <input id="fileuploadText" type="file" onchange="showfile()" class="btn btn-default">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Your Message</label>
                                                        <textarea id="profile" rows="3" class="form-control"></textarea>
                                                    </div>
                                                    <button class="btn btn-warning" type="submit" onclick="submitcontact()">@GlobusMultiLanguageLib.Resources.Index_Company_BtnSubmit</button>
                                                    <button class="btn btn-default" type="reset" onclick="ResetAll()">@GlobusMultiLanguageLib.Resources.Index_Company_BtnReset</button>
                                                @*</form>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<script type="text/javascript">
    //function showfile() {
    //    debugger;
    //    var ext = $('#fileuploadText').val().split('.').pop().toLowerCase();
    //    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) != -1) {
    //        alert('Please choose a file instead of image!');
    //        $('#fileuploadText').val('');
    //    }
    //}
    function showfile() {
        debugger;
        var ext = $('#fileuploadText').val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['pdf', 'oxps', 'pages', 'edoc', 'doc', 'xps', 'docx', 'fdf', 'word', 'txt']) == -1) {
            alert('Please Upload Any Document File');
            $('#fileuploadText').val('');
        }
    }
    function submitcontact() {
        debugger;
        var a=0;
        var fd = new FormData();
        var fname = $('#fname').val();
        var lname = $('#lname').val();
        var email = $('#emailid').val();
        var Subject = 'Socioboard career';
        var profile = $('#profile').val();
        var file = document.getElementById("fileuploadText");
        if (file != null && file != '') {
            if (file.files[0].size <= 500*1024) {
                fd.append('file', fileuploadText.files[0]);
            }
            else {
                alert("Maximum file size 500KB");
                return false;
            }
        }
        else {
            alert('Please Attach file');
            return false;
        }
        if (fname == "" || email == "" || profile == "") {
            alert('Please fill all the fields')
            return false;
        }
        {
            if (!validateFName(fname)) {
                alert('Please enter valid First Name');
                return false;
            }
            else if (!validateLName(lname)) {
                alert('Please enter valid Last Name');
                return false;
            }
            if (!validateEmail(email)) {
                alert('not valid email');
                return false;
            }
            else {
                $.ajax({
                    url: "../Index/SendCareerMail?fname=" + fname + "&lname=" + lname + "&email=" + email + "&Subject=" + Subject + "&profile=" + profile,
                    type: "post",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (msg) {
                        debugger;
                        if (msg == "Success") {
                            alertify.success('Mail has been sent successfully!');
                            $('#fname').val('');
                            $('#lname').val('');
                            $('#emailid').val('');
                            $('#profile').val('');
                            $('#fileuploadText').val('');
                        }
                        else {
                            alertify.error("failure");
                            return false;
                        }
                    },
                    error: function () {
                        alert("failure");
                    }
                });
            }
        }
    }
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test($email)) {
            return false;
        } else {
            return true;
        }
    }
    function validateFName($name) {
        var fnameReg = /^[A-Z,a-z._]+$/;
        if (!fnameReg.test($name)) {
            return false;
        } else {
            return true;
        }
    }
    function validateLName($lname) {
        var lnameReg = /^[A-Z,a-z._]+$/;
        if (!lnameReg.test($lname)) {
            return false;
        } else {
            return true;
        }
    }

    function ResetAll() {
        $('#fname').val('');
        $('#lname').val('');
        $('#emailid').val('');
        $('#profile').val('');
        $('#fileuploadText').val('');
    }

</script>



<!-- Socioboard Core Modal -->
<div class="modal fade" id="SocioboardCore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Socioboard Core</h4>
            </div>
            <div class="modal-body">
                <img src="http://i.imgur.com/4vUuBMG.png" class="img-responsive company_img_size">
                <h1 class="text-center">Socioboard Core <br><small>(Commercial and Open Source)</small></h1>
                <p class="text-justify">
                    Socioboard Core is an open source social media management, analytics and reporting platform. It supports nine social media networks. Using Socioboard Core you can monitor and manage multiple social media accounts and create useful reports and take business decisions based on them. Socioboard Core is available as a web app and mobile apps on iOS and Android. Its completely open source and fully customizable and extensible in the form of plugins. It has a commercial SAAS version at - <a href="www.socioboard.com">www.socioboard.com</a> and open source version at - <a href="www.socioboard.org" target="_blank">www.socioboard.org</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- BrandBuzzPro Modal -->
<div class="modal fade" id="BrandBuzzPro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">BrandBuzzPro</h4>
            </div>
            <div class="modal-body">
                <img src="http://i.imgur.com/6zQYkYc.png" class="img-responsive company_img_size">
                <h1 class="text-center">BrandBuzzPro</h1>
                <p class="text-justify">
                    BrandBuzzpro is a SAAS based Socioboard product which helps brands to recruits its employees and customers as its marketing crew. The best form of marketing is word of mouth marketing and those brands which can get their customers to as their brand ambassadors are the best brands out there. You don’t need Kim Kardashian to advertise your brand if you can create a thousand Kardashians from your existing customers and employees.<br>
                    BrandBuzzPro helps you to engage with your employees and loyal customers and engage with them in a unique way to make them your social brand ambassadors.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- BrandHit Modal -->
<div class="modal fade" id="BrandHit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">BrandHit</h4>
            </div>
            <div class="modal-body">
                <img src="http://i.imgur.com/Kl4WJl3.png" class="img-responsive company_img_size">
                <h1 class="text-center">BrandHit</h1>
                <p class="text-justify">
                    BrandHit is a SAAS based influencer marketing product to reach influencers in your niche and get them to tweet or share on facebook, instagram or linkedin about your brand on your product.<br>
                    Influencers come to the platform, sign up and post a price per tweet or post on various networks . They also select categories or niches in which they would like to endorse posts/tweets about brands.<br>
                    Brands can signup and find influencers in their category and pay them to post a tweet or make a share in their Facebook profile.<br>
                    This personalized recommendation from top influences in the industry is much better than spending marketing dollars on useless media buys.<br>
                    Socioboard has partnered with top influencers in multiple categories and will partner with more of them in future to bring the best online influencers to our platform.<br>
                    This can become a huge marketing channel and a big customer acquisition channel for startups and brands who are just starting up and don’t have huge marketing budgets.<br>
                    For startups in fashion, e-commerce , social e-commerce, social and mobile app companies looking to launch new apps, they can now reach their industry influencers and pitch them for a tweet or personalized Facebook post.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- inBoardPro Modal -->
<div class="modal fade" id="inBoardPro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">inBoardPro</h4>
            </div>
            <div class="modal-body">
                <img src="http://i.imgur.com/U8fuYhk.png" class="img-responsive company_img_size">
                <h1 class="text-center">
                    inBoardPro<br> <br />
                    <small>
                        <a href="http://www.inboardpro.com" target="_blank">http://www.inboardpro.com</a>
                    </small>
                </h1>
                <p class="text-justify">inBoardPro is linkedin marketing on Steroids. Its a desktop application which helps you to automate everything you can do on linkedin. It helps you to manage multiple linkedin accounts, connect with new members in the linked community, post automated updates , manage all your linkedin groups and do a whole lot of things on linkedin. The open source version of inboardpro is hosted here -<a href="https://github.com/socioboard/inboard" target="_blank">https://github.com/socioboard/inboard</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- faceboardPro Modal -->
<div class="modal fade" id="faceboardPro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">faceboardPro</h4>
            </div>
            <div class="modal-body">
                <img src="http://i.imgur.com/mR7o8pT.png" class="img-responsive company_img_size">
                <h1 class="text-center">
                    faceboardPro<br><br />
                    <small>
                        <a href="http://faceboardpro.com" target="_blank">http://faceboardpro.com</a>
                    </small>
                </h1>
                <p class="text-justify">faceBoardPro is an automated facebook marketing software. It helps you to automate your regular facebook tasks with few clicks. It helps to you manage multiple facebook accounts, manage your friends, groups, pages, apps etc. Basically it can automate all your day to day facebook management tasks and save a lot of your time. The open source version of faceboardpro is hosted here -<a href="https://github.com/socioboard/faceboard" target="_blank">https://github.com/socioboard/faceboard</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- gramBoardPro Modal -->
<div class="modal fade" id="gramBoardPro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">gramBoardPro</h4>
            </div>
            <div class="modal-body">
                <img src="http://i.imgur.com/ROLgDCv.png" class="img-responsive company_img_size">
                <h1 class="text-center">
                    gramBoardPro<br><br />
                    <small>
                        <a href="http://gramboardpro.com/" target="_blank">http://gramboardpro.com</a>
                    </small>
                </h1>
                <p class="text-justify">gramBoardPro is an instagram automation power-house. It can manage all your instagram tasks , likes, comments etc. Very useful software for instagram marketers. The open source version is hosted here -<a href="https://github.com/socioboard/gramboard" target="_blank">https://github.com/socioboard/gramboard</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- twtBoardPro Modal -->
<div class="modal fade" id="twtBoardPro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">twtBoardPro</h4>
            </div>
            <div class="modal-body">
                <img src="http://i.imgur.com/0Y3tfqk.png" class="img-responsive company_img_size">
                <h1 class="text-center">
                    twtBoardPro<br><br />
                    <small>
                        <a href="http://twtboardpro.com" target="_blank">http://twtboardpro.com</a>
                    </small>
                </h1>
                <p class="text-justify">twtBoardPro is an twitter marketing platform. It helps you manage multiple twitter accounts and automate your tweets, re-tweets, favorites etc. You can do a whole lot of stuff on twitter and get ultra productive on twitter by using this software. The open source version of twtboardpro is hosted here -<a href="https://github.com/socioboard/twtboard" target="_blank"> https://github.com/socioboard/twtboard</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
