<section class="about services" id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>@GlobusMultiLanguageLib.Resources.SocioBoard_Index_Download_SourceCodeHeading</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a target="_blank" href="https://github.com/socioboard/socioboard">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Github</strong>
                                </h4>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a target="_blank" href="https://codeload.github.com/socioboard/socioboard/zip/master">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github-alt fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Github Master<br>(Direct Download)</strong>
                                </h4>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a target="_blank" href="https://socioboard.codeplex.com/releases/view/117649">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sign-in fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Codeplex</strong>
                                </h4>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <a target="_blank" href="../Versions/Enterprise">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sign-in fa-stack-1x text-primary"></i>
                                </span>
                                </a>
                                <h4>
                                    <strong>Enterprise</strong>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <h3>@GlobusMultiLanguageLib.Resources.Index_Download_FooterMessage <br>@GlobusMultiLanguageLib.Resources.Index_Download_ClickBelow</h3>
                    <div class="col-md-offset-2 col-lg-8">
                        <div class="service-item">
                            <a href="../Index/PaypalPage">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-download fa-stack-1x text-primary"></i>
                                </span>
                                </a>
                            </div>
                     </div>

                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    </section>