<section class="about services" id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Features</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-eye fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Monitor</strong>
                                </h4>
                                <p>Realtime Tracking of Social Media Platforms</p>
                              @*  <a target="_blank" class="btn btn-dark" href="#">Learn More</a>*@
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-spinner fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Analysis</strong>
                                </h4>
                                <p>Intelligent Data Mining, Warehousing and Analysis</p>
                               @* <a target="_blank" class="btn btn-dark" href="#">Learn More</a>*@
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item" id="Insightsdiv">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sign-in fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Insights</strong>
                                </h4>
                                <p>Socioboard offers detailed insights for customers</p>
                              @*  <a target="_blank" class="btn btn-dark" href="#">Learn More</a>*@
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                     
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <a target="_blank" href="/Themes/socioboard/Contents/common/@System.Configuration.ConfigurationManager.AppSettings["UserGuide"]"><i class="fa fa-file-pdf-o fa-stack-1x text-primary"></i></a>
                                  
                                </span>
                                <h4>
                                    <strong>Get User Guide</strong>
                                </h4>
                                <p>To learn more,download Guide book</p>
                                @*<a target="_blank" class="btn btn-dark" href="http://localhost:9821/Contents/common/Socioboard_User_Guide_1.0.2_Ver%207.pdf">Download Guide Book
                                </a>*@
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->


                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    </section>

<section class="bg-primary" id="services">
        <div class="container">
            <h2>Features</h2>
            <p>Social media marketers face great difficulty in accessing technology that is flexible enough to meet their needs for approval workflow, compliance, asset management, moderation, etc. Socioboard helps you leverage your social media marketing with great features such as advanced scheduling and publishing tools, prompt news feeds, interactive social discovery, sophisticated analytics, social CRM, help desk integration, collaboration tools, customizable reports and much more.
            The dashboard displays activities of your friends such as shares, new messages, events, visited locations to name a few. Content can be put into sections as per date or by events.You can engage your friends on their activities, like posts, comment and even share them. Socioboard can help you set reminders about tasks related to friends’ updates shared.You can customize stats to view according to days, groups etc. </p>
                    <!-- Tab v3 -->                
                <div class="row tab-v3">
                    <div class="col-sm-4">
                        <ul class="nav nav-pills nav-stacked"> 
                            <li class="active"><a data-toggle="tab" href="#Smart_Inbox"><i class="fa fa-envelope"></i> Smart Inbox</a></li>
                            <li class=""><a data-toggle="tab" href="#Prompt_Feeds"><i class="fa fa-cloud"></i> Prompt Feeds</a></li>
                            <li class=""><a data-toggle="tab" href="#Advanced"><i class="fa fa-users"></i> Advanced Scheduling and Publishing</a></li>
                            <li class=""><a data-toggle="tab" href="#Discovery"><i class="fa fa-gear"></i> Unique Social Discovery</a></li>
                            <li class=""><a data-toggle="tab" href="#Reports"><i class="fa fa-cloud"></i> In-depth Analytics and Reports</a></li>
                            <li class=""><a data-toggle="tab" href="#Engagement"><i class="fa fa-users"></i>Effective and Efficient Engagement</a></li>
                            <li class=""><a data-toggle="tab" href="#Monitoring"><i class="fa fa-gear"></i> Constant Real-time Monitoring</a></li>
                            <li class=""><a data-toggle="tab" href="#Team"><i class="fa fa-cloud"></i> Team Collaboration Tools</a></li>
                            <li class=""><a data-toggle="tab" href="#Social_CRM"><i class="fa fa-users"></i> Social CRM</a></li>
                            <li><a data-toggle="tab" href="#Helpdesk"><i class="fa fa-gear"></i> Helpdesk Integration</a></li>
                            <li class=""><a data-toggle="tab" href="#Mobile_Apps"><i class="fa fa-cloud"></i> Mobile Apps</a></li>
                        </ul>                    
                    </div>
                    <div class="col-sm-8">
                        <div class="tab-content">
                            <div id="Smart_Inbox" class="tab-pane fade active in">
                                <h4>Smart Inbox</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/smartmsg.png" class="img-responsive" alt="">
                                    All the public posts by a user and much more would be featured on the message page along with the message picture.User can views task and archived messages easily.</p>
                            </div>
                            <div id="Prompt_Feeds" class="tab-pane fade ">
                                <h4>Prompt Feeds</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/feeds.png" class="img-responsive" alt="">
                                   Feeds allow you to get latest status updates from friends. As of now facebook, twitter and linkedin profile can be connected to socioboard account. Users can get wallposts, status updates and scheduled messages Users can engage each other using the platform, get notifications on missed messages and much more.
                                </p>
                            </div>
                            <div id="Advanced" class="tab-pane fade">
                                <h4>Advanced Scheduling and Publishing</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/scheduled.png" class="img-responsive " alt=""> 
                                Publishing data is important part of engaging audience through social media platforms, through socioboard’s publishing tool users can schedule messages, maintain a queue and save drafted messages. You can’t miss any news about what your friends are doing having a dedicated page for notifications.</p>
                            </div>
                            <div id="Discovery" class="tab-pane fade">
                                <h4>Unique Social Discovery</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/discovery.png" class="img-responsive " alt=""> 
                                    Discovery is a marvelous function which socioboard offers by virtue of which users can avail a highly efficient search mechanism.
                                </p>
                            </div>
                            <div id="Reports" class="tab-pane fade">
                                <h4>In-depth Analytics and Reports</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/gpreport.png" class="img-responsive" alt="">
                                    Socioboard uses its statistics engine and generates analytics about various activities related to your account. It incorporates group stats, facebook engagement data, twitter stats and task related stats. All these analytics can be custom-viewed according to dates, groups etc.</p>
                            </div>
                            <div id="Engagement" class="tab-pane fade">
                                <h4>Effective and efficient Engagement</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/teamreport.png" class="img-responsive" alt="">
                                   Socioboard has capabilities to engage audiences across various platforms.It gives every platform its due importance. The degree of engagement is customized as per the platform’s importance and number of connections in it.
                                </p>
                            </div>
                            <div id="Monitoring" class="tab-pane fade">
                                <h4>Constant Real-time Monitoring</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/team.png" class="img-responsive " alt=""> 
                                Socioboard monitors data continuously across various platforms, and gives regular feeds to the end users. Feeds allow you to be in touch with family and friends. Users can engage each other using the platform, get notifications on missed messages and even more.You can also stop someone from bothering you on this platform. We respect your privacy.</p>
                            </div>
                            <div id="Team" class="tab-pane fade">
                                <h4>Team Collaboration Tools</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/feeds.png" class="img-responsive " alt=""> 
                                    Collaboration is a very important term in social media marketing, cross-functional departments can collaborate with each other to make the marketing experience more fruitful and synergistic. Socioboard comes up with a marvelous functionality by virtue of which users can reach out to each other using a highly efficient collaboration mechanism. It can serve as a platform to share information with other team members and increase workability and efficiency of all teams.
                                </p>
                            </div>
                            <div id="Social_CRM" class="tab-pane fade">
                                <h4>Social CRM</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/squeue.png" class="img-responsive" alt="">
                                   Collaboration is a very important term in social media marketing, people can collaborate with each other to make things a mutually beneficial win-win, socioboard comes up with a marvelous functionality by virtue of which users can reach out to each other using a highly efficient collaborative mechanism. It can serve as a platform to share information with other team members and increase workability and efficiency of all teams.
                                </p>
                            </div>
                            <div id="Helpdesk" class="tab-pane fade in">
                                <h4>Helpdesk Integration</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/helpdesk.png" class="img-responsive " alt=""> 
                                Socioboard not only has a world class support mechanism but also offers you helpdesk integration with your socioboard account.</p>
                            </div>
                            <div id="Mobile_Apps" class="tab-pane fade">
                                <h4>Mobile Apps</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/phone-banner.png" class="img-responsive " alt=""> 
                                   Fully functional version of Socioboard is available on web. Our Android and IOS apps work in tandem with the web Application.
                                </p>
                            </div>
                        </div>                                    
                    </div>
                </div>            
                <!-- Tab v3 -->   
        </div>
        <!-- /.container -->
   </section>