<section class="about services" id="new">
    <header id="top" class="header_li" style="margin-top:0px">
        <div class="text-vertical-center">
            <!-- <img src="Contents/img/search_comp/microsoft.png" class="galleryImgSize"> -->
            
        </div>
    </header>   
     <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Are you an aspiring software developer who wants to make a career in product com?</h3>
              	</div>
         	</div>
            <div style="margin-top:2%; font-size:15px;" class="row">
                <div class="col-lg-10 col-lg-offset-1">
                	<p>Are you an aspiring software developer who wants to make a career in product companies? </p><br>
                    <p><strong>Socioboard offers smart career choices to developers. <br><br>
                    Socioboard uses ASP.NET MVC 4.0, J Query with back end as MySQL.</strong></p><br>
                    <p>APIs to be used to retrieve or post the data to social networking sites would be:</p>
					<ul style="font-size:15px;" class="list-unstyled">
                    	<li style="padding:2%;"> <i class="fa fa-arrow-circle-o-right"></i> &nbsp; <strong> Twitter - REST API v1.1 &ndash; Wrapper Written in C#.net</strong></li>
                    	<li style="padding:2%;"> <i class="fa fa-arrow-circle-o-right"></i> &nbsp; <strong> Facebook &ndash; Graph API &ndash; Facebook C# SDK</strong></li>
                    	<li style="padding:2%;"> <i class="fa fa-arrow-circle-o-right"></i> &nbsp; <strong> LinkedIn &ndash; REST API - Wrapper Written in C#.net</strong></li>
                    	<li style="padding:2%;"> <i class="fa fa-arrow-circle-o-right"></i> &nbsp; <strong> Google Plus &ndash; HTTP API - Wrapper Written in C#.net</strong></li>
                    	<li style="padding:2%;"> <i class="fa fa-arrow-circle-o-right"></i> &nbsp; <strong> Instagram- Instagram API - Wrapper Written in C#.net</strong></li>
                    </ul>
                </div>
            </div>
            <div style="margin-top:3%; font-size:16px;" class="row">
                <div class="col-lg-10 col-lg-offset-1">
                	<p>The scheduler service, developed in C#, would run on a 24/7 server. This scheduler would post the message at the scheduled time to selected account(s).</p>
                    <p>All product companies look for developers who contribute actively to open-source or have at least one contribution to github.</p>
                    <p>Here is your chance to participate in an India based fast growing open source product and improve your developer skills and also enhance your resume and better your chances to get hired by product companies.</p>
                </div>
          	</div>
            <div style="margin-top:3%; font-size:15px;" class="row">
                <div class="col-lg-10 col-lg-offset-1">
                	<strong>Here are the steps -</strong>
                    <ul class="list-unstyled">
                    	<li style="padding:2%;"> 1. Join the project here - <a href="#">https://github.com/socioboard/socioboard</a> </li>

                        <li style="padding:2%;"> 2. Fork the project to your account. </li>
                        
                        <li style="padding:2%;"> 3. Choose anything from the project roadmap and code it as per the coding guidelines. </li>
                        
                        <li style="padding:2%;"> 4. Submit it to Socioboard team for review.  </li>
                        
                        <li style="padding:2%;"> 5. That's it! If approved we shall push your code to master and also publish your contribution in Socioboard wiki here and at socioboard.com, you can publish that in your resume and increase your chances of your getting hired and also increase your market value :)</li>
                    </ul>
                </div>
           	</div>
      	</div>
   	</section>
<script>
    $(".header_li").css('background-image', 'url("../Themes/Socioboard/Contents/img/join-socioboard.png")');
    </script>