@{
    Layout = "~/Themes/Socioboard/Views/Shared/_Socialsuite.cshtml";
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    }


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <div id="paymentsuccessful1" style="margin-top:75px">
                                <h4>Information</h4>
                                <p>You have succefully paid for socioboard installation.</p>
        <p>For more information please free to contact us via syp or can do mail to us.</p>
        <p>For using socioboard please <a href="../Index/Index">click here</a></p>
                            </div>
    </div>
</body>
</html>