@{
    
    string path = System.Configuration.ConfigurationManager.AppSettings["domain"];
}


    <!-- Disclaimer -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-offset-1">
                    <h2 class="text-center"><strong>Privacy Policy</strong></h2>   
                    <hr class="small">
                        <p><strong>Socioboard Technologies Private Limited</strong> (“us,” “we” or “our”) created this Web Site Privacy Policy (“Privacy Policy”) to ensure the confidence of our visitors and clients (“you” or “your”) with our Web site (the “Site”), and to demonstrate our commitment to fair information practices and to protect your privacy.</p>
                        <ol><strong><li>Types of Information Collected :</li></strong>
                            <ul>
                                <li>Traffic Data Collected :</li>
                                <p>We automatically track and collect the following information when you visit our Site, including your: (i) IP address; (ii) domain server; (iii) type of computer; and (iv) type of web browser (collectively “Traffic Data”). Traffic Data is anonymous information that does not personally identify you but is helpful to improve your experience on the Site and to track site usage. We may also use “cookies” to customize content specific to your interests, to ensure that you do not see the same promotional content repeatedly and to store your password (if one is required to be issued) so you do not have to re-enter it each time you visit the Site.</p>
                                <li>Personal Information Collected :</li>
                                <p>In order for you to access certain specialized services and or to purchase products offered at the Site, we may require you to provide us with information that personally identifies you (“Personal Information”). Personal Information may include: (i) Contact Data (such as your name, mailing and e-mail addresses); (ii) Demographic Data (such as your zip code, state, or industry). If you communicate with us by Email, or complete survey forms online, any information you provide may be collected as Personal Information.</p>
                                <li>Employment Information :</li>
                                <p>Through our Site we provide access to open positions under the title “Careers.” When you submit a resume via Email or through our Site, we will treat your resume with the same degree of confidentiality as if you had submitted it to us via regular mail.</p>                           
                            </ul>
                            <strong><li>Uses of Information Collected :</li></strong>
                            <ul>
                                <p>We may use Contact Data to send you information about our products or services, or promotional material, or to contact you when necessary. We may use your Demographic Data to customize and tailor your experience on the Site, displaying content that may interest you according to your preferences.</p>
                            </ul>
                            <strong><li>User Choice Regarding Collection, Use and Distribution of Personal Information :</li></strong>
                            <ul>
                                <p>You may choose not to provide us with any Personal Information. In that case you can still access and use much of the Site; however you will not be able to access and use portions of the Site that require your Personal Information.</p>
                            </ul>
                            <strong><li>Confidentiality and Security of Personal Information :</li></strong>
                            <ul>
                                <p>Except as otherwise provided in this Privacy Policy we will keep your Personal Information private and will not share it with third parties, unless such disclosure is necessary to: (a) comply with a court order or other legal process; or (b) protect our rights or property. We provide you with the capability to transmit your Personal Information via secured and encrypted channels if you use a similarly equipped web browser.</p>
                            </ul>
                            <strong><li>Other Limits to Your Privacy :</li></strong>
                            <ul>
                                <p>The Site contains links to other Web sites. We are not responsible for the privacy practices or the content of such Web sites. Please understand that any information that is disclosed in these areas becomes subject to the privacy policies and practices of those site. We have no control over its use and you should exercise caution when deciding to disclose your Personal Information.</p>
                            </ul>
                            <strong><li>Updates and Changes to Privacy Policy:</li></strong>
                            <ul>
                                <p>We reserve the right, at any time and without notice, to add to, change, update or modify this Privacy Policy, simply by posting such change, update or modification on the Site. Any such change, update or modification will be effective immediately upon posting on the Site</p>
                            </ul>
                            
                        </ol>
                    </div>
                </div>
        </div>
        <!-- /.container -->

    </section>

    

  