@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    
    }

<div class="container-fluid">
    <div class="col-md-12">
        <h1 class="page-header">Discovery allows you to find new customers by searching with keywords around your business.</h1>
        <div class="input-group custom-search-form">
            <input id="txtsearch" type="text" placeholder="Type your Keyword here..." class="form-control">
            <span class="input-group-btn">
                <button id="searchdiscovery" type="button" class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div> 
        @* <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        By Name
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        By Keyword
                      </label>
                    </div>*@
    </div>
    <div class="divider"></div>
    <div class="col-md-9">
        @*<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-facebook fa-fw"></i>Facebook Posts</h3>
            </div>
            <div class="panel-body">
                <ul id="facebookdiscovery" class="chat">
                </ul>
                <div>
                </div>
            </div>
        </div>*@
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-twitter  fa-fw"></i>Facebook Leads</h3>
            </div>
            <div class="panel-body">
                <ul id="facebookdiscovery" class="chat">
                </ul>
                <div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-linkedin fa-fw"></i>LinkedIn Leads</h3>
            </div>
            <div class="panel-body">
                <ul id="linkedindiscovery" class="chat"></ul>
                <div>
                </div>
            </div></div>
    </div>

    <div class="col-md-3 panel panel-primary" style="padding: 0px;">
        <div class="panel-heading">   <h3 class="panel-title"><i></i>Leada History</h3></div>
        <div class="panel-body">
            <div class="list-group">


                @*<ul id="" class=""></ul>*@

                @foreach (string item in (List<string>)Model)
                {
                    <div style="padding-left: 0px; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word;"><h5 style="cursor:pointer" onclick="searchKeywordFromHistory('@item')">@Uri.UnescapeDataString(item)</h5></div>
                }

            </div>
        </div>
    </div>
</div>

 @*Edited by Antima*@

<script type="text/javascript">

    $('#txtsearch').keypress(function (e) {
        debugger;
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $("#searchdiscovery").click();
        }
    });

    // Edited by Antima

    function searchKeywordFromHistory(keyword)
    {
        debugger;
      //  alert("success");
        $('#txtsearch').val(keyword);

       // $('#facebookdiscovery').html('<img src="../Themes/@path/Contents/img/360.gif" />');
        $('#facebookdiscovery').html('<img src="../Themes/@path/Contents/img/360.gif" />');
        $('#linkedindiscovery').html('<img src="../Themes/@path/Contents/img/360.gif" />');
        //$.ajax({
        //    type: 'GET',
        //    url: '../Discovery/SearchFacebook?keyword=' + keyword,
        //    success: function (msg) {
        //        //alert(msg);
        //        $('#facebookdiscovery').html(msg);
        //    }
        //});
        $.ajax({
            type: 'GET',
            url: '../DiscoveryLeads/GetFaceBookLeads?keyword=' + keyword,
            success: function (msg) {
                //alert(msg);
                $('#facebookdiscovery').html(msg);
            }
        });
        $.ajax({
            type: 'GET',
            url: '../DiscoveryLeads/GetLinkedInLead?keyword=' + keyword,
            success: function (msg) {
                //alert(msg);
                $('#linkedindiscovery').html(msg);
            }
        });

    }

</script>
