@using Domain.Socioboard.Domain;
@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
}

<section class="services bg-primary" id="services">
    <div class="container">

        <div class="col-md-4">
            <h2>Now a Social Media Dashboard You Can Call Your Own!</h2>
            <h4>Benefits:</h4>
            <ul>
                <li>Customizable as per your needs</li>
                <li>Flexible Client Management</li>
                <li>Competitive price</li>
                <li>World Class Support</li>
                <li>Comes with Mobile App - Android and IOS</li>
            </ul>
            <p>Interested? One of our account managers will be in touch...</p>
            <form role="form">
                <div class="form-group input-group">
                    <span class="input-group-addon">F</span>
                    <input type="text" id="FirstName" placeholder="First Name" class="form-control">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">L</span>
                    <input type="text" id="LastName" placeholder="Last Name" class="form-control">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">E</span>
                    <input type="text" id="Emailid" placeholder="Email id" class="form-control">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">C</span>
                    <input type="text" id="Company" placeholder="Company" class="form-control">
                </div>
                <div class="form-group">
                    <textarea id="Message" placeholder="Message" rows="3" class="form-control"></textarea>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">P</span>
                    <input type="text" id="Phone" placeholder="Phone" class="form-control">
                </div>
                <button class="btn btn-warning" id="submit" type="submit">Submit Button</button>
                <button class="btn btn-default" type="reset">Reset Button</button>
            </form>
        </div>
        <div class="col-md-8">
            <h3>Are you an Agency?</h3>
            <p>
                Increase and nurture your clientele with the Socioboard’s offerings designed uniquely for the Agencies. These versions have a great interface that anybody can understand, powerful engagement tools and customizable analytics to monitor, analyze and report across countless social profiles. What’s more, you can feature your own logo and domain name, so your clients consider it your product, not to mention Socioboard anywhere.
                Agencies can use commerically supported whitelabel version of Socioboard. Its fully open sourced and customizable as per your agency needs.
            </p>
            <img src="/Themes/@path/Contents/img/agency1.png" class="img-responsive">
            <p>Agency White Label version is best suited to Small and Medium Enterprises (SMEs) who’d need support, updates, upgrades and related apps for being able to use Socioboard effectively to continue to build their clientele and their brands.</p>

            @*<p>The White Label version is priced at $2999 per annum. Click <a target="_blank" href="../Index/PaypalAgency">here</a> to buy the White label version now!</p>  *@

        </div>
        <div class="col-md-12" style="padding-top: 20px; margin-left:120px">
            <div class="" style="margin-left:100px; margin-bottom:33px"><h3>Agency White Label version is available in three different variants</h3></div>
            <div class="row">
                <div class="col-md-2">
                    <div class="service-item">
                        <a href="">
                            <span class="fa-stack fa-4x">
                                <i><img src="/Themes/@path/Contents/img/Agency_icon1.png" style="height:100px"></i>
                                @*<i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bell fa-stack-1x text-primary"></i>*@
                            </span>
                        </a>
                        <h4>
                            <strong>Agency Lite</strong>
                        </h4>
                    </div>
                </div>
                <div class="col-md-9" style="margin-top:29px; margin-left:-66px">
                    <p><strong>Agency Lite is best suited for small agencies. You could put your logo and deploy it up.Click <a id="AgencyLite" onclick="AgencyPlan(this)" style="cursor: pointer"> here </a>to buy agency lite of $499.</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="service-item">
                        <a href="">
                            <span class="fa-stack fa-4x">
                                 <i><img src="/Themes/@path/Contents/img/Agency_icon2.png" style="height:100px"></i>
                               @* <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bell-o fa-stack-1x text-primary"></i>*@
                            </span>
                        </a>
                        <h4>
                            <strong>Agency Pro</strong>
                        </h4>
                    </div>
                </div>
                <div class="col-md-9" style="margin-top:29px; margin-left:-66px">
                    <p><strong>Agency Pro allows you to deploy with your logo as well as your theme. It makes your customers feel at home.Click<a id="AgencyPro" onclick="AgencyPlan(this)" style="cursor: pointer">  here </a> to buy agency pro of $999.</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="service-item">
                        <a href="">
                            <span class="fa-stack fa-4x">
                                 <i><img src="/Themes/@path/Contents/img/Agency_icon3.png" style="height:100px"></i>
                             @*   <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bell-slash-o fa-stack-1x text-primary"></i>*@
                            </span>
                        </a>
                        <h4>
                            <strong>Agency Premium</strong>
                        </h4>
                    </div>
                </div>
                <div class="col-md-9" style="margin-top:29px; margin-left:-66px">
                    <p><strong>Agency Premium offers full customization with your logo, theme and also iOS and Android apps. This is a full-fledged version suitable for scaling agencies. Click <a id="AgencyPremium" onclick="AgencyPlan(this)" style="cursor: pointer"> here </a> to buy this license of $2999.</strong></p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function () {
            debugger;
            var FirstName = $('#FirstName').val();
            var LastName = $('#LastName').val();
            var EmailId = $('#Emailid').val();
            var Company = $('#Company').val();
            var Phoneno = $('#Phone').val();
            var Message = $('#Message').val();

            if (FirstName != "" || LastName != "" || EmailId != "" || Company != "" || Phoneno != "") {
                if (validateFName(FirstName)) {
                    if (validateFName(LastName)) {
                        if (validateEmail(EmailId)) {
                            if (validatePhone(Phoneno)) {
                                // alert("Success");
                                $.ajax({
                                    url: "../Versions/SendAgencyMail?name=" + FirstName + "&lname=" + LastName + "&email=" + EmailId + "&Company=" + Company + "&Message=" + Message + "&phone=" + Phoneno,
                                    type: "post",
                                    data: '',
                                    success: function (data) {
                                        if (data == "Success") {
                                            alertify.success('Mail has been sent successfully!');
                                            $('#Fname').val('');
                                            $('#Lname').val('');
                                            $('#Email').val('');
                                            $('#Company').val('');
                                            $('#Messages').val('');
                                            $('#Phone').val('');
                                        }
                                        else {
                                            alertify.error("failure");
                                            return false;
                                        }
                                    },
                                    error: function () {
                                        alert("failure");
                                    }
                                });
                            }
                            else {
                                alert('Please enter valid Phone No.');
                            }
                        }
                        else {
                            alert('Please enter valid Last Name');
                        }
                    }
                    else {
                        alert('Please enter valid Email ID');
                    }
                }
                else {
                    alert('Please enter valid First Name');
                }
            }
            else {
                alert('Please Fill all the fields');
            }
        });
    });

    function AgencyPlan(e) {
        debugger;
        var PlanType = $(e).attr('id');
        $.ajax({
            type: 'POST',
            url: '../Index/PaypalAgency?PlanType=' + PlanType,
            success: function (msg) {
                window.open(msg);
            },
            async: false
        });
    }


    function validatePhone($Phoneno) {
        var phoneReg = /^\d{10}$/;
        if (!phoneReg.test($Phoneno)) {
            return false;
        } else {
            return true;
        }
    }

    function validateEmail($EmailId) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test($EmailId)) {
            return false;
        } else {
            return true;
        }
    }

    function validateFName($FirstName) {
        var fnameReg = /^[A-Z,a-z._]+$/;
        if (!fnameReg.test($FirstName)) {
            return false;
        } else {
            return true;
        }
    }
</script>
