/SocioBoard/New Text Document.txt
/SocioBoard/Library/GlobusMailLib
/SocioBoard/SocioBoard/iPad.aspx
/SocioBoard/SocioBoard/Admin
/SocioBoard/SocioBoard/API
/SocioBoard/SocioBoard/Web.config
/SocioBoard/DBSchema
/SocioBoard/SocialSiteDataService
/SocioBoard/SocioBoardScheduler
/SocioBoard/Socioboard/hibernate.cfg.xml
/SocioBoard/Domain.Socioboard/bin
/SocioBoard/Domain.Socioboard/obj
/SocioBoard/Socioboard/bin
/SocioBoard/Socioboard/obj
/SocioBoard/SocioboardDataScheduler/bin
/SocioBoard/SocioboardDataScheduler/obj
/SocioBoard/SocioboardDataServices/bin
/SocioBoard/SocioboardDataServices/obj
/SocioBoard/SocioboardAPI/Library/GlobusGooglePlusLib/obj
/SocioBoard/SocioboardAPI/Library/GlobusGooglePlusLib/bin
/SocioBoard/SocioboardAPI/Library/GlobusInstagramLib/GlobusInstagramLib/bin
/SocioBoard/SocioboardAPI/Library/GlobusInstagramLib/GlobusInstagramLib/obj
/SocioBoard/SocioboardAPI/Library/GlobusLinkedinLib/obj
/SocioBoard/SocioboardAPI/Library/GlobusLinkedinLib/bin
/SocioBoard/SocioboardAPI/Library/GlobusMailLib/bin
/SocioBoard/SocioboardAPI/Library/GlobusMailLib/obj
/SocioBoard/SocioboardAPI/Library/GlobussDropboxLib/obj
/SocioBoard/SocioboardAPI/Library/GlobussDropboxLib/bin
/SocioBoard/SocioboardAPI/Library/GlobusTumblerLib/bin
/SocioBoard/SocioboardAPI/Library/GlobusTumblerLib/obj
/SocioBoard/SocioboardAPI/Library/GlobusTwitterLib/bin
/SocioBoard/SocioboardAPI/Library/GlobusTwitterLib/obj
/SocioBoard/testfile.txt
