/SocioBoard/New Text Document.txt
/SocioBoard/Library/GlobusMailLib
/SocioBoard/SocioBoard/iPad.aspx
/SocioBoard/SocioBoard/Admin
/SocioBoard/SocioBoard/API
/SocioBoard/SocioBoard/Web.config
/SocioBoard/DBSchema
/SocioBoard/SocialSiteDataService
/SocioBoard/SocioBoardScheduler
/SocioBoard/Socioboard/hibernate.cfg.xml
