<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>


  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Users\Globussoft\Desktop\log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} Class:%type Method:%method Line #: %line  – %m%n" />
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>

    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>

    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  
  
  
  <appSettings>
    <add key="projectName" value="WooSuite" />
    <add key="projectlogo" value="../Contents/img/admin/logo.png" />
    <!--Twitter-->
   
    <add key="consumerKey" value="lHBcE5MArX0J3x0GXDssg" />
    <add key="consumerSecret" value="HlpPsGMQxy8gjTQ4R6GKEketND3gk15e6i1pH80n4" />
    <add key="callbackurl" value="http://mooplesocial.net/TwitterManager.aspx" />
    
   
    
    
    
    <!--Facebook-->
  
    <!--<add key="ClientId" value="514689525279230" />
    <add key="ClientSecretKey" value="d86c589008aa51cb8cd4b1c492e096e0" />
    <add key="RedirectUrl" value="http://mooplesocial.net/FacebookManager.aspx" />-->

    <add key="ClientId" value="563020143793820" />
    <add key="ClientSecretKey" value="f75bfcbb45113ae708c9830974d62709" />
    <add key="RedirectUrl" value="http://localhost:5332/FacebookManager.aspx" />
    
    <!--LinkedIn-->
    <add key="LiApiKey" value="mvxofywwyyzq" />
    <add key="LiSecretKey" value="SbShvYTxRRai6JQD" />
    <!--Instagram App Credentials-->
    <add key="InstagramClientKey" value="0e717c9561804a6b94a815ccf8e10d63" />
    <add key="InstagramClientSec" value="650d736508124b26b9b45e6562c637a4" />
    <add key="InstagramCallBackURL" value="http://mooplesocial.net/InstagramManager.aspx" />
    
    <!-- Google Plus -->
    <add key="GplusClientId" value="502778499719.apps.googleusercontent.com" />
    <add key="GplusClientSecretKey" value="kmX6hP6T9I752rV88ArvNhrT" />
    <add key="GplusRedirectUrl" value="http://mooplesocial.net/GplusManager.aspx" />
    
    
    <!-- Google Analytics -->
    <add key="GaClientId" value="563035263978.apps.googleusercontent.com" />
    <add key="GaClientSecretKey" value="iuReXTcNUfT1jzwDas0Vnjme" />
    <add key="GaRedirectUrl" value="http://mooplesocial.net/GoogleAnalyticsManager.aspx" />
    <!--mailer setting-->

    <!--<add key="host" value="smtp.sendgrid.net" />
    <add key="port" value="25" />
    <add key="username" value="woosuite"/>
    <add key="fromemail" value="woosuite@vgames.tv"/>
    <add key="password" value="WooSuite2013" />-->
    
    <add key="host" value="smtp.sendgrid.net" />
    <add key="port" value="25" />
    <add key="username" value="woosuite" />
    <add key="fromemail" value="hi@mooplesocial.com" />
    <add key="password" value="WooSuite2013" />
    <add key="SuccessURL" value="http://127.0.0.1:5332/WebForm1.aspx" />
    <add key="FailedURL" value="http://localhost:5332/Welcome.aspx" />
    <add key="paypalemail" value="pbpraveen@globussoft.com" />





    <!--Mandrill mailer setting-->
    <add key="Mandrillhost" value="smtp.mandrillapp.com" />
    <add key="Mandrillport" value="587" />
    <add key="Mandrillusername" value="ajaypandey@globussoft.com"/>
    <add key="Mandrillpassword" value="xrLs34jC9KXYqfi2M7CxOw"/>
    
    
    
    
    
    
    
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Detailed"></httpErrors>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" />
    </handlers>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>