
#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
img {
  /*width: 100%;*/
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 320px) {
    .socialIcon1 {
        padding-left: 43%;
    }
    .socialIcon2 {
        padding-left: 25%;
    }
}

@media (min-width: 480px) {
    .socialIcon1 {
        padding-left: 45%;
    }
    .socialIcon2 {
        padding-left: 34%;
    }
}

@media (min-width: 768px) {
    .socialIcon1 {
        padding-left: 45%;
    }
    .socialIcon2 {
        padding-left: 4%;
    }
}

@media (min-width: 1280px) {
    .socialIcon1 {
        padding-left: 0%;
    }

    .socialIcon2 {
        padding-left: 17%;
    }
}

@media (min-width: 1300px) {
    .socialIcon1 {
        padding-left: 0%;
    }
    .socialIcon2 {
        padding-left: 0%;
    }
}