<body style="background-color:#310B39;">
            <div style="width:1000px; height:auto; margin:0 auto;">
                                        <div  style="width: 990px; padding-top: 17px; text-align: center; height: 80px; background: none repeat scroll 0px 0px rgb(91, 8, 109); border-top-left-radius:5px; border-top-right-radius:5px;">
                                                <img src="http://www.socioboard.com/Contents/img/ssp/logo-txt.png" alt="" />
                                        </div>
                                       <div style="height: auto; float: left; background: none repeat scroll 0% 0% rgb(255, 255, 255);  padding-left: 10px; padding-right: 10px; border: 1px solid rgb(63, 4, 76); width: 968px; border-top:none;">
                                        <p style="margin-top: 8px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;"> 
                                        Hi [Name]</p> 
                                        <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
                                        Congratulations! [SenderName] has added you to your company's SocioBoard account.</p> 
                                        <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
                                        SocioBoard is a leading social media management and engagement platform built specifically for team collaboration and businesses like yours.</p> 
                                        <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
                                        <a href="[URLLOGIN]">Login Now</a> to start using your new account. Signup is a snap and your brand's group account owner has already handled payment for your user account.</p>
                                        <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;"> 
                                               As you get started, we recommend you attend one of our weekly webinars. An esteemed Socioboard product specialist will walk through features and
                                         functionality most relevant to your team, and answer any questions you may have. 
                                        <a href="[URLREG]">Register Now</a></p>
                                        <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
                                        As a SocioBoard user, you'll enjoy unlimited access to: </p>
                                        <ul style="margin-left:0; margin-top:0; width:980px; float:left; list-style:disc; text-align:justify;">
                                        <li style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; width:980px; height:auto; float:left;">
                                        Collaboration tools such as assign task and reply history </li> 
                                        <li style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; width:980px; height:auto; float:left;">
                                        Detailed reports on reach, engagement, and impressions</li>
                                        <li style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; width:980px; height:auto; float:left;">
                                        Continuous monitoring for targeted prospects</li>
                                        <li style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; width:980px; height:auto; float:left;">
                                        Powerful scheduling and posting tools</li>
                                        <li style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; width:980px; height:auto; float:left;">
                                        The best and most supportive support team in the business!</li></ul>
                                        <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
                                        If you have questions, don't hesitate to reach out at: <a href="#"> SocioBoard@sb.com</a>. Also, we'll be in touch periodically with additional resources and
                                        best practices to help you make the most of your Socioboard experience and deliver better return on your social media efforts</p>
                                        <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
                                        <i>- Team SocioBoard </i></p></div></div></body>