@font-face {
    font-family: 'code_boldregular';
    src: url('../fonts/code-bold-webfont.eot');
    src: url('../fonts/code-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/code-bold-webfont.woff') format('woff'),
         url('../fonts/code-bold-webfont.ttf') format('truetype'),
         url('../fonts/code-bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'code_lightregular';
    src: url('../fonts/code-light-webfont.eot');
    src: url('../fonts/code-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/code-light-webfont.woff') format('woff'),
         url('../fonts/code-light-webfont.ttf') format('truetype'),
         url('../fonts/code-light-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/lanenar_-webfont.eot');
    src: url('../fonts/lanenar_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lanenar_-webfont.woff') format('woff'),
         url('../fonts/lanenar_-webfont.ttf') format('truetype'),
         url('../fonts/lanenar_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa-bold-webfont.eot');
    src: url('../fonts/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa-bold-webfont.woff') format('woff'),
         url('../fonts/nexa-bold-webfont.ttf') format('truetype'),
         url('../fonts/nexa-bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa-light-webfont.eot');
    src: url('../fonts/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa-light-webfont.woff') format('woff'),
         url('../fonts/nexa-light-webfont.ttf') format('truetype'),
         url('../fonts/nexa-light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swis721_lt_btlight';
    src: url('../fonts/tt0001m_-webfont.eot');
    src: url('../fonts/tt0001m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt0001m_-webfont.woff') format('woff'),
         url('../fonts/tt0001m_-webfont.ttf') format('truetype'),
         url('../fonts/tt0001m_-webfont.svg#swis721_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swis721_btroman';
    src: url('../fonts/tt0003m_-webfont.eot');
    src: url('../fonts/tt0003m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt0003m_-webfont.woff') format('woff'),
         url('../fonts/tt0003m_-webfont.ttf') format('truetype'),
         url('../fonts/tt0003m_-webfont.svg#swis721_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swis721_btbold';
    src: url('../fonts/tt0005m_-webfont.eot');
    src: url('../fonts/tt0005m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt0005m_-webfont.woff') format('woff'),
         url('../fonts/tt0005m_-webfont.ttf') format('truetype'),
         url('../fonts/tt0005m_-webfont.svg#swis721_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swis721_hv_btheavy';
    src: url('../fonts/tt0102m_-webfont.eot');
    src: url('../fonts/tt0102m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt0102m_-webfont.woff') format('woff'),
         url('../fonts/tt0102m_-webfont.ttf') format('truetype'),
         url('../fonts/tt0102m_-webfont.svg#swis721_hv_btheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}