<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!--<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>-->
  </configSections>
  <appSettings>

    <!--Twitter-->
    <!--<add key="consumerKey" value=""/>
    <add key="consumerSecret" value=""/>
    <add key="callbackurl" value="http://localhost:5330/TwitterManager.aspx"/>-->
    <add key="consumerKey" value="" />
    <add key="consumerSecret" value="" />
    <add key="callbackurl" value="http://woosuite.socioboard.com/TwitterManager.aspx" />

    <!--Facebook Local-->
    <add key="ClientId" value=""/>
    <add key="ClientSecretKey" value=""/>
    <add key="RedirectUrl" value="http://localhost:5330/FacebookManager.aspx"/>

    <!--LinkedIn-->
    <add key="LiApiKey" value=""/>
    <add key="LiSecretKey" value=""/>

    

    <!--mailer setting-->
    <add key="host" value=""/>
    <add key="port" value=""/>
    <add key="username" value=""/>
    <add key="pasword" value=""/>
  </appSettings>

  <log4net debug="false">
    <!--
  This writes the GlobusLogHelper.log information to the console window.  It only logs events
  that are at least at the INFO level (which would mean that DEBUG events are not
  captured.
  -->

    <!--
  This stores information in the mylogfile.txt file.  It only captures GlobusLogHelper.log events
  that contain the key word test or error.
  -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL"/>
        <!--INFO-->
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="ERROR"/>
      <file value="D:\logs.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>

    <appender name="GlobusLogAppender" type="SocialSiteDataService.GlobusLogAppender">
      <!--type="BaseLib.Logger.Appender.GlobusLogAppender,BaseLib.Logger.Appender">-->
      <threshold value="ERROR"/>
    </appender>

    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingFileAppender"/>
      <level value="INFO"/>
      <appender-ref ref="GlobusLogAppender"/>
      <logger name="NHibernate" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="GlobusLogAppender"/>
      </logger>
    </root>

  </log4net>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
