<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>


  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} Class:%type Method:%method Line #: %line  – %m%n"/>
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>

    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>

    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>



  <appSettings>
    
    <!--local host app for social networks-->
    
    <!--Twitter-->
    <!--<add key="consumerKey" value="DUJWYl2P1UDVrmeICftkxA" />
    <add key="consumerSecret" value="Z25Tj7yjK9MQHujatNkr2lmiwX4P2W1iOtpmXHzVc" />
    <add key="callbackurl" value="http://localhost:5332/TwitterManager.aspx" />-->

    <!--Facebook-->
    <!--<add key="ClientId" value="155435807943346" />
    <add key="ClientSecretKey" value="79a9955a5b7712c628718eb723e7de11" />
    <add key="RedirectUrl" value="http://localhost:5332/FacebookManager.aspx" />-->

    <!--Instagram App Credentials-->
    <!--<add key="InstagramClientKey" value="3c5fcd51e7a24938813cb4a7c5102a1a" />
    <add key="InstagramClientSec" value="2f2ccad54dc54272ad608fd9aa940786" />
    <add key="InstagramCallBackURL" value="http://localhost:5332/InstagramManager.aspx" />-->


         <!--Server Apps-->


    <!--gplus-->
    <add key="GplusClientId" value="489316289599-mperb73ijankeaheedsc2gu960u69asn.apps.googleusercontent.com" />
    <add key="GplusClientSecretKey" value="rjjCnUu1sZsekVRGmZoKSB2f" />
    <add key="GplusRedirectUrl" value="http://socioboard.com/GplusManager.aspx"/>
    
    
    
    <!--Twitter-->
    <add key="consumerKey" value="h4FT0oJ46KBBMwbcifqZMw" />
    <add key="consumerSecret" value="yfowGI2g21E2mQHjtHjUvGqkfbI7x26WDCvjiSZOjas" />
    <add key="callbackurl" value="http://socioboard.com/TwitterManager.aspx" />
   
    <!--LinkedIn-->
    
    <add key="LiApiKey" value="75glpifv8zy85x" />
    <add key="LiSecretKey" value="R5lGtL0Z2gCzBc6F" />

    <add key="InstagramClientKey" value="c3faee548f5641459ed27671018a1640" />
    <add key="InstagramClientSec" value="0d31d51145cb4108887ee081ee4c7f76" />
    <add key="InstagramCallBackURL" value="http://socioboard.com/InstagramManager.aspx" />
    
    <!--Facebook-->
    <add key="ClientId" value="730896073595509" />
    <add key="ClientSecretKey" value="6f5590e64eaa924cb08f6c883f68f7dc" />
    <add key="RedirectUrl" value="http://socioboard.com/FacebookManager.aspx" />


    <!--mailer setting-->
    <add key="host" value="smtp.sendgrid.net" />
    <add key="port" value="25" />
    <add key="username" value="socioboard"/>
    <add key="fromemail" value="support@socioboard.com"/>
    <!--<add key="fromemail" value="abhaymondal@globussoft.com"/>-->
    <add key="password" value="Sup12345" />
    <add key="tomail" value="support@socioboard.com" />
    <!--<add key="username" value="woosuite"/>
    <add key="fromemail" value="woosuite@vgames.tv"/>
    <add key="password" value="WooSuite2013" />-->

    <!--SMTP mailer setting-->
    <add key="SMTPhost" value="smtp.gmail.com" />
    <add key="SMTPport" value="587" />
    <add key="SMTPusername" value="abhay.globussoft@gmail.com"/>
    <add key="SMTPpassword" value="abhay123456"/>
    <!--Mandrill mailer setting-->
    <add key="Mandrillhost" value="smtp.mandrillapp.com" />
    <add key="Mandrillport" value="587" />
    <add key="Mandrillusername" value="ajaypandey@globussoft.com"/>
    <add key="Mandrillpassword" value="xrLs34jC9KXYqfi2M7CxOw"/>
    
    
    
    
    
    
    
    <add key="SuccessURL" value="http://127.0.0.1:5332/WebForm1.aspx" />
    <add key="FailedURL" value="http://localhost:5332/Welcome.aspx" />
    <add key="paypalemail" value="pbpraveen@globussoft.com" />
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <!--<customErrors mode="On">
      <error statusCode="404"  redirect="~/Error.aspx" />
      <error statusCode="403"  redirect="~/Error.aspx" />
    </customErrors>-->
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Detailed"></httpErrors>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>