@{
    
    Layout = null;
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    Layout = null;
    //if (Session["User"] != null)
    //    Response.Redirect("../Home/Index");
 }

<section class="services bg-primary" id="services">
        <div class="container">
            <h2>Company</h2>
                    <!-- Tab v3 -->                
                <div class="row tab-v3">
                    <div class="col-sm-3">
                        <ul class="nav nav-pills nav-stacked"> 
                                                        
                            @*<li>
                           <div id="translate-this"><a style="width:180px;height:18px;display:block;" class="translate-this-button" href="http://www.translatecompany.com/translate-this/">Translate This</a></div>
                        </li>*@
                             <li>
                           <div id="translateFlags"></div>
                        </li>
                            <li class="active" onclick="ResetAll()"><a data-toggle="tab" href="#About"><i class="fa fa-home"></i> About</a></li>
                            <li class="" onclick="ResetAll()"><a data-toggle="tab" href="#Customers"><i class="fa fa-cloud"></i> Customers</a></li>
                            <li class="" onclick="ResetAll()"><a data-toggle="tab" href="#Partners"><i class="fa fa-users"></i> Partners</a></li>
                            <li class="" onclick="ResetAll()"><a data-toggle="tab" href="#Careers"><i class="fa fa-gear"></i> Careers</a></li>                        
                        </ul>                    
                    </div>
                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div id="About" class="tab-pane fade active in">
                                <h4>About</h4>
                                <p>Socioboard is a next generation social media management application which leverages handling umpteen number of social media platforms through a revolutionary open source lite version and higher end versions which have unmatched world class technical support available round the clock. 
                                We are trying to solve the problem which an average netizen faces while handling many social network profiles on the web. The mass generally has at least three social profiles, and businesses have a more complex social networking structure. The process of managing many social networks at once is very cumbersome and it takes its toll, Socioboard is here to settle all these issues. 
                                Socioboard offers the following values to your business: 
                                Objective of Socioboard is to solve the chaos surrounding social media platform management. 
                                Most applications in this domain have a very narrow and limited approach towards end users, people feel caught up in a whirlpool, Socioboard plans to help users out of this vision.</p>
                            </div>
                            <div id="Customers" class="tab-pane fade">
                                <h4>Customers</h4>
                                <p>
                                    <img src="/Themes/Socioboard/Contents/img/ssp/socialscoup_logo.png" class="img-responsive partner" alt="">
                                    <img src="/Themes/Socioboard/Contents/img/ssp/socialpour_logo.png" class="img-responsive partner" alt="">
                                    <img src="/Themes/Socioboard/Contents/img/ssp/msocial_logo.png" class="img-responsive partner" alt="">
                                </p>
                            </div>
                            <div id="Partners" class="tab-pane fade">
                                <h4>Partners</h4>
                                <p>
                                Socioboard is in course of establishing partnerships with Cloud Services Providers as MS Azure, Amazon AWS etc. We are also in process of hosting plugins and applications from us as well as partners. We will continuously improve features as the feedback comes from our partners.</p>
                                <img src="/Themes/Socioboard/Contents/img/ssp/amazonaws.png" class="img-responsive partner" alt=""> 
                                <img src="/Themes/Socioboard/Contents/img/ssp/azure.jpg" class="img-responsive partner" alt=""> 
                            </div>
                            <div id="Careers" class="tab-pane fade">
                                <h4>Careers</h4>
                                <p>Socioboard offers you opportunities and challenges to help you advance on your career path and achieve personal and professional development. Join our team. We’ll help you develop and accelerate your career by providing you with opportunities to amplify your talents. You can expect us to nurture your strengths and value your unique perspectives, and in return we expect you to share our passion for ‘excellence’ in everything we do.
                                </p>
                                @*<form role="form">*@
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">F</span>
                                        <input id="fname" type="text" placeholder="First Name" class="form-control">
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">L</span>
                                        <input id="lname" type="text" placeholder="Last Name" class="form-control">
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">E</span>
                                        <input id="emailid" type="text" placeholder="Email id" class="form-control">
                                    </div>
                                    <div class="form-group input-group">
                                        <label>File input</label>
                                        <input id="fileuploadText" type="file" onchange="showfile()" class="btn btn-default">
                                    </div>
                                    <div class="form-group">
                                        <label>Text area</label>
                                        <textarea id="profile" rows="3" class="form-control"></textarea>
                                    </div>
                                    <button class="btn btn-warning" type="submit" onclick="submitcontact()">Submit Button</button>
                                    <button class="btn btn-default" type="reset" onclick="ResetAll()">Reset Button</button>
                               @* </form>*@
                            </div>
                        </div>                                    
                    </div>
                </div>            
                <!-- Tab v3 -->    
        </div>
        <!-- /.container -->

    </section>
<!-- Begin TranslateThis Button -->

@*<div id="translate-this"><a style="width:180px;height:18px;display:block;" class="translate-this-button" href="http://www.translatecompany.com/translate-this/">Translate This</a></div>*@

@*<script type="text/javascript" src="http://x.translateth.is/translate-this.js"></script>

<script type="text/javascript">
    TranslateThis(
        );
</script>*@
<div id="translate-this"><a href="http://translateth.is/" class="translate-this-button">Translate</a></div>
 
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://x.translateth.is/translate-this.js"></script>
<script type="text/javascript">
    TranslateThis();
</script>

@*<script src="../../Themes/@path/Contents/js/translate-it.js" type="text/javascript"></script>*@
@*<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="../../Themes/@path/Contents/js/translate.js"></script>
<div id="mlt_languagelist">Enable JavaScript!</div>*@

<!-- End TranslateThis Button -->

<script src="../../Themes/@path/Contents/js/translate-it.js" type="text/javascript"></script>

<script type="text/javascript">
    TranslateIt.init();
</script>

<script type="text/javascript">
    //function showfile() {
    //    debugger;
    //    var ext = $('#fileuploadText').val().split('.').pop().toLowerCase();
    //    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) != -1) {
    //        alert('Please choose a file instead of image!');
    //        $('#fileuploadText').val('');
    //    }
    //}
    function showfile() {
        debugger;
        var ext = $('#fileuploadText').val().split('.').pop().toLowerCase();
        if ($.inArray(ext, ['pdf', 'oxps', 'pages', 'edoc', 'doc', 'xps', 'docx', 'fdf', 'word', 'txt']) == -1) {
            alert('Please Upload Any Document File');
            $('#fileuploadText').val('');
        }
    }
    function submitcontact() {
        debugger;
        var a=0;
        var fd = new FormData();
        var fname = $('#fname').val();
        var lname = $('#lname').val();
        var email = $('#emailid').val();
        var Subject = 'Socioboard career';
        var profile = $('#profile').val();
        var file = document.getElementById("fileuploadText");
        if (file != null && file != '') {
            if (file.files[0].size <= 500*1024) {
                fd.append('file', fileuploadText.files[0]);
            }
            else {
                alert("Maximum file size 500KB");
                return false;
            }
        }
        else {
            alert('Please Attach file');
            return false;
        }
        if (fname == "" || email == "" || profile == "") {
            alert('Please fill all the fields')
            return false;
        }
        {
            if (!validateFName(fname)) {
                alert('Please enter valid First Name');
                return false;
            }
            else if (!validateLName(lname)) {
                alert('Please enter valid Last Name');
                return false;
            }
            if (!validateEmail(email)) {
                alert('not valid email');
                return false;
            }
            else {
                $.ajax({
                    url: "../Index/SendCareerMail?fname=" + fname + "&lname=" + lname + "&email=" + email + "&Subject=" + Subject + "&profile=" + profile,
                    type: "post",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (msg) {
                        debugger;
                        if (msg == "Success") {
                            alertify.success('Mail has been sent successfully!');
                            $('#fname').val('');
                            $('#lname').val('');
                            $('#emailid').val('');
                            $('#profile').val('');
                            $('#fileuploadText').val('');
                        }
                        else {
                            alertify.error("failure");
                            return false;
                        }
                    },
                    error: function () {
                        alert("failure");
                    }
                });
            }
        }
    }
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test($email)) {
            return false;
        } else {
            return true;
        }
    }
    function validateFName($name) {
        var fnameReg = /^[A-Z,a-z._]+$/;
        if (!fnameReg.test($name)) {
            return false;
        } else {
            return true;
        }
    }
    function validateLName($lname) {
        var lnameReg = /^[A-Z,a-z._]+$/;
        if (!lnameReg.test($lname)) {
            return false;
        } else {
            return true;
        }
    }

    function ResetAll() {
        $('#fname').val('');
        $('#lname').val('');
        $('#emailid').val('');
        $('#profile').val('');
        $('#fileuploadText').val('');
    }

</script>