<div class="smart_search">
                            	<div class="title">
                                	Discovery allows you to find new customers by searching for keywords around your business. 
                                </div>
                               
                                	
                                  <div class="input_text_select">
                                	<input type="text" id="ContentPlaceHolder1_txtSearchText" name="ctl00$ContentPlaceHolder1$txtSearchText">
                                     <input type="submit" id="ContentPlaceHolder1_btnSearch" value="Search" name="ctl00$ContentPlaceHolder1$btnSearch">

                                </div>
                                    <!--<asp:TextBox ID="txtSearchText" runat="server"></asp:TextBox>
                                     <asp:Button ID="btnSearch" runat="server" Text="Search" onclick="btnSearch_Click"
                                        ></asp:Button>-->

                     
                                <div id="searchresults"  runat="server" class="messages">
                                <div id ="DivAll"></div>
                                <div id ="TwtResults" runat="server"></div>
                                <div id ="FbResults" runat="server"></div>
                                </div>
                            </div>