<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <!--local host app for social networks-->

    <!--Twitter-->
    <!--<add key="consumerKey" value="DUJWYl2P1UDVrmeICftkxA" />
    <add key="consumerSecret" value="Z25Tj7yjK9MQHujatNkr2lmiwX4P2W1iOtpmXHzVc" />
    <add key="callbackurl" value="http://localhost:5332/TwitterManager.aspx" />-->

    <!--Facebook-->
    <add key="ClientId" value="258313811000992" />
    <add key="ClientSecretKey" value="7a81c03b966537e0dffadff8d4a285d6" />
    <add key="RedirectUrl" value="http://localhost:5332/FacebookManager.aspx" />

    <!--Instagram App Credentials-->
    <!--<add key="InstagramClientKey" value="3c5fcd51e7a24938813cb4a7c5102a1a" />
    <add key="InstagramClientSec" value="2f2ccad54dc54272ad608fd9aa940786" />
    <add key="InstagramCallBackURL" value="http://localhost:5332/InstagramManager.aspx" />-->



    <add key="GplusClientId" value="367759660229-aoqe01uomtp05h0oip2rvmmuj21op4uk.apps.googleusercontent.com" />
    <add key="GplusClientSecretKey" value="skbVIesV7zIuEbcVameNcMDq" />
    <add key="GplusRedirectUrl" value="http://localhost:5334/GplusManager.aspx"/>




    <!--Server Apps-->
    <!--Twitter-->
    <add key="consumerKey" value="h4FT0oJ46KBBMwbcifqZMw" />
    <add key="consumerSecret" value="yfowGI2g21E2mQHjtHjUvGqkfbI7x26WDCvjiSZOjas" />
    <add key="callbackurl" value="http://socioboard.com/TwitterManager.aspx" />

    <!--LinkedIn-->

    <add key="LiApiKey" value="75glpifv8zy85x" />
    <add key="LiSecretKey" value="R5lGtL0Z2gCzBc6F" />

    <add key="InstagramClientKey" value="937763b670024d69a16c7d0b251012f6" />
    <add key="InstagramClientSec" value="7cc1b949e2c94573a0e0d4b60b33d77c" />
    <add key="InstagramCallBackURL" value="http://ssp.socioboard.com/InstagramManager.aspx" />

    <!--Facebook-->
    <!--<add key="ClientId" value="673861052666193" />
    <add key="ClientSecretKey" value="609ffc8dc4dc4097296abbb628daf9a3" />
    <add key="RedirectUrl" value="http://socioboard.com/FacebookManager.aspx" />-->

    <add key="ClientId" value="258313811000992" />
    <add key="ClientSecretKey" value="7a81c03b966537e0dffadff8d4a285d6" />
    <add key="RedirectUrl" value="http://localhost:5334/FacebookManager.aspx" />


    <!--mailer setting-->
    <add key="host" value="smtp.sendgrid.net" />
    <add key="port" value="25" />
    <add key="username" value="socioboard"/>
    <add key="fromemail" value="support@socioboard.com"/>
    <add key="password" value="Sup12345" />
    <add key="tomail" value="support@socioboard.com" />
    <!--<add key="username" value="woosuite"/>
    <add key="fromemail" value="woosuite@vgames.tv"/>
    <add key="password" value="WooSuite2013" />-->

    <add key="SuccessURL" value="http://127.0.0.1:5334/SuccessPaypal.aspx" />
    <add key="FailedURL" value="http://localhost:5334/FailedPaypal.aspx" />
    <add key="paypalemail" value="pbpraveen@globussoft.com" />



    <!--Mandrill mailer setting-->
    <add key="Mandrillhost" value="smtp.mandrillapp.com" />
    <add key="Mandrillport" value="587" />
    <add key="Mandrillusername" value="ajaypandey@globussoft.com"/>
    <add key="Mandrillpassword" value="xrLs34jC9KXYqfi2M7CxOw"/>



  </appSettings>


</configuration>