<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="connection.connection_string">
     Data Source=you server ip;User ID=userid;Password=password;persist security info=False;initial catalog=database name;
     

    </property>
    <property name="show_sql">true</property>
  </session-factory>
  
  <!--<session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="connection.connection_string">
      Data Source=127.0.0.1;User ID=database_id;Password=database_pass;persist security info=False;initial catalog=database_name;
    </property>
    <property name="show_sql">true</property>
  </session-factory>-->
</hibernate-configuration>

