@foreach (var item in (List<Domain.Socioboard.Domain.TwitterAccount>)Session["AllTwitterAccount"])
{
    <li>
        <a href="#">
            <div class="checkbox">
                <label>
                    <input class="twitter-profile-id" type="checkbox" value="@item.TwitterUserId" id="@item.TwitterUserId" /><i class="fa fa-user fa-fw"></i>@item.TwitterScreenName
                </label>
            </div>
        </a>
    </li>

}
@if (((List<Domain.Socioboard.Domain.TwitterAccount>)Session["AllTwitterAccount"]).Count > 1)
{
    <li class="divider"></li>
    <li>
        <a href="#">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="all" id="all-twitter-account"><i class="fa fa-group fa-fw"></i> All Accounts
                </label>
            </div>
        </a>
    </li>
}
<script>
    $("#all-twitter-account").click(function () {
        debugger;
        if (document.getElementById("all-twitter-account").checked == false) {
            $(".twitter-profile-id").prop('checked', false);
        } else {
            $(".twitter-profile-id").prop('checked', true);
        }
    });
    $(".twitter-profile-id").click(function () {
        debugger;
        var attid = $(this).attr("id");
        if (document.getElementById(attid).checked == false) {
            $("#all-twitter-account").prop('checked', false);
        } 
    });
</script>