
@charset "utf-8";
/* CSS Document */
body
{
	margin:0;
	padding:0;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

input, select, textare, img
{
	border:none;
	outline:aqua;
}
.main_page
{
	width:100%;
	height:auto;
	float:left;
}
.header
{
	width:100%;
	height:81px;
	clear:left;
	position:fixed;
	z-index:99999;
	background:url(../Images/ws_top_bg.png);
	position:fixed;
	top:0;
	z-index:999;
}
.header_wrapper
{
	width:1300px;
	height:81px;
	margin:0 auto;
	background-image:url(../Images/ws_top_bg.png);
}
.header_wrapper_top
{
	width:1300px;
	height:22px;
	float:left;
}
.header_wrapper_bottom
{
	width:1300px;
	height:58px;
	float:left;
}
.header_wrapper_bottom .logo
{
	width:124px;
	height:22px;
	margin-top: 19px;
	float:left;
}
.header_wrapper_bottom .logo a img
{
	border:none;
}

.header_wrapper_bottom ul.menu
{
	width:770px;
	height:auto;
	float:left;
	list-style:none;
	margin-top: 1px;
	margin-left: 68px;
}
.header_wrapper_bottom ul.menu li,
.header_wrapper_bottom ul.menu li a
{
	width:126px;
	height:58px;
	float:left;
	text-decoration:none;
}
.header_wrapper_bottom ul.menu li a:hover
{
	background:#1291D1;
	color:#999;
	cursor:pointer;
	height:56px;
}
.header_wrapper_bottom ul.menu li a.active
{
	width:126px;
	background:url(../Images/menu_select_img.png);
	width:126px;
	height:57px;
	cursor:default;
}
.header_wrapper_bottom ul.menu li a span.icon 
{
	width:126px;
	height:24px;
	float:left;
	text-align:center;
	margin-top: 7px;
}
.header_wrapper_bottom ul.menu li a span.content 
{
	width:126px;
	height:auto;
	float:left;
	text-align:center;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	text-align: center;
	margin-top:5px;
}
.header_wrapper_bottom ul.menu li a span.icon img
{
	border:none;
}
.header_wrapper_bottom ul.menu li.break
{
	background-image:url(../Images/break.png);
	width:1px;
	height:57px;
	float:left;
}
.container_main
{
	width:100%;
	height:auto;
	margin-top:81px;
}
.container_wrapper
{
	width:1300px;
	height:auto;
	margin:0 auto;
	background:url(../Images/ws_bg.png);
}
.ws_container_page
{
	width:1300px;
	min-height:550px;
	float:left;
	background:url(../Images/ws_bg.png);
}
.ws_container_page .ws_left
{
	width:230px;
	height:auto;
	float:left;
    margin-top: 15px;
	margin-left:10px;
}

.ws_container_page .ws_left .title
{
	width:230px;
	height:auto;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	margin-top: 10px;
	color:#666666;
}
.ws_container_page .ws_left .title_connect
{
	width:230px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	margin-top: 5px;
	font-size:13px;
}
.social_connectivity
{
    float: left;
    height: auto;
    margin-top: 10px;
    width: 230px;
	margin-bottom:10px;
}
.social_connectivity .ws_conct
{
    float: left;
    height: 48px;
    margin-right: 9px;
    margin-top: 5px;
    width: 48px;
}
.social_connectivity .ws_conct span.img
{
	width:48px;
	height:48px;
	float:left;
}
.social_connectivity .ws_conct span i
{
    float: right;
    margin-top: -16px;
    position: relative;
}
.social_connectivity_add
{
    float: left;
    height: auto;
    margin-top: 10px;
    width: 230px;
	margin-bottom:10px;
}
.social_connectivity_add .ws_conct_add a
{
    float: left;
    height: 48px;
    margin-top: 5px;
    width: 48px;
	text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 38px;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(top, #2AA3E2, #1488C3);
}
.social_connectivity_add .ws_conct_add a:hover
{
    float: left;
    height: 48px;
    margin-top: 5px;
    width: 48px;
	text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 38px;
    border-radius: 5px;
    background-image: linear-gradient(top, #1488C3, #2AA3E2);
}
.ws_container_page .ws_mid
{
	width:820px;
	height:auto;
	float:left;
    margin-top: 15px;
	margin-left:5px;
	margin-bottom:20px;
}
.ws_container_page .ws_mid .title_connect
{
	width:810px;
	height:auto;
	float:left;
}
.ws_container_page .ws_mid .title_connect .mid_title
{
	width:auto;
	height:auto;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	margin-top: 10px;
	color:#666666;
}
.ws_mid_title_connect
{
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    margin-left: 5px;
    margin-top: 18px;
    width: auto;
}
.ws_mid_snapshots_div
{
	width:820px;
	height:auto;
	float:left;
}
/* -------------- col_one --------------- */
.col_one
{
	width:261px;
	height:350px;
	float:left;
	margin-right:5px;
	background:#ffffff;
	border-radius:5px;
	box-shadow:0 0 3px #999;
}

.col_one, .col_two_fb
{
	margin-right:11px;
	margin-top:15px;
}
.col_one_header {
    background-color: #404040;
    border-radius: 5px 5px 0 0;
    height: 150px;
	float:left;
	width: 261px;
}
.col_one_header .introductry {
    color: #FFFFFF;
    font-weight: normal;
    letter-spacing: 0.1em;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-top: 1.3em;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
	width: 261px;
}
.col_one_header a.hide_webinar {
    float: right;
    height: 11px;
    margin-left: 242px;
    margin-top: -31px;
    opacity: 0.7;
    position: absolute;
    text-decoration: none;
    width: 12px;
	cursor:pointer;
}
.col_one_bottom
{
	width:261px;
	height:auto;
	float:left;
	text-align:center;
}
.col_one_bottom .declaration
{
	width:261px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	color:#333;
}
.button
{
	height: 25px;
    margin-left: 54px;
    padding-top: 7px;
    width: 144px;
    float: left;
    cursor: pointer;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 5px;
    background-image: linear-gradient(top, #4f4f4f, #060606);
}
.button:hover
{
	height: 25px;
    margin-left: 54px;
    padding-top: 7px;
    width: 144px;
    float: left;
    cursor: pointer;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 5px;
    background-image: linear-gradient(top, #060606, #4f4f4f);
}
/* ----------------end col_one --------------- */

/* ------------ col_two_fb --------------- */
.col_two_fb
{
	width:261px;
	height:350px;
	float:left;
	background:#ffffff;
	border-radius:5px;
	box-shadow:0 0 3px #999;
}
.col_two_fb_my_accounts{
    float: left;
    height: 70px;
    padding: 15px;
    width: 231px;
}
.col_two_fb_my_accounts > .dt
{
	width:32%;
	height:auto;
	float:left;
}
.col_two_fb_my_accounts > .dt a.img {
    border: 1px solid #CFD1D2;
    display: block;
    height: 48px;
    padding: 3px;
	cursor:pointer;
    width: 48px;
}
.col_two_fb_my_accounts > .dt span.icon {
    display: block;
    height: 24px;
    margin: -18px 0 0 40px;
    position: absolute;
    text-indent: 0;
    width: 24px;
	background:url(../Images/fb_24X24.png);
}
.col_two_fb_my_accounts > .dd {
    float: left;
    width: 64%;
	height:auto;
}
.col_two_fb_my_accounts > .dd > h5, .col_two_fb_my_accounts > .dd > h5 a
 {
    color: #545453;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0 0 5px;
    max-width: 175px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
	word-wrap:break-word;
	width: 64%;
}
.col_two_fb_my_accounts > .dd .friends_avg
{
	width:100%;
	height:auto;
	float:left;
}
.article_friends {
    border-right: 1px solid #CFD1D2;
	width:60px;
	height:auto;
	float:left;
}
.article_avg 
{
    float: left;
    height: auto;
    margin-left: 10px;
    width: 60px;
}
.article_friends .facebook_blue,
.article_avg .facebook_blue{
    color: #3B5998;
	width:60px;
	height:auto;
	float:left;
	font-size: 17px;
	font-family: arial;
}
.font-10
{
    color: #666666;
    float: left;
    font-family: arial;
    font-size: 11px;
    height: auto;
    width: 60px;
}

.pillow_fade 
{
    border-top: 1px solid #CFD1D2;
    box-shadow: 0 1px 0 #FFFFFF inset;
    width: 261px;
    float: left;
    min-height: 190px;
    background-image: linear-gradient(center top, #F3F3F3, #FFFFFF);
}
.fb_notifications {
    color: #7C7C7A;
    display: block;
    font-size: 12px;
    margin:10px 0 10px 10px;
	width:230px;
	float:left;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
.empty-state 
{
    border-bottom: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
    color: #CCCCCC;
    display: block;
    float: left;
    font-family: arial;
    font-size: 14px;
    margin: 12px 0 0;
    padding: 35px 25px;
    text-align: justify;
    width: 212px;
}
.empty-state strong {
    color: #3B5998;
	clear:left;
}
/* -------------- end col_two_fb ------------------ */

/* --------------- col_three_linkedin --------------- */
.col_three_linkedin
{
	width:261px;
	height:350px;
	margin-top:15px;
	float:left;
	margin-right:10px;
	background:#ffffff;
	border-radius:5px;
	box-shadow:0 0 3px #999;
}
.col_three_link_my_accounts{
    float: left;
    height: 70px;
    padding: 15px;
    width: 231px;
}
.col_three_link_my_accounts > .dt
{
	width:32%;
	height:auto;
	float:left;
}
.col_three_link_my_accounts > .dt a.img {
    border: 1px solid #CFD1D2;
    display: block;
    height: 48px;
    padding: 3px;
	cursor:pointer;
    width: 48px;
}
.col_three_link_my_accounts > .dt span.icon {
    display: block;
    height: 24px;
    margin: -18px 0 0 40px;
    position: absolute;
    text-indent: 0;
    width: 24px;
	background:url(../Images/linked_25X24.png);
}
.col_three_link_my_accounts > .dd {
    float: left;
    width: 64%;
	height:auto;
}
.col_three_link_my_accounts > .dd > h5, .col_three_link_my_accounts > .dd > h5 a
 {
    color: #545453;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0 0 5px;
    max-width: 175px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
	word-wrap:break-word;
	width: 64%;
}
.col_three_link_my_accounts > .dd .friends_avg
{
	width:100%;
	height:auto;
	float:left;
}
/* ----------- end col_three_linkedin --------------- */

/* --------------- col_four_twitter --------------- */
.col_four_twitter,
.col_six_gplus
{
	width:261px;
	height:350px;
	margin-top:15px;
	float:left;
	margin-right:10px;
	background:#ffffff;
	border-radius:5px;
	box-shadow:0 0 3px #999;
}
.col_four_twitter_my_accounts,
.col_six_gplus_my_accounts{
    float: left;
    height: 70px;
    padding: 15px;
    width: 231px;
}
.col_four_twitter_my_accounts > .dt,
.col_six_gplus_my_accounts > .dt
{
	width:32%;
	height:auto;
	float:left;
}
.col_four_twitter_my_accounts > .dt a.img,
.col_six_gplus_my_accounts > .dt a.img {
    border: 1px solid #CFD1D2;
    display: block;
    height: 48px;
    padding: 3px;
	cursor:pointer;
    width: 48px;
}
.col_four_twitter_my_accounts > .dt span.icon 
{
    display: block;
    height: 24px;
    margin: -18px 0 0 40px;
    position: absolute;
    text-indent: 0;
    width: 24px;
	background:url(../Images/twiter_24X24.png);
}
.col_six_gplus_my_accounts > .dt span.icon 
{
    display: block;
    height: 24px;
    margin: -18px 0 0 40px;
    position: absolute;
    text-indent: 0;
    width: 24px;
	background:url(../Images/gplus.png);
}
.col_four_twitter_my_accounts > .dd,
.col_six_gplus_my_accounts > .dd {
    float: left;
    width: 64%;
	height:auto;
}
.col_four_twitter_my_accounts > .dd > h5, .col_four_twitter_my_accounts > .dd > h5 a,
.col_six_gplus_my_accounts > .dd > h5, .col_six_gplus_my_accounts > .dd > h5 a
 {
    color: #545453;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0 0 5px;
    max-width: 175px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
	word-wrap:break-word;
	width: 64%;
}
.col_four_twitter_my_accounts > .dd .friends_avg,
.col_six_gplus_my_accounts > .dd .friends_avg
{
	width:100%;
	height:auto;
	float:left;
}

.col_four_twitter_my_accounts > .dd .friends_avg .article_friends .facebook_blue, 
.col_four_twitter_my_accounts > .dd .friends_avg .article_avg .facebook_blue,
.col_six_gplus_my_accounts > .dd .friends_avg .article_friends .facebook_blue,
.col_six_gplus_my_accounts > .dd .friends_avg .article_friends .facebook_blue{
    color: #00ADE8;
    float: left;
    font-family: arial;
    font-size: 17px;
    height: auto;
    width: 60px;
}
/* ----------- end col_four_twitter --------------- */

/* --------------- col_five_ga --------------- */
.col_five_ga
{
	width:261px;
	height:350px;
	margin-top:15px;
	float:left;
	margin-left: 7px;
	background:#ffffff;
	border-radius:5px;
	box-shadow:0 0 3px #999;
}
.col_five_ga_my_accounts{
    float: left;
    height: 70px;
    padding: 15px;
    width: 231px;
}
.col_five_ga_my_accounts > .dt
{
	width:32%;
	height:auto;
	float:left;
}
.col_five_ga_my_accounts > .dt a.img {
    border: 1px solid #CFD1D2;
    display: block;
    height: 48px;
    padding: 3px;
	cursor:pointer;
    width: 48px;
}
.col_five_ga_my_accounts > .dt span.icon {
    display: block;
    height: 24px;
    margin: -18px 0 0 40px;
    position: absolute;
    text-indent: 0;
    width: 24px;
	background:url(../../Contents/Images/an_24X24.png);
}
.col_five_ga_my_accounts > .dd {
    float: left;
    width: 64%;
	height:auto;
}
.col_five_ga_my_accounts > .dd > h5, .col_five_ga_my_accounts > .dd > h5 a
 {
    color: #545453;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0 0 5px;
    width: 185px;
    overflow: hidden;
    text-decoration: none;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
	word-wrap:break-word;
	width: auto;
}
.col_five_ga_my_accounts > .dd .friends_avg
{
	width:100%;
	height:auto;
	float:left;
}
.col_five_ga_my_accounts > .dd .friends_avg .ga_content
{
	width:100%;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#454545;
	float:left;
}
.ga_trafic_number_graph
{
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: auto;
    margin-left: 6px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 250px;
}
.ga_trafic_number_graph > .ga_trafic
{
	width:100px;
	height:auto;
	float:left;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:bold;
}
.ga_trafic_number_graph > .ga_number
{
	width:70px;
	text-align:center;
	height:auto;
	float:left;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:bold;
}

.ga_trafic_number_graph > .ga_graph
{
	width:70px;
	text-align:center;
	height:auto;
	float:left;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:bold;
}
/* ----------- end col_five_ga --------------- */
.ws_container_page .ws_right
{
    float: right;
    height: auto;
    margin-right: 24px;
    margin-top: 14px;
    width: 210px;
}
.ws_container_page .ws_right .ws_connect
{
	width:225px;
	min-height:265px;
	float:left;
	background:#fff;
	border-radius:7px;
	border:1px solid #d4d4d4;
	/*margin-top: 50px;*/
}
.connect_profile
{
	width:225px;
	height:auto;
	float:left;
	font-size:15px;
	color:#666666;
	text-align:center;
	font-family:trebuchet ms;
	font-weight:bold;
	margin-top:10px;
}
.select_content
{
	width:220px;
	height:auto;
	float:left;
	margin-left:5px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#8c8c8c;
	margin-top:10px;
}

.social_network_links
{
	width:220px;
	height:auto;
	margin-left:5px;
	margin-top:15px;
	float: left;
}
.social_network_links a
{
    float: left;
    height: 38px;
    margin-left: 6px;
    margin-right: 11px;
    margin-top: 15px;
    width: 38px;
	cursor:pointer;
}
.social_network_links a img
{
	border:none;
}
.use_list
{
    color: #8C8C8C;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    width: 220px;
}
/* ------------ add_click div ----------------------- */
#expanderContent {
    background-color: #3D3D3D;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: auto;
    margin-left: 0;
    position: absolute;
    top: 289px;
    width: 200px;
    z-index: 4;
}
#expanderContent ul
{
    float: left;
    height: auto;
    list-style: none outside none;
    margin-left: -40px;
    margin-top: 4px;
}
#expanderContent ul li a {
   
    border-bottom: 1px solid #252525;
    border-top: 1px solid #515151;
    padding: 7px 5px;
	 width:190px;
	 text-decoration:none;
	 float:left;
}
#expanderContent ul li a img,
#expanderContent ul li a span
{
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-right: 5px;
    margin-top: 0;
}
#expanderContent ul li a:hover {
    background-color: #252525;
    color: #FFFFFF;
}
/* -------- end add_click_div ----------------------- */


/* ------------------------ Login Page ----------------- */
.login_body_img
{
 	background:url(../Images/Login/login_body.png);
}

.login_wrapper
{
	 width:400px;
	 height:auto;
	 margin:0 auto;
}
.ws_login
{
	 background:url(../Images/Login/login_bg.png);
	 width:389px;
	 height:350px;
	 float:left;
	 margin-top: 120px;
}
.ws_login .login_title
{
	 width:389px;
	 height:auto;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:25px;
	 float:left;
	 text-align:center;
	 margin-top: 15px;
	 color:#ffffff
}

.ws_login > .login_form
{
	 width:298px;
	 height:auto;
	 margin:0 auto;
	 clear:left;
}
.ws_lg_text
{
	 width:315px;
	 height:auto;
	 float:left;
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:15px;
	 color:#fff;
	 float:left;
	 margin-top:10px;
}
.ws_input_text_star
{
	 width:315px;
	 height:auto;
	 float:left;
	 margin-top:3px;
}
.ws_input_text_star > .ws_input_text
{
	 width:298px;
	 height:34px;
	 float:left;
	 background:url(../Images/Login/input_box.png);
}
.ws_input_text_star > .ws_input_text .ws_lg_input input[type="text"],
.ws_input_text_star > .ws_input_text .ws_lg_input input[type="password"]
{
    background: none repeat scroll 0 0 transparent;
    color: #888888;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    margin-left: 7px;
    margin-top: 7px;
    width: 255px;
}
.ws_input_text_star > .ws_input_text .icon
{
    float: right;
    height: 20px;
    margin-right: 8px;
    margin-top: 4px;
    width: 20px;
}
.ws_input_text_star > .ws_err_star
{
    color: red;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 19px;
    height: 5px;
    margin-left: 4px;
    margin-top: 8px;
    width: 5px;
}
.ws_input_text_error
{
    color: Red;
    float: left;
    font-family: trebuchet ms;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    margin-top: 2px;
    text-shadow: 0 0 4px #000000;
    width: 315px;
}

.ws_login_btn_div
{
     width:170px;
     height:auto;
     margin:0 auto;
     clear:left;
}
.ws_login_btn_div > input.ws_login_btn
 {
    background: url("../Images/Login/login_btn.png") repeat scroll 0 0 transparent;
    float: left;
    height: 45px;
    margin-left: 0;
    margin-top: 8px;
 	cursor:pointer;
    width: 160px;
}
.ws_lg_chck_rem_for
{
    float: left;
    height: auto;
    margin-left: 9px;
    margin-top: 31px;
    width: 365px;
}

.ws_lg_chck_rem_for > input[type="checkbox"]
{
     width:10px;
     height:10px;
     float:left;
}
.ws_lg_chck_rem_for > .remember
{
    color: #454545;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 2px;
    width: auto;
}
.ws_lg_chck_rem_for > .forgot a
{
     width:auto;
     float:right;
     font-size:13px;
     color:#454545;
     font-family:Arial, Helvetica, sans-serif;
     font-weight:bold;
}



/*=================Message Css--------------------*/

/*-------------------------Message------------------*/

#actions,
aside#sidebar {
    background: url("../images/sidebar.png") repeat scroll 0 0 #E0E0E3;
    float: left;
    margin-top: 0;
    min-height: 500px;
    width: 18%;
	position:fixed;
}

#actions ul {
    list-style: none outside none;
    margin: 0;
	padding:0;
}

#actions ul > li.selected.single {
    background-color: #4F4F4F;
    border: 0 none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6) inset, 0 -1px 0 rgba(255, 255, 255, 0.6) inset;
    margin-bottom: -1px;
    margin-top: -1px;
    padding-bottom: 1px;
    padding-top: 1px;
}

#actions .accordion.selected a {
    background: none repeat scroll 0 center transparent;
}
#actions ul li:first-child a {
    border-top: 0 none;
}
#actions:not(.dropdown) a, #actions li div {
    font-size: 93%;
    font-weight: 400;
    min-height: 24px;
}
#actions ul li a, #actions ul li a:active {
    background: url(../Images/pat_leftnavli.png) repeat-x scroll 0 0 #7E7E7F;
    border-top: 1px solid #626365;
    box-shadow: none;
    color: #F3F3F3;
    display: block;
    height: auto;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 8px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 0 1px #4A4B4D;
}



#actions .nav_icon, #actions .ficon {
    margin-left: 14px;
    width: 20%;
}
#actions:not(.dropdown) a, #actions li div {
    font-size: 93%;
    font-weight: 400;
    min-height: 24px;
}
#actions a > div.icon:first-child, .left_nav_arrow, .nav_icon, .nav_ficon {
    float: left;
    text-align: center;
    width: 20%;
}

#actions:not(.dropdown) a, #actions li div {
    font-size: 93%;
    font-weight: 400;
    min-height: 24px;
}
.wf-active .proxima, .wf-inactive .proxima, 
.wf-active .tk-league-gothic, 
.wf-inactive .tk-league-gothic, 
.wf-active .tk-proxima-nova, 
.wf-inactive .tk-proxima-nova, 
.wf-active .league, 
.wf-inactive .league {
    visibility: visible;
}


span.heart.dark {
    height: 16px;
    width: 18px;
}
span.heart {
    display: inline-block;
    margin-top: 3px;
    position: relative;
    vertical-align: middle;
}
span.heart.dark img, span.heart.dark span {
    height: 16px;
    width: 18px;
}
span.heart img.mask {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 3;
}
a img {
    display: inline-block;
}

span.heart span span.fill {
    background-color: #EE3388;
    bottom: 0;
    display: inline-block;
    height: 0;
    left: 0;
    position: absolute;
    transition: height 800ms ease-out 0s;
    width: 100%;
}


#actions .nav_icon > span, #actions .ficon > span {
    display: block;
    height: 24px;
    margin-left: 12px;
    width: 24px;
}
.msgs_nav .msg_queue {
	background:url(../Images/sprite-main-142-pdf-4.png) -495px -1196px;
}
.msgs_nav .msg_sent, .nav-reports-bargraph {
	background:url(../Images/sprite-main-142-pdf-4.png) -498px -894px;

}

.msgs_nav .msg_archive {
    background:url(../Images/sprite-main-142-pdf-4.png) -499px -1247px;
}

#actions a > div.text .numeric, #actions li a .numeric {
    background: none repeat scroll 0 0 #545453;
    border-radius: 36px 36px 36px 36px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    float: right;
    font-size: 0.7em;
    font-weight: 300;
    line-height: 1.3em;
    min-width: 14px;
    padding: 4px;
    text-align: center;
	margin-right:10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#content {
    padding-left: 245px;
    padding-top: 20px;
	width:698px;
	float:left;
}

#inbox_msgs {
    margin-top: -20px;
    min-height: 500px;
}
#inbox_msgs, #message_results {
    margin-bottom: 50px;
}
.msg_view.threefourth {
     max-width: 789px;
    padding-right: 1.5%;
    width:100%;
}

.messages > section:first-child {
    padding: 15px 0 0 18px;
}

.messages > section aside:before {
    border-bottom: 8px dotted transparent;
    border-right: 8px solid #C2C2C2;
    border-top: 8px dotted transparent;
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 30%;
    width: 0;
    z-index: 2;
}
.messages > section > aside {
    float: left;
    position: relative;
    width: 75px;
}


.messages > section > aside section:before {
    border-bottom: 8px dotted transparent;
    border-right: 8px solid #FFFFFF;
    border-top: 8px dotted transparent;
    content: " ";
    display: block;
    position: absolute;
    right: -1px;
    top: 30%;
    width: 0;
    z-index: 2;
}

.avatar_link img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #FEFEFE;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: block;
    margin-left: 0;
    margin-top: 2px;
    max-width: 54px;
}

.message-type-icon {
    height: 16px;
    left: 44px;
   /* overflow: hidden;*/
    position: absolute;
    top: 46px;
    width: 16px;
}

span.twitter_bm,
span.facebook_bm,
span.linkedin_bm,
span.google_analytics,
span.google_plus {
    /*background: url(../Images/sprite-main-142-pdf-4.png) -502px -302px;*/
    height: 16px;
    width: 17px;
}
span.twitter_bm img,
span.facebook_bm img,
span.linkedin_bm img,
span.google_analytics img,
span.google_plus img 
{
    background: none;
    border: none;
    margin-top: -12px;
    margin-left: 5px;
    box-shadow: none;
}
.messages > section > aside ul {
    clear: both;
    display: block;
    float: none;
    margin: 5px 0 0;
    text-align: center;
    width: 53px;
}


.messages > section > article:not(.pillow_fade) {
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 5px 5px 5px 5px;
    margin-left: 75px;
    padding-bottom: 8px;
    position: relative;
}


.messages > section > article .message_actions, .messages > section > article .message_actions .profile.bball .puff .message_actions {
    display: block;
    opacity: 0;
    transition: opacity 250ms ease 0s;
    visibility: hidden;
}
.message_actions {
    display: none;
    float: right;
    height: 20px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 20px;
}
.message-type-icon span {
    display: block;
    padding-top: 16px;
}

.message-buttons > li > a, .gear_small, 
#needs_approval_messages .messages > section .quarter.approve_side .ficon, 
#for_approval_messages .messages > section .quarter.approve_side .ficon, 
#profiles_meta .top_actions .ficon .top_actions > li > a, 
.top_actions > li > span, 
.message_actions a.gear_small 
{
    color: rgba(121, 168, 214, 0.7);
}
.message_actions a {
    display: inline-block;
}
.gear_small {
    line-height: 0.5em;
    text-decoration: none;
}
.ficon {
    -moz-font-feature-settings: "liga";
    -moz-user-select: none;
    font-family: 'SSicons';
    font-size: 25px;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
    text-rendering: optimizelegibility;
    white-space: nowrap;
}


.message-text {
    max-height: 625px;
    min-height: 45px;
    overflow-y: auto;
    padding: 10px 20px 0 10px;
    width: 98%;
    word-wrap: break-word;
}
.normal, .font-14, .reset-font {
    font-size: 14px;
}

.bubble-meta {
    font-size: 0.7em;
    margin-top: 8px;
    padding: 3px 10px 0;
    position: relative;
}

.bubble-meta:hover ul.message-buttons
{
	display:block;
	list-style:none;
	color:#333;
}

.bubble-meta .threefourth {
    display: inline-block;
    float: none;
    width: 76.5% !important;
}
.bubble-meta .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.bubble-meta .threefourth > section {
    display: inline-block;
    vertical-align: sub;
}

.view_profile.profile_link {
    color: #1D67A7;
    text-decoration: none;
}
.bubble-meta a, .fb_pm_link {
    color: #3B5998;
    font-weight: bold;
    text-decoration: none;
}

.bubble-meta a.time {
    font-weight: normal;
}
.bubble-meta .time, .bubble-meta .time:hover {
    color: #545453;
}
.bubble-meta a, .fb_pm_link {
    color: #3B5998;
    font-weight: bold;
    text-decoration: none;
}

.bubble-meta .location {
    font-weight: bold;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.message-buttons.quarter {
    bottom: -9px;
    height: 17px;
    line-height: 0;
    max-width: 22.5% !important;
    position: absolute;
    right: 10px;
}

.message-buttons > li:first-child {
    margin: 0 2px 0 3px;
    padding: 0 2px 0 5px;
}
.message-buttons li {
    float: right;
    margin-left: 10px;
	list-style:none;
}

.messages > section .bubble-meta .message-buttons a {
    visibility: visible;
}

.messages > section .bubble-meta .message-buttons a:hover {
    visibility: visible;
}

.message-buttons a.reply, .message-buttons a.reply {
    padding-right: 2px;
    width: 15px;
}

.message-buttons > li > a, .message-buttons > li > a span {
    background: none repeat scroll 0 0 transparent !important;
    text-decoration: none !important;
}

.msgs_nav li.selected .msg_sent {
    background-position: -546px -896px;
}

#actions ul li ul li:not(.dropdown) a.selected:before {
    background-position: 0 -50px;
    content: "";
    display: block;
    height: 12px;
    margin-left: -20px;
    position: absolute;
    top: 8px;
    width: 5px;
}

#actions .accordion.selected h4, #actions .accordion.selected hr, #actions .accordion.selected > ul {
    display: block;
}

#actions ul li ul li:not(.dropdown) a.selected:before, h1#top_logo.personal:after {
    background-image: url(../Images/sprite-main-142-pdf-4.png);
}



#actions ul li ul li:not(.dropdown) a.selected:before, h1#top_logo.personal:after {
    background-image: url(../Images/sprite-main-142-pdf-4.png);
}
#actions ul li ul li:not(.dropdown) a.selected:before {
    background-position: 0 -50px;
    content: "";
    display: block;
    height: 12px;
    margin-left: -20px;
    position: absolute;
    top: 8px;
    width: 5px;
}
#actions ul li ul li:not(.dropdown) a.selected {
    border: 0 none;
    color: #FFFFFF;
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

#actions ul > li:last-child, #actions ul > li.last_li {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

/* --------------- Accordian Menu ----------------- */
.ws_container_page .ws_msg_right {
    float: left;
    height: auto;
    margin-left: 18px;
    margin-top: 14px;
    width: 275px;
}
.AccordionPanelTab {
	background-color: #CCCCCC;
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	background-image: linear-gradient(center top, #F6F7F7, #D9D9D9);
	}
.AccordionPanelTab > h3 {
    color: #8F8F8D;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    text-transform: uppercase;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-left:10px;
}
.Accordion {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
	border: 1px solid #CBCBCB;
    overflow: hidden;
    padding-bottom: 0px;
}
.AccordionPanel {
	margin: 0px;
	padding: 0px;
}
.AccordionPanelContent {
	margin: 0px;
	padding: 0px;
	height: 200px;
	    margin-left: -27px;
}
.AccordionPanelOpen .AccordionPanelTab {
	background-color: #EEEEEE;
}
.AccordionPanelTabHover {
	color: #555555;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #555555;
}
.AccordionFocused .AccordionPanelTab {
	background-color: #3399FF;
}
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #33CCFF;
}

ul.options_list
{
  list-style-type:none;
  margin-left:5px;
  width:260px;
  margin-top:0;
  float:left;
}
ul.options_list li a
{
    float: left;
    height: auto;
    margin-top: 15px;
    width: 260px;
}
ul.options_list li a:hover
{
	cursor:pointer;
}
ul.options_list li a > .network_icon
{
    display: inline-block;
    float: left;
    margin-right: 5px;
    vertical-align: middle;
    width: 12%;
}
ul.options_list li a > span.user_name 
{
    color: #333333;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-top: 1px;
    width: 72%;
}
ul.options_list li a > span.user_name:hover
{
	text-decoration:underline;
	cursor:pointer;
}
ul.options_list li a > .checkbx_green
{
    vertical-align: middle;
}

/* -------------------- Team Member Page ---------------------- */
.ws_tm_left
{
    float: left;
    height: auto;
    margin-left: 10px;
    margin-top: 15px;
    width: 260px;
}
.ws_tm_left > .team_member_div
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    float: left;
    min-height: 250px;
    padding-left: 1px;
    width: 261px;
}
.ws_tm_left > .team_member_div h3 
{
    color: #333333;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 12px;
    margin-top: 5px;
    width: 240px;
}
.ws_tm_left > .team_member_div > .tm_title
{
	width:250px;
	height:auto;
	float:left;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-image: linear-gradient(center top, #2BA4E3, #168AC6);
}
.ws_tm_left > .team_member_div > ul
{
    float: left;
    height: auto;
    list-style: none outside none;
    margin-left: -40px;
    margin-top: -6px;
    width: 260px;
}
.ws_tm_left > .team_member_div > ul li a {
   /* border-top: 1px solid #C0E6F9;*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color: #545453;
    display: block;
    font-size: 0.9em;
    padding: 7px 15px;
    text-decoration: none;    
    transition: background 250ms ease 0s;
}
.ws_tm_left > .team_member_div > ul li a:hover,
.ws_tm_left > .team_member_div > ul li a.active
{
	color:#fff;
	cursor:pointer;
	background-image: linear-gradient(center top, #168AC6, #2BA4E3);
	 }
.ws_tm_mid
{
    float: left;
    min-height: 400px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 15px;
    width: 890px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
	border: 1px solid #AED6FC;
}
.ws_tm_mid > .invite_friends
{
    color: #1D93D0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    margin-top: 15px;
    width: 880px;
}
.ws_tm_mid > .invite_friends a
{
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: none;
	margin-top: 7px;
	font-weight: bold;
    width: auto;
	cursor:pointer;
}
.ws_tm_mid > #settings h5 {
    width:680px;
	height:auto;
	float:left;
    font-size: 12px;
    font-weight: normal;
    margin: 3px 0 0 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.ws_tm_mid > .first_name_last_name_div,
.ws_tm_mid > .email_div
{
	width:870px;
	height:auto;
	float:left;
	margin-left:20px;
	margin-top:10px;
}
.ws_tm_mid > .first_name_last_name_div input[type="text"] {
    border: 1px solid #BCBEC0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #232323;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    outline: medium none aqua;
    padding: 5px 8px;
    transition: all 0.25s ease-in-out 0s;
	width:250px;
	float:left;
	margin-right: 10px;
	color:#999;
}

.ws_tm_mid > .email_div input[type="text"] {
    border: 1px solid #BCBEC0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #232323;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    outline: medium none aqua;
    padding: 5px 8px;
    transition: all 0.25s ease-in-out 0s;
	width:528px;
	float:left;
	margin-right: 10px;
	color:#999;
}
.ws_tm_mid > h5.add2networks_header 
{
    width:870px;
	height:auto;
	float:left;
    font-size: 14px;
    font-weight: normal;
    margin: 15px 0 0 20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.ws_tm_mid > h5.add2networks_header em {
    color: #545453;
    font-weight: bold;
}
.ws_tm_mid > .admin_user
{
	width:870px;
	height:auto;
	float:left;
	margin-left:20px;
	margin-top:10px;
}
.ws_tm_mid > .admin_user .admin_part,
.ws_tm_mid > .admin_user .user_part
{
	width:300px;
	height:auto;
	float:left;
	background: none repeat scroll 0 0 #E0E0E0;
    border-radius: 5px 5px 5px 5px;
	margin-right:10px;
	padding-bottom:10px;
}
.amdmin_checkbox
{
	 width: 300px;
    height: 25px;
    padding-bottom: 10px;
    padding-top: 15px;
    float: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: linear-gradient(center top, #2BA4E3, #168AC6);
}
.amdmin_checkbox > input[type="checkbox"]
{
	width:20px;
	height:auto;
	float:left;
	margin-left:20px;
}
.amdmin_checkbox > .admin_content
{
    display: inline-block;
    font-weight: bold;
    margin-top: -2px;
	float:left;
	color:#fff;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	width:auto;
}
.amdmin_checkbox > .admin_content > span.font-12
{
	font-size:13px;
	margin-left:5px;
}
#pick_networks ul {
    margin: 0 auto;
	width:300px;
	height:auto;
	float:left;
	margin-top:0;
	margin-left:0;
}
#pick_networks ul > li {
    color: #333333;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: auto;
    list-style-type: disc;
    margin-top: 10px;
    width: 200px;
}
.ws_tm_network
{
	width:870px;
	height:auto;
	float:left;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:0px;
}
.ws_tm_network > .twitter,
.ws_tm_network > .facebook, 
.ws_tm_network > .linkedin,
.ws_tm_network > .ganalytics{
	width:850px;
	height:auto;
	float:left;
	margin-bottom:20px;
}
.ws_tm_network > .twitter > .twitter_list
{
	width:850px;
	height:auto;
	float:left;
    background: none repeat scroll 0 0 #00ADE8;
	padding-top:5px;
	padding-bottom:5px;
}
.ws_tm_network > .twitter > .twitter_list > .twitter_icon
{
    background: url("../Images/TM/twt_cin.png") repeat scroll 0 0 transparent;
    float: left;
    height: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    width: 15px;
}
.ws_tm_network > .twitter > .twitter_list > .desc,
.ws_tm_network > .facebook > .facebook_list > .desc,
.ws_tm_network > .linkedin > .linkedin_list > .desc,
.ws_tm_network > .ganalytics > .ganalytics_list > .desc {
    font-weight: 500;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	width:auto;
	float:left;
}
.ws_tm_network > .twitter > .twitter_list > .filter a,
.ws_tm_network > .facebook > .facebook_list > .filter a,
.ws_tm_network > .linkedin > .linkedin_list > .filter a,
.ws_tm_network > .ganalytics > .ganalytics_list > .filter a{
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-family: arial;
    font-size: 13px;
    font-style: italic;
    margin: 2px 10px 0 5px;
    opacity: 0.7;
    text-decoration: none;
    text-transform: lowercase;
    width: auto;
}
.ws_tm_network > .twitter > .twitter_list > .filter a:hover,
.ws_tm_network > .facebook > .facebook_list > .filter a:hover,
.ws_tm_network > .linkedin > .linkedin_list > .filter a:hover,
.ws_tm_network > .ganalytics > .ganalytics_list > .filter a:hover
{
	color:#fff;
	text-shadow:0 0 3px #333;
}
.ws_tm_network_one
{
    background-color: #F1F1F1;
	width:850px;
	height:auto;
	float:left;
	padding-bottom: 9px;
    padding-top: 14px;;
}
.ws_tm_network_another
{
    background-color: #DEDEDE;
	width:850px;
	height:auto;
	float:left;
	padding-bottom: 9px;
    padding-top: 14px;
}
.ws_tm_user_name
{
	width:auto;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#999;
	margin-top: 3px;
	margin-left:10px;
}
.ws_tm_chkbx input[type="checkbox"]
{
	width:20px;
	height:20px;
	float:right;
	margin-right:20px;
}

/* ------------------- facebook ---------------- */
.ws_tm_network > .facebook > .facebook_list
{
	width:850px;
	height:auto;
	float:left;
    background: none repeat scroll 0 0 #3B5998;
	padding-top:5px;
	padding-bottom:5px;
}
.ws_tm_network > .facebook > .facebook_list > .facebook_icon
{
    float: left;
    height: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    width: 17px;
	background:url(../Images/TM/fb_tm.png);
}
/* ----------------- linkedin -------------------- */
.ws_tm_network > .linkedin > .linkedin_list
{
	width:850px;
	height:auto;
	float:left;
    background: none repeat scroll 0 0 #00ADE8;
	padding-top:5px;
	padding-bottom:5px;
}
.ws_tm_network > .linkedin > .linkedin_list > .linkedin_icon
{
    background: url("../Images/TM/twt_cin.png") repeat scroll 0 0 transparent;
    float: left;
    height: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    width: 15px;
}
/* ----------------- GoogleAnalytics -------------------- */
.ws_tm_network > .ganalytics > .ganalytics_list
{
	background-position: 0 0;
    width:850px;
	height:auto;
	float:left;
    padding-top: 5px;
    padding-bottom: 5px;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(center top, #437EBB, #2C63A0);
}
.ws_tm_network > .ganalytics > .ganalytics_list > .ganalytics_icon
{
    background:url(../Images/TM/ga_tm.png);
    float: left;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    width: 24px;
}

.ws_tm_button_div
{
	width:850px;
	height:auto;
	margin-left:20px;
	margin-bottom:20px;
	float:left;
}
.ws_tm_button_div input[type="button"],
.ws_tm_button_div input[type="submit"]
{
	width:120px;
	height:35px;
	float:right;
	margin-left:5px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(center top, #2BA4E3, #168AC6);
}
.ws_tm_button_div input[type="button"]:hover,
.ws_tm_button_div input[type="submit"]:hover
{
	width:120px;
	height:35px;
	float:right;
	margin-left:5px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(center top, #168AC6, #2BA4E3);
}


/* ------------------ ws_tm_Personal_setting --------------------- */

.ws_tm_personal_setting
{
	width:870px;
	float:left;
	margin-left:10px;
}

.ws_tm_personal_setting > .personal_setting_left
{
	width:500px;
	height:auto;
	float:left;
}
.ws_tm_personal_setting > .personal_setting_left > .invite_friends {
    color: #1D93D0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    padding-left: 0px;
    width: 500px;
}
.ws_tm_personal_setting > .personal_setting_left > .first_name_last_name_div,
.ws_tm_personal_setting > .personal_setting_left > .email_div
{
	width:500px;
	height:auto;
	float:left;
	margin-top:10px;
}
.ws_tm_personal_setting > .personal_setting_left > .first_name_last_name_div input[type="text"] 
{
    border: 1px solid #BCBEC0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #333333;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    outline: medium none aqua;
    padding: 5px 8px;
    transition: all 0.25s ease-in-out 0s;
	width:222px;
	float:left;
	margin-right: 10px;
	color:#333;
}
.ws_tm_personal_setting > .personal_setting_left > .first_name_last_name_div input[type="password"]
{
	border: 1px solid #BCBEC0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #333333;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    outline: medium none aqua;
    padding: 5px 8px;
    transition: all 0.25s ease-in-out 0s;
	width:472px;
	float:left;
	color:#333;
	margin-bottom:10px;
}
.ws_tm_personal_setting > .personal_setting_left > .email_div input[type="text"] 
{
    border: 1px solid #BCBEC0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #232323;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    outline: medium none aqua;
    padding: 5px 8px;
    transition: all 0.25s ease-in-out 0s;
	width:472px;
	float:left;
	margin-right: 10px;
	color:#999;
}
.ws_tm_personal_setting > .personal_setting_left > .ws_tm_ps_button_div 
{
	width:500px;
	height:auto;
	float:left;
	margin-top:10px;
}
.ws_tm_personal_setting > .personal_setting_left > .ws_tm_ps_button_div input[type="button"],
.ws_tm_personal_setting > .personal_setting_left > .ws_tm_ps_button_div input[type="submit"]
{
	width:120px;
	height:35px;
	float:left;
	margin-left:0;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background-image: linear-gradient(center top, #2BA4E3, #168AC6);
}
.ws_ps_user_content
{
	width:500px;
	height:auto;
	float:left;
	margin-top:10px;
}

.ws_ps_user_content > .user_photo
{
	width:50px;
	height:50px;
	float:left;
}
.ws_ps_user_content > .user_photo img
{
	width:45px;
	height:45px;
	border:none;
}
.ws_ps_user_content > .personal_details
{
	width:400px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
}
.ws_ps_user_content > .personal_details strong
{
	color:#1589C5;
}
.ws_ps_user_content > .personal_details input[type="file"]
{
	border:none;
	margin-top: 5px;
}
.ws_ps_user_content > .time_zone
{
	width:500px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	font-weight:bold;
}


.ws_tm_personal_setting > .personal_setting_right
{
	width:360px;
	height:auto;
	float:left;
	margin-left:10px;
}
.ws_tm_personal_setting > .personal_setting_right > .invite_friends {
    color: #1D93D0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    padding-left: 0px;
    width: 360px;
}
.ws_tm_personal_setting > .personal_setting_right > p
{
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	width:360px;
	float:left;
	margin-top:5px;
}
.ws_tm_personal_setting > .personal_setting_right > .addsocial_network
{
	width:360px;
	height:auto;
	float:left;
	margin-top: 10px;
}
.ws_tm_personal_setting > .personal_setting_right > .addsocial_network > .addNetworkIcon a 
{
    background-color: #1589C5;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1.6em;
    height: 35px;
    margin-right: 0.3em;
    text-align: center;
    width: 35px;
}
.ws_tm_personal_setting > .personal_setting_right > .addsocial_network > .addNetworkIcon a:hover 
{
    background-color: #999;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1.6em;
    height: 35px;
    margin-right: 0.3em;
    text-align: center;
    width: 35px;
    cursor:pointer;
}
.ws_tm_personal_setting > .personal_setting_right > .addsocial_network > .addNetworkIcon a > span.social_icon
{
    float: right;
    height: 16px;
    margin-left: 0;
    margin-top: 24px;
    position: absolute;
    width: 16px;
}
.ws_tm_personal_setting > .personal_setting_right > .addsocial_network > .addNetworkIcon a > span.social_icon  img
{
	border:none;
}
.ws_tm_personal_setting > .personal_setting_right > .addsocial_network > .add_to_netword 
{
	width:290px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
}
.ws_tm_personal_setting > .personal_setting_right > .addsocial_network > .add_to_netword a
{
	width:290px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	text-align:justify;
}

.ws_tm_personal_setting > .personal_setting_right > .addsocial_network > .add_to_netword > .network_subtext 
{
    color: #333333;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 300;
    height: auto;
    text-align: justify;
    width: 290px;
}

/* */

/* all form DIVs have position property set to relative so we can easily position newly created SPAN */
div.ps_select{position:relative;} 

/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{
		position:relative;
		z-index:10;
		width:315px !important;
		height:30px !important;
		line-height:26px;
		margin-top:10px;
		border:1px solid #09F;
		background:#CCC;
		color:#333;
}

/* dynamically created SPAN, placed below the SELECT */
span.select
{
    background: url("../Images/ps/select.png") repeat scroll 0 0 transparent;
    bottom: 0;
    color: #666666;
    cursor: default;
    float: left;
    font-size: 15px;
    height: 30px;
    left: 0;
    line-height: 33px;
    position: absolute;
    text-indent: 10px;
    width: 315px;
    z-index: 1;
}
/* --------------- col_five_ga --------------- */
.col_five_ga
{
 width:261px;
 height:350px;
 margin-top:15px;
 float:left;
 margin-left: 7px;
 background:#ffffff;
 border-radius:5px;
 box-shadow:0 0 3px #999;
}
.col_five_ga_my_accounts{
    float: left;
    height: 70px;
    padding: 15px;
    width: 231px;
}
.col_five_ga_my_accounts > .dt
{
 width:32%;
 height:auto;
 float:left;
}
.col_five_ga_my_accounts > .dt a.img {
    border: 1px solid #CFD1D2;
    display: block;
    height: 48px;
    padding: 3px;
 cursor:pointer;
    width: 48px;
}
.col_five_ga_my_accounts > .dt span.icon {
    display: block;
    height: 24px;
    margin: -18px 0 0 40px;
    position: absolute;
    text-indent: 0;
    width: 24px;
 background:url(../Images/linked_25X24.png);
}
.col_five_ga_my_accounts > .dd {
    float: left;
    width: 64%;
 height:auto;
}
.col_five_ga_my_accounts > .dd > h5, .col_five_ga_my_accounts > .dd > h5 a
 {
    color: #545453;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0 0 5px;
    width: 185px;
    overflow: hidden;
    text-decoration: none;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
 word-wrap:break-word;
 width: auto;
}
.col_five_ga_my_accounts > .dd .friends_avg
{
 width:100%;
 height:auto;
 float:left;
}
.col_five_ga_my_accounts > .dd .friends_avg .ga_content
{
 width:100%;
 height:auto;
 font-family:Arial, Helvetica, sans-serif;
 font-size:13px;
 color:#454545;
 float:left;
}
.ga_trafic_number_graph
{
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: auto;
    margin-left: 6px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 250px;
}
.ga_trafic_number_graph > .ga_trafic
{
 width:100px;
 height:auto;
 float:left;
 font-size:13px;
 font-family:Arial, Helvetica, sans-serif;
 color:#333;
 font-weight:bold;
}
.ga_trafic_number_graph > .ga_number
{
 width:70px;
 text-align:center;
 height:auto;
 float:left;
 font-size:13px;
 font-family:Arial, Helvetica, sans-serif;
 color:#333;
 font-weight:bold;
}

.ga_trafic_number_graph > .ga_graph
{
 width:70px;
 text-align:center;
 height:auto;
 float:left;
 font-size:13px;
 font-family:Arial, Helvetica, sans-serif;
 color:#333;
 font-weight:bold;
}
/* ----------- end col_five_ga --------------- */	