<div class="pricing">
<div class="container" style="margin-top:40px">
    <div class="row">
        <h2>Basic Plans</h2>
        <div class="col-md-3">
            <div class="pricing-box ">
                <div class="pricing-heading">
                    Basic 
                       
                </div>
                <!-- end pricing-heading -->
                <div class="pricing-price">
                    FREE
                       
                </div>
                <!-- end pricing-price -->
                <div class="pricing-description">
                    Every plan is a unique package. This one fits for individuals.
                       
                </div>
                <!-- end pricing-description -->
                <ul class="pricing-list">
                    <li>Comprehensive Dashboard</li>
                    <li>Multiple Social Profiles Inbox</li>
                    <li>Social Media Updates</li>
                    <li>Scheduling Features</li>
                    <li>Social Media based CRM</li>
                    <li>Social Platform Reporting Tools</li>
                    <li>World Class 24*7 Training &amp; Support</li>
                    <li>Manage up to 5 profiles</li>
                </ul>
                <!-- end pricing-list -->
                <div class="pricing-cta">
                    <a class="btn btn-large btn-pricing" href="#" onclick="UpgradePlan(this)">Upgrade</a>
                </div>
                <!-- end pricing-cta -->
            </div>
            <!-- end pricing-box -->
        </div>
        <!-- end col-md-3 -->
        <div class="col-md-3">
            <div class="pricing-box">
                <div class="pricing-heading">
                    Standard
                       
                </div>
                <!-- end pricing-heading -->
                <div class="pricing-price">
                    $4.99 Per User/Month
                       
                </div>
                <!-- end pricing-price -->
                <div class="pricing-description">
                    Comprises of great tools suitable for small teams.
                       
                </div>
                <!-- end pricing-description -->
                <ul class="pricing-list">
                    <li>Smart Inbox</li>
                    <li>Real Time Feeds from Social Media Platforms</li>
                    <li>Advanced Publishing Features</li>
                    <li>Sophisticated Tools for Social Media based CRM</li>
                    <li>In-Depth Reporting Tools</li>
                    <li>World Class 24*7 Training &amp; Support</li>
                    <li>Manage up to 10 profiles</li>
                </ul>
                <!-- end pricing-list -->
                <div class="pricing-cta">
                    <a class="btn btn-large btn-pricing" href="#" onclick="UpgradePlan(this)">Upgrade</a>
                </div>
                <!-- end pricing-cta -->
            </div>
            <!-- end pricing-box -->
        </div>
        <!-- end col-md-3 -->
        <div class="col-md-3">
            <div class="pricing-box popular">
                <div class="pricing-heading">
                    Premium
                       
                </div>
                <!-- end pricing-heading -->
                <div class="pricing-price">
                    $9.99 Per User/Month
                       
                </div>
                <!-- end pricing-price -->
                <div class="pricing-description">
                    Package you need to efficiently manage an expanding social media network.
                       
                </div>
                <!-- end pricing-description -->
                <ul class="pricing-list">
                    <li>All Standard Plan Features</li>
                    <li>Social Discovery</li>
                    <li>Helpdesk Integration</li>
                    <li>Powerful Statistics Engine</li>
                    <li>Custom Viewable Analytics</li>
                    <li>World Class 24*7 Training &amp; Support</li>
                    <li>RSS Feeds</li>
                    <li>Manage up to 20 profiles</li>
                </ul>
                <!-- end pricing-list -->
                <div class="pricing-cta">
                    <a class="btn btn-large btn-pricing-popular" href="#" onclick="UpgradePlan(this)">Upgrade</a>
                </div>
                <!-- end pricing-cta -->
            </div>
            <!-- end pricing-box -->
        </div>
        <!-- end col-md-3 -->
        <div class="col-md-3">
            <div class="pricing-box ">
                <div class="pricing-heading">
                    Deluxe
                       
                </div>
                <!-- end pricing-heading -->
                <div class="pricing-price">
                    $19.99 Per User/Month
                       
                </div>
                <!-- end pricing-price -->
                <div class="pricing-description">
                    Includes sophisticated tools for complex objectives
                       
                </div>
                <!-- end pricing-description -->
                <ul class="pricing-list">
                    <li>All Basic, Standard &amp; Deluxe Features</li>
                    <li>Prompt Feeds</li>
                    <li>Constant Real-time Monitoring</li>
                    <li>Team Collaboration Tools</li>
                    <li>Social CRM</li>
                    <li>World Class 24*7 Training &amp; Support</li>
                    <li>Manage up to 50 profiles</li>
                </ul>
                <!-- end pricing-list -->
                <div class="pricing-cta">
                    <a class="btn btn-large btn-pricing" href="#" onclick="UpgradePlan(this)">Upgrade</a>
                </div>
                <!-- end pricing-cta -->
            </div>
            <!-- end pricing-box -->
        </div>
        <!-- end col-md-3 -->
    </div>
        <!-- end row -->



        <div class="row">
            <h2>Expert Plans</h2>
            <div class="col-md-3">
                <div class="pricing-box ">
                    <div class="pricing-heading">
                        SocioBasic 
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $29.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                        Includes sophisticated tools for complex objectives
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li><strong>All Basic, Standard &amp; Deluxe Features</strong></li>
                        <li>Prompt Feeds</li>
                        <li>Constant Real-time Monitoring</li>
                        <li>Team Collaboration Tools</li>
                        <li>Social CRM</li>
                        <li>World Class 24*7 Training &amp; Support</li>
                        <li>Manage up to 100 profiles</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing" href="#" onclick="UpgradePlan(this)">Upgrade</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box ">
                    <div class="pricing-heading">
                        SocioStandard
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $49.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                        Includes sophisticated tools for complex objectives
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li><strong>All Basic, Standard &amp; Deluxe Features</strong></li>
                        <li>Prompt Feeds</li>
                        <li>Constant Real-time Monitoring</li>
                        <li>Team Collaboration Tools</li>
                        <li>Social CRM</li>
                        <li>World Class 24*7 Training &amp; Support</li>
                        <li>Manage up to 200 profiles</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing" href="#" onclick="UpgradePlan(this)">Upgrade</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box popular">
                    <div class="pricing-heading">
                        SocioPremium
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $79.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                        Includes sophisticated tools for complex objectives
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li><strong>All Basic, Standard &amp; Deluxe Features</strong></li>
                        <li>Prompt Feeds</li>
                        <li>Constant Real-time Monitoring</li>
                        <li>Team Collaboration Tools</li>
                        <li>Social CRM</li>
                        <li>World Class 24*7 Training &amp; Support</li>
                        <li>Manage up to 500 profiles</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing-popular" href="#" onclick="UpgradePlan(this)">Upgrade</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>
            <!-- end col-md-3 -->
            <div class="col-md-3">
                <div class="pricing-box ">
                    <div class="pricing-heading">
                        SocioDeluxe
                       
                    </div>
                    <!-- end pricing-heading -->
                    <div class="pricing-price">
                        $99.99 Per User/Month
                       
                    </div>
                    <!-- end pricing-price -->
                    <div class="pricing-description">
                        Includes sophisticated tools for complex objectives
                       
                    </div>
                    <!-- end pricing-description -->
                    <ul class="pricing-list">
                        <li><strong>All Basic, Standard &amp; Deluxe Features</strong></li>
                        <li>Prompt Feeds</li>
                        <li>Constant Real-time Monitoring</li>
                        <li>Team Collaboration Tools</li>
                        <li>Social CRM</li>
                        <li>World Class 24*7 Training &amp; Support</li>
                        <li>Manage up to 1000 profiles</li>
                    </ul>
                    <!-- end pricing-list -->
                    <div class="pricing-cta">
                        <a class="btn btn-large btn-pricing"  href="#" onclick="UpgradePlan(this)">Upgrade</a>
                    </div>
                    <!-- end pricing-cta -->
                </div>
                <!-- end pricing-box -->
            </div>

            

            <!-- end col-md-3 -->
        </div>
        <!-- end row -->
    </div>
    </div>