<div id="page-wrapper">
</div>
@using Domain.Socioboard.Domain;
@{
    //User objUser = (User)Model;
    User objUser = Session["User"] as User;
        }
@section Scripts
    {

    <script type="text/javascript">
        function loadpersonalsetting() {
            $('#page-wrapper').load('../PersonalSetting/LoadPersonalSetting')
        }

        function changesetting(id) {
            debugger;
            var fd = new FormData();
            var fn = $('#fname').val();
            var ln = $('#lname').val();
            var email = $('#email').val();
            var dt = $('#ContentPlaceHolder1_ddlTimeZone :selected').text();
            var filesimage = document.getElementById('input-24').files[0];
            if (filesimage != null) {
                fd.append('file', filesimage);
            }
            if (fn == "") {
                alertify.error('Please enter First Name');
                return false;
            }
            if (ln == "") {
                alertify.error('Please enter Last Name');
                return false;
            }
            if (fn.search(/[a-zA-Z]/) == -1) {
                alertify.error('Please enter a Proper First Name which contain Character');
                return false;
            }

            if (ln.search(/[a-zA-Z]/) == -1) {
                alertify.error('Please enter a Proper Last Name which contain Character');
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '../PersonalSetting/EditUserInfo?id=' + id + '&fname=' + fn + '&lname=' + ln + '&email=' + email + '&dt=' + dt,
                data: fd,
                processData: false,
                contentType: false,
                success: function (msg) {
                    if (msg == 1) {
                        alertify.success('Update Successfully');
                        window.location.href = "../PersonalSetting/Index";
                    }
                    else {
                        alertify.error('Error please check');
                    }
                    // $('#feeds').html('').append(msg);
                    // window.location = self.location;
                },
                async: false
            });
        }

        // Edited by Antima

        function AddImage() {
            debugger;
            var filesinput = $('#input-24');
            //     var filesinput = $('#uploadImage');
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            if (filesinput != undefined && filesinput[0].files[0] != null) {
                if (hasExtension('input-24', fileExtension)) {
                    $('#showRemoveImage').css('display', 'block');
                }
                else {
                    alertify.set({ delay: 3000 });
                    alertify.error("File Extention is not current. Please upload any image file");
                    $('#input-24').val('');
                    return;
                }

            }
        }

        function Upgradeplan(e) {
            debugger;
            var UpgradeType = $(e).attr('id');
            $.ajax({
                type: 'POST',
                url: '../PersonalSetting/PaypalUpgradePlan?UpgradeType=' + UpgradeType,
                success: function (msg) {
                    if (msg == "success") {
                        window.location = "../Home/Index";
                    }
                    else {
                        window.location=msg;
                    }
                },
                async: false
            });
        }

        $(document).ready(function () {
            loadpersonalsetting();
            $('#savepersonalsetting').on('click', 'savepersonalsetting', function () {
                alert('asdasd');
            });
        });

        //Commented by Sumit Gupta [30-01-15]
        //function changePassword(EmailId) {

        //    var op = $('#oldpass').val();
        //    var np = $('#newpass').val();
        //    var cp = $('#confirmpass').val();
        //    var dt = $('#ContentPlaceHolder1_ddlTimeZone :selected').text();
        //    if (op == "") {
        //        alertify.error('Please enter Old Password');
        //        return false;
        //    }
        //    if (np == "") {
        //        alertify.error('Please enter New Password');
        //        return false;
        //    }
        //    if (cp == "") {
        //        alertify.error('Please confirm Password');
        //        return false;
        //    }

        //    if (op == np) {
        //        alertify.success('Old and New Password should not be same');
        //    }
        //    else {
        //        $.ajax({
        //            type: 'POST',
        //            url: '../PersonalSetting/ChangePassword?id=' + EmailId + '&oldpass=' + op + '&newpass=' + np + '&confirmpass=' + cp,
        //            //alert('yes');
        //            success: function (msg) {
        //                if (msg == "Password Changed Successfully") {
        //                    alertify.success('Password Changed Successfully');
        //                    $('#ResetModal').modal('hide');
        //                }
        //                else if (msg == "Invalid EmailId or Password") {
        //                    alertify.success('Invalid EmailId or Password');
        //                }
        //                else if (msg == "New Password and Confirm Password mismatch") {
        //                    alertify.success("New Password and Confirm Password mismatch");

        //                }
        //                else {
        //                    alertify.error('Error please check');

        //                }
        //                $('#oldpass').val('');
        //                $('#newpass').val('');
        //                $('#confirmpass').val('');
        //                // $('#feeds').html('').append(msg);
        //                // window.location = self.location;
        //            },
        //            async: false
        //        });
        //    }

        //}

        //Added by Sumit Gupta [30-01-15]
        function changePassword(EmailId) {
            
            //var op = $('#oldpass').val();
            var np = $('#newpass').val();
            var cp = $('#confirmpass').val();
            var dt = $('#ContentPlaceHolder1_ddlTimeZone :selected').text();
           // if (op == "") {
           //     alertify.error('Please enter Old Password');
           //     return false;
           // }
            if (np == "") {
                alertify.error('Please enter New Password');
                return false;
            }
            if (cp == "") {
                alertify.error('Please confirm Password');
                return false;
            }

            //if (op == np) {
            //    alertify.success('Old and New Password should not be same');
            //}
            else {
                $.ajax({
                    type: 'POST',
                    url: '../PersonalSetting/ChangePassword?id=' + EmailId + '&newpass=' + np + '&confirmpass=' + cp,
                    //alert('yes');
                    success: function (msg) {
                        if (msg == "Password Changed Successfully") {
                            alertify.success('Password Changed Successfully');
                            $('#ResetModal').modal('hide');
                        }
                        else if (msg == "Invalid EmailId or Password") {
                            alertify.success('Invalid EmailId or Password');
                        }
                        else if (msg == "New Password and Confirm Password mismatch") {
                            alertify.success("New Password and Confirm Password mismatch");

                        }
                        else {
                            alertify.error('Error please check');

                        }
                        //$('#oldpass').val('');
                        $('#newpass').val('');
                        $('#confirmpass').val('');
                        // $('#feeds').html('').append(msg);
                        // window.location = self.location;
                    },
                    async: false
                });
            }

        }

        function ResetEmailId(Id) {
            var email = $('#newemail').val();
            if (email == "") {
                alertify.error('Please enter New EmailId');
                return false;
            }
            else {
                if (!validateEmail(email)) {
                    alert('not valid email');
                    return false;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '../PersonalSetting/CheckEmailIdExist?newEmailId=' + email,
                        success: function (msg) {
                            if (msg == "Mail Send Successfully") {
                                alertify.success('Mail Send Successfully');
                                $('#ResetMail').modal('hide');
                            }
                            else if (msg == "Email Id alredy Exist") {
                                alertify.error('Email Id already Exist');
                            }
                            else if (msg == "Failed") {
                                alertify.error("Failed");
                            }
                            else {
                                alertify.error('Error please check');
                            }
                            $('#newemail').val('');
                            window.location = '../personalSettings/LoadPersonalSetting';
                        },
                        async: false
                    });
                }
            }
        }

        function validateEmail(email) {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (!emailReg.test(email)) {
                return false;
            } else {
                return true;
            }
        }

        function ConfirmPassword() {
            var CnfrmPassword = $('#CnfrmPassword').val();
            $.ajax({
                type: 'POST',
                url: '../PersonalSetting/ConfirmPassword?CnfrmPassword=' + CnfrmPassword,
                //alert('yes');
                success: function (msg) {
                    if (msg == "Password Confirm") {
                        $('#CnfrmPassword').val('');
                        $("#ConfirmPassword").modal('hide');
                        $("#ResetMail").modal('show');
                    }
                    else {
                        alertify.error("Password Not Match");
                    }
                },
                async: false
            });
        }

        function SendResetPasswordMail() {
            var emailId = '@objUser.EmailId';
                   $.ajax({
                       type: "GET",
                       url: "../ForgotPassword/SendFogotPassMail?emailId=" + emailId,
                       data: '',
                       success: function (msg) {
                           if (msg == "Success") {
                               alertify.success('Mail to reset password has been sent Successfully!!');
                           }
                           else {
                               alertify.error("failure");
                           }
                       },
                       error: function () {
                           alert("failure");
                       }
                   });
         }

    </script>
}

