<?xml version="1.0"?>
<configuration>

  <appSettings>


    <!--Twitter-->
    <add key="consumerKey" value="" />
    <add key="consumerSecret" value="" />
    <add key="callbackurl" value="http://socialscoup.socioboard.com/TwitterManager.aspx" />
    <!--<add key="consumerKey" value="" />
    <add key="consumerSecret" value="" />
    <add key="callbackurl" value="http://localhost:3332/TwitterManager.aspx" />-->

    <!--Facebook-->
    <add key="ClientId" value="" />
    <add key="ClientSecretKey" value="" />
    <add key ="RedirectUrl" value ="http://woosuite.socioboard.com/FacebookManager.aspx"/>

    <!--LinkedIn-->
    <add key="LiApiKey" value="" />
    <add key="LiSecretKey" value="" />


    <!--Instagram App Credentials-->
    <add key="InstagramClientKey" value="" />
    <add key="InstagramClientSec" value="" />
    <add key ="InstagramCallBackURL" value="http://localhost:5332/InstagramManager.aspx"/>

    <!-- Google Plus -->
    <add key="GplusClientId" value="" />
    <add key="GplusClientSecretKey" value="" />
    <add key ="GplusRedirectUrl" value ="http://localhost:5332/GplusManager.aspx"/>

    <!--mailer setting-->
    <add key="host" value=""/>
    <add key ="port" value=""/>
    <add key ="username" value=""/>
    <add key ="pasword" value=""/>

  </appSettings>




  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
