<?xml version="1.0"?>
<configuration>

  <appSettings>


    <!--Twitter-->
    <add key="consumerKey" value="XPMdnCP3znp1pcnQyUhMQ" />
    <add key="consumerSecret" value="KLeMUvgOPFpD5w06krz9gLi17Ac5lTcsd7PybkWHY" />
    <add key="callbackurl" value="https://socialscoup.com/TwitterManager.aspx" />
    
    
    
    <!--<add key="consumerKey" value="tixICYVToSc0UaEqQPu4hg" />
    <add key="consumerSecret" value="M9EX3v8tPbHM3120OKfD534LoxVm2VpOYUf7Mu8" />
    <add key="callbackurl" value="http://localhost:3332/TwitterManager.aspx" />-->

    <!--Facebook-->
    <add key="ClientId" value="292435034237281" />
    <add key="ClientSecretKey" value="50b53cbb999ee5c9e1093cf5d8891f4b" />
    <add key ="RedirectUrl" value ="http://socialscoup.com/FacebookManager.aspx"/>

    <!--LinkedIn-->
    <add key="LiApiKey" value="7554o6fkix6l71" />
    <add key="LiSecretKey" value="530GNDYR06bAiOlb" />


    <!--Instagram App Credentials-->
    <add key="InstagramClientKey" value="0fbfc416ad9b4134b9882ef2e1432f4b" />
    <add key="InstagramClientSec" value="5d5e03b06aaf44df8bb02b12f85f4c40" />
    <add key ="InstagramCallBackURL" value="http://localhost:5332/InstagramManager.aspx"/>

    <!-- Google Plus -->
    <add key="GplusClientId" value="550156007068.apps.googleusercontent.com" />
    <add key="GplusClientSecretKey" value="gDjo77LevmalXjm1F5pIwBVy" />
    <add key ="GplusRedirectUrl" value ="http://localhost:5332/GplusManager.aspx"/>

    <!--mailer setting-->
    <add key="host" value="mail.globussoft.com"/>
    <add key ="port" value="25"/>
    <add key ="username" value="mailhelper@globussoft.com"/>
    <add key ="pasword" value="globussoft"/>

  </appSettings>




  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
