<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sponge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Sponge.Properties.Settings>
      <setting name="DomainKey" serializeAs="String">
        <value>BTUU28Y8FTW4UTXL44B8</value>
      </setting>
      <setting name="DomainPassword" serializeAs="String">
        <value>Yes6cLblk3lf4jWt</value>
      </setting>
    </Sponge.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="DomainKey" value="BTUU28Y8FTW4UTXL44B8"/>
    <add key="DomainPassword" value="Yes6cLblk3lf4jWt"/>
  </appSettings>
</configuration>