
<div class="col-md-12">
    <div style="margin-top: 200px;" id="load-wheel">
        <center>
                 <i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>
        </center>
    </div>
    <div class="pinBoot margin-top-50" id="social-feeds-section" nwt="">
    </div>

</div>
<script src="../Themes/Socioboard/Contents/js/boardcustom.js"></script>
