@model IEnumerable<Domain.Socioboard.Domain.Boards>

@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    Layout = "~/Themes/" + path + "/Views/Shared/_Site.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">BoardMe Admin

            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Socioboard BoardMe Admin
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="~/boards/create">Add A Board</a>
                                        </li>
                                       @* <li><a href="#">Upgrade</a>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int count = 0;}
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.BoardName</td>
                                    <td>
                                        <a class="btn btn-success   btn-xs" target="_blank" href="/board/@item.BoardName"><i class="fa fa-eye fa-fw"></i>VIEW </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-xs" href="/boards/analytics?boardID=@item.BoardName"><i class="fa fa-bar-chart fa-fw"></i>ANALYTICS </a>
                                    </td>
                                     <td>
                                        <a class="btn btn-danger btn-xs" href="/boards/DeleteBoard?boardID=@item.BoardId"><i class="fa fa-times fa-fw"></i>Delete </a>
                                    </td>
                                </tr>
                               
                            }

                          @*  <tr>
                                <td>2</td>
                                <td>chanchalsantra</td>
                                <td>
                                    <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i>VIEW </button>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs"><i class="fa fa-bar-chart"></i>ANALYTICS </button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>chanchalsantraglobussoft</td>
                                <td>
                                    <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i>VIEW </button>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs"><i class="fa fa-bar-chart"></i>ANALYTICS </button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>chanchalsantra</td>
                                <td>
                                    <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i>VIEW </button>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs"><i class="fa fa-bar-chart"></i>ANALYTICS </button>
                                </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>


</div>

@if (!string.IsNullOrEmpty(ViewBag.DeletedBoardId)) 
{
    <link href="/Themes/Socioboard/Contents/plugins/bootstrap-toastr/toastr.css" rel="stylesheet" />
<script src="/Themes/Socioboard/Contents/js/jquery-1.11.0.js"></script>
    <script src="~/Themes/Socioboard/Contents/plugins/bootstrap-toastr/toastr.min.js"></script>
<script type="text/javascript">

    Command: toastr["success"]("The Board has been Deleted. <a href='/Boards/UndoDelete?BoardId=@ViewBag.DeletedBoardId' style='color: red;'>Undo</a> it. ", "Delete")

toastr.options = {
  "closeButton": true,
  "debug": false,
  "positionClass": "toast-top-right",
  "showDuration": "1000",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
</script>
}
