@{
    ViewBag.Title = "Report";
}



<script type="text/javascript">

    function TeamReportDetails(days) {
        var fd = new FormData();

        fd.append("days", days);
        $.ajax({
            type: 'POST',
            url: '../Report/Teamreportpartial',
            data: fd,
            processData: false,
            contentType: false,
            success: function (msg) {

                $('#page-wrapper').html('').append(msg);
            },
            async: false
        });
    }

    function loadgroupstat(days) {
        var fd = new FormData();

        fd.append("days", days);
        $.ajax({
            type: 'POST',
            url: '../Report/GroupStatPartial',
            data: fd,
            processData: false,
            contentType: false,
            success: function (msg) {

                $('#page-wrapper').html('').append(msg);
            },
            async: false
        });
    }

    function GetFbPageDetails(FbUserId, UserId) {
        $.ajax({
            type: 'POST',
            url: "../Report/FbPagePostDetails?FbUserId=" + FbUserId + "&UserId=" + UserId,
            success: function (msg) {
                $('#page-wrapper').html('').append(msg);
            }

        });

    }

    function twitterdetails(twtProfileId, days) {
        debugger;
        var fd = new FormData();
        fd.append("twtProfileId", twtProfileId);
        fd.append("days", days);

        $.ajax({
            type: 'POST',
            url: '../Report/TwitterReportPartial',
            data: fd,
            processData: false,
            contentType: false,
            success: function (msg) {
                $('#page-wrapper').html('').append(msg);
                // loadChart();
            },
            async: false
        });
    }

    function loadfeesmenu() {

        // alert('load feeds');
        //$('#feeds').load('../Feeds/loadmenu');
        $.ajax({
            type: 'POST',
            url: '../Report/loadmenu',
            success: function (msg) {
                //alert(msg);
                $('#reports').html('').append(msg);
            },
            async: false
        });
    }

    function getfacebookpostcomment(id) {
        $.ajax({
            type: 'POST',
            url: '../Report/loadPostDetails?id='+id,
            success: function (msg) {
                $('#loadpostdetails').html(msg);
            },
            async: false
        });

        $('#CommentDetailsModall').modal('show');
    }

    function showHideDiv(id) {
        var obj = document.getElementById(id);
        if (obj.style.display == "none") {
            obj.style.display = 'block';
        } else if (obj.style.display == "block") {
            obj.style.display = 'none';
        }
    }


    $(document).ready(function () {
        debugger;
        $('#side-menu a').removeClass('active');
        $("#reports").addClass('active');
        $("#reports").children().addClass('active');
        loadfeesmenu();
    });

</script>


<div id="page-wrapper">
</div>

<div class="modal fade" id="CommentDetailsModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 id="myModalLabel" class="modal-title">Post Details</h4>
            </div>
            <div id="loadpostdetails" class="modal-body loadcomment">
               
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-primary" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>
