<body>
    <div style="margin-top:50px; margin:0 auto; width:630px;">         
        <div style="width:630px; height:auto; float:left; background:url(http://i47.tinypic.com/359bg8z.png); ">
            <div  style="width: 610px; background:url(http://i46.tinypic.com/o52x5t.png); padding-top: 17px; padding-left:20px; text-align: left; height: 56px;">
                    <img src="../../Contents/Images/home/home_logo.png" alt="" />
            </div>
            <!--Email content-->         
            <div style="font-family: Tahoma; font-size: 14px; color: rgb(24, 24, 24); padding: 10px; float: left; border: 2px solid rgb(0, 43, 108); width: 606px;">                
                <div style="width:610px; float:left; height:35px;"></div>
                <div style="height: auto; float: left; background: none repeat scroll 0px 0px rgb(255, 255, 255); width: 585px; padding: 10px;">                    
                    <div style="width:610px; height:auto; float:left; font-size:15px; font-family:Arial; margin-top:10px;"> Hi %USERNAME% </div>
                    <div style="width:610px; height:auto; float:left; font-size:15px; font-family:Arial; margin-top:10px;"> Congratulations, your account has been activated.click Here to <a href="\"> Login </a> </div>                    
                    <div style="width:610px; height:auto; float:left; font-size:15px; font-family:Arial; margin-top:10px;">
                        <div style="width:150px; height:auto; float:left; font-family:Arial; font-size:15px;"> Login Name: </div> 
                        <div style="width:auto; height:auto; float:left; font-family:Arial; font-size:15px;"> %EMAILID% </div>
                    </div>
                    <div style="width:610px; height:auto; float:left; font-size:15px; font-family:Arial; margin-top:10px;">
                        <div style="width:150px; height:auto; float:left; font-family:Arial; font-size:15px;">Password:</div>
                        <div style="width:auto; height:auto; float:left; font-family:Arial; font-size:15px;"> %PASSWORD% </div>
                    </div>
                    <div style="width:610px; height:auto; float:left; font-size:15px; font-family:Arial; margin-top:10px;">Thank you,</div>
                    <div style="width:610px; height:auto; float:left; font-size:15px; font-family:Arial; margin-top:10px;">Keep Brandzter... :)</div>
                </div>                
                <div style="width:610px; float:left; height:35px;"></div>
            </div>
            <!--End Email content-->
          </div>
     </div>   
</body>
