<style type="text/css">
body {
  font-family: Arial Unicode MS, Palatino, Sans-serif;
}
hr {
  color: BurlyWood;
}
#header_table, #image_table {
  border-collapse: collapse;
  border-style:solid;
  border-color:Moccasin;
  width:100%;
  border-width:1px;
  table-layout:auto;
}
#empty_cell {
  width:100%;
}
#from_row, #header_row_odd {
  background-color: LightYellow;
}
#to_row, #header_row_even {
  background-color: PapayaWhip;
}
#cc_row {
  background-color: LightYellow;
}
#bcc_row {
  background-color: LightYellow;
}
#date_row {
  background-color: PapayaWhip;
}
#subject_row {
  background-color: LightYellow;
}
#attach_row {
  background-color: PapayaWhip;
}
#from_caption, #to_caption, #cc_caption, #bcc_caption, #date_caption, #subject_caption, #attach_caption {
  font-weight: bold;
  text-align: right;
  padding-right:16px;
  padding-left:16px;
}
#from_text, #to_text, #cc_text, #bcc_text, #date_text, #subject_text, #attach_text {
  white-space: nowrap;
  width: 100%;
}
#msg_body {

  padding: 8px 8px 8px 8px
}
#attach_table {
  border-width: 1px;
  border-style:solid;
  border-color:Moccasin;
  background-color: LightYellow;
  white-space: nowrap;
}
a{ text-decoration:none;}
.scr{float: left;
    margin: -40px 0 0 136px;
    text-align: center;
    font-family:arial;
    font-size:14px; color:#301600;
}

</style>
<body>


 <!--<div style="width:1000px; height:auto; margin:0 auto;">
   <div  style="width: 990px; padding-top: 17px; text-align: center; height: 80px; background: none repeat scroll 0px 0px rgb(255, 188, 173); border-top-left-radius:5px; border-top-right-radius:5px;">
      <img src="http://www.socioboard.com/Contents/img/ssp/logo-txt.png" alt="" />
    </div>
        <div style="height: auto; float: left; background: none repeat scroll 0% 0% rgb(255, 255, 255);  padding-left: 10px; padding-right: 10px; border: 1px solid rgb(63, 4, 76); width: 968px; border-top:none;">
            <p style="margin-top: 8px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;"> 
            Hi [Name],</p> 
            <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
            Congratulations, your friend [SenderName] has invited you to try SocioBoard. </p> 
            <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
            SocioBoard is a Free and OpenSource Social Media management and engagement platform which helps you to generate more sales and acquire new customers on Social Media.</p> 
            <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
            Business owners like you are using SocioBoard on a daily basis to interact and engage with customers who are looking for them on Social Media.</p>
            <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;"> 
                    Do give SocioBoard a try today and take your business to newer heights.</p>
            <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
            If you like it, do share your SocioBoarding  experience with us here - <a href="http://www.socioboard.com/contact.aspx" > Socioboard</a></p>
            <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
            Click here to - <a href="[URLREG]" > Register in Socioboard</a></p>
            <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
            You can also Share us or Tweet about us and spread the word.</p>
            <p style="margin-top: 0px; height: auto; float: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 15px; width: 965px; text-align: justify;">
            <i>- Team SocioBoard </i></p>
        </div>
     </div>-->


     <div id=msg_body>
        <div dir="ltr">
        <br clear="all">
           <div class="gmail_quote"><table style="width:100%; background: transparent;" align="left" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">

          <tbody>
             <tr>
             <td align="center" valign="top">
                 <table style="width: 600px" align="center" bgcolor="#FB6947" border="0" cellpadding="0"
                     cellspacing="0">
                     <tbody>
                         <tr>
                             <td colspan="3" height="10" align="left" valign="top">
                                 &nbsp;
                             </td>
                         </tr>
                         <tr>
                             <td align="left" valign="top" width="10">
                                 &nbsp;
                             </td>
                             <td align="left" valign="top" width="580">
                                 <table style="width: 580px" align="left" bgcolor="#FFFFFF" border="0" cellpadding="0"
                                     cellspacing="0">
                                     <tbody>
                                         <tr>
                                             <td align="left" valign="top">
                                                 <table style="width: 580px" align="left" border="0" cellpadding="0" cellspacing="0">
                                                     <tbody>
                                                         <tr>
                                                             <td colspan="5" height="21" align="left" valign="top">
                                                                 &nbsp;
                                                             </td>
                                                         </tr>
                                                         <tr>
                                                             <td align="left" valign="top" width="11">
                                                                 &nbsp;
                                                             </td>
                                                             <td align="left" valign="top" width="215">
                                                                 <img style="margin: 0; padding: 0; float: left; display: block; width: 300px;" src="http://socioboard.com/Contents/img/ssp/logo-txt.png"
                                                                     alt="Cashkaro" border="0" width="300">
                                                             </td>
                                                             <td align="left" valign="top" width="95">
                                                                 &nbsp;
                                                             </td>
                                                             <td height="28" align="center" bgcolor="#216ba8" valign="middle" width="244">
                                                                 <a style="font-family: Arial,Helvetica,sans-serif; font-size: 17px; font-weight: bold;
                                                                     line-height: 28px; color: #ffffff; text-decoration: none" href="#" target="_blank">
                                                                     Click here to Join free today</a>
                                                             </td>
                                                             <td align="left" valign="top" width="15">
                                                                 &nbsp;
                                                             </td>
                                                         </tr>
                                                         <tr>
                                                             <td colspan="5" height="20" align="left" valign="top">
                                                                 &nbsp;
                                                             </td>
                                                         </tr>
                                                     </tbody>
                                                 </table>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td height="94" align="left" valign="top">
                                                 <a href="#" target="_blank">
                                                     <img style="margin: 0; padding: 0; float: left; display: block; width: 580px; min-height: 94px"
                                                         src="http://www.socioboard.com/Contents/img/re_nw_banner.png" alt="Stores" height="94" border="0"
                                                         width="580">
                                                      <span class="scr">your friend [SenderName] has invited you to try SocioBoard.</span>      
                                                   </a>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" bgcolor="#f1f1f1" valign="top">
                                                 <table style="width: 580px" align="left" border="0" cellpadding="0" cellspacing="0">
                                                     <tbody>
                                                         <tr>
                                                             <td align="left" valign="top" width="10">
                                                                 &nbsp;
                                                             </td>
                                                             <td style="font-family: Arial,Helvetica,sans-serif; font-size: 23px; color: #216ba8;
                                                                 font-weight: bold" height="35" align="left" bgcolor="#f1f1f1" valign="middle"
                                                                 width="570">
                                                                 Our Esteemed Clientele...
                                                             </td>
                                                         </tr>
                                                     </tbody>
                                                 </table>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td height="104" align="left" bgcolor="#f1f1f1" valign="top">
                                                 <a href="#" target="_blank">
                                                     <img style="margin: 0; padding: 0; float: left; display: block; width: 580px; min-height: 104px"
                                                         src="http://www.socioboard.com/Contents/img/re_store_logos.png"  alt="Stores" height="104" border="0" width="580"></a>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td height="15" align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 <table style="width: 580px" align="left" border="0" cellpadding="0" cellspacing="0">
                                                     <tbody>
                                                         <tr>
                                                             <td align="left" valign="top" width="13">
                                                                 &nbsp;
                                                             </td>
                                                             <td align="left" valign="top" width="346">
                                                                 <span style="line-height: 18px; font-size: 14px; font-family: Arial,Helvetica,sans-serif;
                                                                     margin: 0; padding: 0">Hi [Name],<br>
                                                                     <br>
                                                                     SocioBoard is an Free and OpenSource Social Media management and engagement platform
                                                                     which helps you to generate more sales and acquire new customers on Social Media.<br>
                                                                     <br>
                                                                     Business owners like you are using SocioBoard on a daily basis to interact and engage
                                                                     with customers who are looking for them on Social Media.
                                                                     <br>
                                                                     <br>
                                                                     Do give SocioBoard a try today and take your business to newer heights.
                                                                     <br>
                                                                     <br>
                                                                     If you like it, do share your SocioBoarding experience with us here - <a href="http://socioboard.com/contact.aspx"
                                                                         target="_blank">http://socioboard.com/contact.aspx </a>
                                                                     <br />
                                                                     <br />
                                                                     You can also Share us or Tweet about us and spread the word. </span>
                                                             </td>
                                                             <td align="left" valign="top" width="10">
                                                                 &nbsp;
                                                             </td>
                                                         </tr>
                                                         <tr>
                                                             <td colspan="4" height="25" align="left" valign="top">
                                                                 &nbsp;
                                                             </td>
                                                         </tr>
                                                         <tr>
                                                         </tr>
                                                     </tbody>
                                                 </table>
                                             </td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </td>
                             <td align="left" valign="top" width="10">
                                 &nbsp;
                             </td>
                         </tr>
                         <tr>
                             <td align="left" valign="top">
                                 &nbsp;
                             </td>
                             <td align="left" valign="top">
                                 <table style="width: 580px" align="left" bgcolor="#ffffff" border="0" cellpadding="0"
                                     cellspacing="0">
                                     <tbody>
                                         <tr>
                                             <td align="left" valign="top" width="10">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top" width="10">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top" width="10">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top" width="10">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </td>
                             <td align="left" valign="top">
                                 &nbsp;
                             </td>
                         </tr>
                         <tr>
                             <td align="left" valign="top">
                                 &nbsp;
                             </td>
                             <td align="left" valign="top">
                                 &nbsp;
                             </td>
                         </tr>
                         <tr>
                             <td height="19" align="left" valign="top">
                                 &nbsp;
                             </td>
                             <td align="left" bgcolor="#FFFFFF" valign="top">
                                 <table style="width: 580px" align="left" border="0" cellpadding="0" cellspacing="0">
                                     <tbody>
                                         <tr>
                                             <td align="left" valign="top" width="20">
                                                 &nbsp;
                                             </td>
                                             <td style="font-family: Arial,Helvetica,sans-serif; font-size: 26px; font-weight: bold;
                                                 line-height: 28px; color: #0080b6" height="67" align="left" valign="middle" width="540">
                                                 Customer Reviews..
                                             </td>
                                             <td align="left" valign="top" width="20">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">We doubled our revenues from the leads acquired with the help of Socioboard.</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td height="45" align="right" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">- Mahmoudou Sidibe, US</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">Socioboard has helped us understand our customers better, target them better and increase overall ROI per customer. </span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td height="45" align="right" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">- Sarim Ali, US</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">Support at Socioboard is excellent, they are online 24/7 and respond to tickets within minutes.</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td height="45" align="right" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">- Adam Prosmith, UK</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">Our sales shot over the roof after we started using Socioboard to target customers on Social Media.</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td height="45" align="right" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">- Christopher Sutch, US</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">Makes life easy and less cumbersome with smart social inbox. Thanks Socioboard.</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td height="45" align="right" valign="top">
                                                 <span style="font-family: Arial,Helvetica,sans-serif; font-size: 13px; color: #343434;
                                                     line-height: 22px; margin: 0; padding: 0; font-style: italic">- Maya Ross, UK</span>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td height="47" align="center" bgcolor="#216ba8" valign="middle">
                                                 <a style="font-family: Arial,Helvetica,sans-serif; font-size: 24px; font-weight: bold;
                                                     line-height: 28px; color: #ffffff; text-decoration: none" href="#" target="_blank">
                                                     Try it for today!</a>
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                         <tr>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                             <td align="left" valign="top">
                                                 &nbsp;
                                             </td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </td>
                             <td align="left" valign="top">
                                 &nbsp;
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </td>
         </tr>
     </tbody>
</table>


</div></div>

</div>
</body>