<div class="row cls-user-message">
    <div class="col-md-2">
        <i class="fa fa-facebook" style="color: #4e69a2;"></i>
    </div>
    <div class="col-md-8">
        <a href="#">Notifications </a>
    </div>
    <div class="col-md-2">
        <input type="checkbox" name="message-type" id="fb_notification" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxmessages(this.id)" checked />
        <label for="fb_notification" class="css-label"></label>
    </div>
</div>
<div class="row cls-user-message">
    <div class="col-md-2">
        <i class="fa fa-twitter" style="color: #4099FF;"></i>
    </div>
    <div class="col-md-8">
        <a href="#">Mentions </a>
    </div>
    <div class="col-md-2">
        <input type="checkbox" name="message-type" id="twt_mention" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxmessages(this.id)" checked />
        <label for="twt_mention" class="css-label"></label>
    </div>
</div>
<div class="row cls-user-message">
    <div class="col-md-2">
        <i class="fa fa-twitter" style="color: #4099FF;"></i>
    </div>
    <div class="col-md-8">
        <a href="#">Retweets </a>
    </div>
    <div class="col-md-2">
        <input type="checkbox" name="message-type" id="twt_retweet" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxmessages(this.id)" checked />
        <label for="twt_retweet" class="css-label"></label>
    </div>
</div>
<div class="row cls-user-message">
    <div class="col-md-2">
        <i class="fa fa-twitter" style="color: #4099FF;"></i>
    </div>
    <div class="col-md-8">
        <a href="#">New Followers </a>
    </div>
    <div class="col-md-2">
        <input type="checkbox" name="message-type" id="twt_followers" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxmessages(this.id)" checked />
        <label for="twt_followers" class="css-label"></label>
    </div>
</div>
