@{
    string Feed = (string)Model;
}
<body bgcolor="#FFFFFF">
    <table id="Table_01" style="margin-top: 50px; margin-left: auto; margin-right: auto" align="center" width="650px" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height="20px" style="background-color: rgb(222, 222, 222); text-align: center; font-size: 15px; font-weight: bold; font-family: Arial; color: rgb(51, 51, 51); float: left; width: 100%; margin-top: 7px; padding-top: 10px; border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 10px;"><div style="margin-top:-18px"><img style="height: 30px; margin-top: -6px; float: left;margin-left:200px" src="http://i.imgur.com/yubWZFL.png"><h4 style="margin-right:250px">SocioBoard</h4></div>
            </td>
        </tr>
        <td style="background-color: #dedede; padding-top: 10px; padding-left: 25px; padding-right: 25px; padding-bottom: 30px; font-family: Tahoma; font-size: 14px; color: #181818; min-height: auto;">
            <p>Hi</p>
            <p>
                @Feed
        </td>
        </tr>
    <tr>
        <td style="background-color: rgb(222, 222, 222); margin-top: 10px; padding-left: 20px; height: 20px; color: rgb(51, 51, 51); font-size: 15px; font-family: Arial; border-top: 1px solid rgb(204, 204, 204); padding-bottom: 10px; padding-top: 10px;">Thanks
        </td>
    </tr>
    </table>
</body>
