<div class="right-sidebar1">
			<div class="accordion" id="accordion">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" id="profile" href="#collapseOne">
                      <h2>Profile</h2>
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse in">
                    @*<div class="accordion-inner" id="accordianprofiles" ><ul><li class="messagetype"><a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/twittericon.png">abhaymondal3</a><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/uncheck_click.png" id="twt_1904022338" onclick="chkProfilemessage(this.id);"></li><li class="messagetype"><a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/fbicon.png">Aby Kumar</a><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/uncheck_click.png" id="fb_100006693371290" onclick="chkProfilemessage(this.id);"></li><li class="messagetype"><a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/fbicon.png">Pooja Sharma</a><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/uncheck_click.png" id="fb_100004288774888" onclick="chkProfilemessage(this.id);"></li></ul><input type="hidden" value="3" id="profilecounter"></div>*@
                      <div class="accordion-inner" id="accordianprofiles" data-url="/Messages/accordianprofiles"><ul><li class="messagetype"><a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/twittericon.png">abhaymondal3</a><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/uncheck_click.png" id="twt_1904022338" onclick="chkProfilemessage(this.id);"></li><li class="messagetype"><a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/fbicon.png">Aby Kumar</a><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/uncheck_click.png" id="fb_100006693371290" onclick="chkProfilemessage(this.id);"></li><li class="messagetype"><a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/fbicon.png">Pooja Sharma</a><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/uncheck_click.png" id="fb_100004288774888" onclick="chkProfilemessage(this.id);"></li></ul><input type="hidden" value="3" id="profilecounter"></div>
                  </div>
                </div>
                 


                 <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" style="display:none" id="messagetype" href="#collapseTwo">
                      <h2>Message type</h2>
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul>                        
                       <li class="messagetype">
                         <a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/twittericon.png">Mentions</a>
                            <img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/check_click.png" id="check_mentions" onclick="chkMessage(this.id);">
                        </li>
                       <li class="messagetype">
                         <a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/twittericon.png">User Tweets</a>
                      <img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/check_click.png" id="check_Retweets" onclick="chkMessage(this.id);">
                        </li>
                    
                     <li class="messagetype">
                         <a href="#"><img width="15" height="15" alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/fbicon.png">User Feeds</a>
                         <img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/check_click.png" id="check_WallPosts" onclick="chkMessage(this.id);">
                        </li>
                     </ul>
                    </div>
                  </div>
                </div>

















             
              </div>                   
					</div>
