<div id="sidebar">
				<div class="sidebar-inner">
                	<a class="btn active" href="../Messages/Messages" id="smart_inbox"><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/chatbtn.png">Smart Inbox</a>
                	<a class="btn" href="../Task" id="task_href"><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/markerbtn.png">My Task</a>
                    <a class="btn" onclick="BindInboxMessageonMessageTab();" href="#" id="sent_messages"><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/envbtn.png">Sent Message</a>
                    <a class="btn" onclick="BindArchiveMessages();" href="#" id="archive_message"><img alt="" src="~/Themes/@System.Configuration.ConfigurationManager.AppSettings["domain"]/Contents/img/admin/envbtn.png">Archive Message</a>
							</div>				
		  	</div>