
<div class="row cls-user-message">
    <div class="col-md-2">
        <i class="fa fa-twitter" style="color: #4099FF;"></i>
    </div>
    <div class="col-md-8">
        <a href="#">Mentions </a>
    </div>
    <div class="col-md-2">
        <input type="checkbox" name="message-type" id="twt_mention" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxsentimentmessages(this.id)" checked />
        <label for="twt_mention" class="css-label"></label>
    </div>
</div>
<div class="row cls-user-message">
    <div class="col-md-2">
        <i class="fa fa-twitter" style="color: #4099FF;"></i>
    </div>
    <div class="col-md-8">
        <a href="#">Retweets </a>
    </div>
    <div class="col-md-2">
        <input type="checkbox" name="message-type" id="twt_retweet" class="css-checkbox msg-filter-div" title="checked" onclick="filterinboxsentimentmessages(this.id)" checked />
        <label for="twt_retweet" class="css-label"></label>
    </div>
</div>

