
@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    }
<div id="page-wrapper" style="min-height: 385px;">

   
</div>
<script src="~/Themes/@path/Contents/js/Message.js"></script>
<script src="~/Themes/@path/Contents/js/Helper.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#page-wrapper').load('../Messages/loadarchive');
        $('#side-menu a').removeClass('active');
        $("#message").addClass('active');
        $("#message").children().addClass('active');
        $("#msg-archive").addClass('active');
        $("#msg-task").removeClass('active');
        $("#msg-index").removeClass('active');
        $("#msg-sentmsg").removeClass('active');
    });

    function hideTask(divId) {
        alert(divId);
        $('#' + divId).removeClass('in');
    }
    function opnCommentReply(network, messageid, ProfileId) {
        debugger;
        var buttonhtm = "<button type=\"button\" class=\"btn btn-default\" onclick=\"saveCommentReply('" + network + "','" + messageid + "','" + ProfileId + "')\">Comment</button>";
        $("#leaveCommentReply").html(buttonhtm);
        $("#CommentReplyArchive").modal('show');

    }
</script>
