@using Domain.Socioboard.Domain;
@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
}


<script type="text/javascript">
    //$(document).ready(function () {
    //    alert('forgetpassword');
    //});
    function sendmail() {
        debugger;

        var emailId = $('#EId').val();
        if (emailId == "") {
            alert('Please enter EmailId');
            return false;
        }

        if (!validateEmail(emailId)) {
            alert('not valid email');
            return false;
        }

        else {
            debugger;
            $.ajax({
                type: "GET",
                url: "../ForgotPassword/SendFogotPassMail?emailId=" + emailId,
                data: '',
                success: function (msg) {
                    if (msg == "Success") {
                        //alertify.success('Mail has been send Successfully!!');
                        //alertify.success("You've successfully reset your password. We've sent a link to your email with instructions for creating a new one.");
                    alertify.success("Please Reset your Password by clicking on Reset Password Link sent to your mail");
                    }
                    else if (msg == "IdNOtExist") {
                        //alertify.success('Mail has been send Successfully!!');
                        //alertify.success("You've successfully reset your password. We've sent a link to your email with instructions for creating a new one.");
                        alertify.error("No account found with that email address.");
                    }
                    else {
                        alertify.error("failure");
                    }
                },
                error: function () {
                    alert("failure");
                }
            });
        }
    }


    function validateEmail(email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test(email)) {
            return false;
        } else {
            return true;
        }
    }

</script>



<div class="col-sm-5 col-sm-offset-4" style="margin-top: 90px;">

    <div class="panel panel-primary">
        <div class="panel panel-heading">Forgot Password</div>
        <div class="panel-body">
            <a href="~/Index/Index?ReturnUrl=ForgotPassword/Index" class="pull-right" style="margin-top: -20px;">Login</a>
            <div class="row">
                <div class="col-sm-7 col-sm-offset-2">

                    <form method="post" id="emailid">
                        <input type="text" class="input-lg form-control" name="EmailId" id="EId" placeholder="Enter Your Email Id" autocomplete="off">
                        <br>
                        <button id="sendMailBtn" type="button" class="btn btn-success" onclick="sendmail()">SUBMIT</button>
                        @*  <input type="submit" class="col-xs-6 btn btn-success btn-load btn-lg" value="SUBMIT" onclick="sendmail()">*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



