@{
    Layout = "~/Themes/Socioboard/Views/Shared/_Socialsuite.cshtml";
}

@{
    string emailId = string.Empty;
    string code = string.Empty;
    Dictionary<string, string> resetdata = (Dictionary<string, string>)Model;
    try
    {
        emailId = resetdata["emailId"];
        code = resetdata["code"];
    }
    catch (Exception ex)
    {
        resetdata = null;
    }
    }

<script type="text/javascript">
    function PasswordChangeMail(emailId) {
        debugger;

        var Password1 = $('#Password1').val();
        var Password2 = $('#Password2').val();
        if (Password1 == Password2) {
           
            debugger;
            $.ajax({
                type: "GET",
                url: "../ForgotPassword/SendResetPasswordMail?emailId=" + emailId + "&Password=" + Password1,
                data: '',
                success: function (msg) {
                    if (msg == "Success") {
                        alertify.success('New Password has been sent to your Email.');
                    }
                    else {
                        alertify.error("failure");
                    }
                },
                error: function () {
                    alert("failure");
                }
            });
        }
        else {
            alert('Password not Match');
            return false;
        }
     
    }
</script>

<div class="col-sm-5 col-sm-offset-4" style="margin-top: 90px;">

    <div class="panel panel-primary">
        <div class="panel panel-heading">Reset Password</div>
        <div class="panel-body">
            @*<a href="#" class="pull-right" style="margin-top: -20px;">Login</a>*@
            <div class="row">
                <div class="col-sm-7 col-sm-offset-2">

                    <form method="post" id="passwordForm">
                        @if(resetdata!=null)
                        {
                            <input type="password" class="input-lg form-control" name="Password1" id="Password1" placeholder="Password" autocomplete="off">
                            <input type="password" class="input-lg form-control" name="Password2" id="Password2" placeholder="Confirm Password" autocomplete="off">
                            <br>
                            <button id="sendMailBtn" type="button" class="btn btn-success" onclick="PasswordChangeMail('@emailId','@code')">SUBMIT</button>
                        }
                        else
                        {
                            <div>
                                <div>Invalid Link</div>
                                <a href="/ForgotPassword/Index">Try again</a>
                             </div>
                            
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

