@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    Layout = "~/Themes/"+path+"/Views/Shared/_Socialsuite.cshtml";
}

@{
    string emailId = string.Empty;
    string code = string.Empty;
    Dictionary<string, string> resetdata = (Dictionary<string, string>)Model;
    try
    {
        emailId = resetdata["emailId"];
        code = resetdata["code"];
    }
    catch (Exception ex)
    {
        resetdata = null;
    }
    }

<script type="text/javascript">
    function PasswordChangeMail(emailId) {
        debugger;

        var Password1 = $('#Password1').val();
        var Password2 = $('#Password2').val();
        if (Password1 == Password2) {
           
            debugger;
            $.ajax({
                type: "GET",
                url: "../ForgotPassword/SendResetPasswordMail?emailId=" + encodeURIComponent(emailId) + "&Password=" + encodeURIComponent(Password1),
                data: '',
                success: function (msg) {
                    if (msg == "Success") {
                        //alertify.success('New Password has been sent to your Email.');
                        //Login here
                        try {
                            $.ajax({
                                type: 'POST',
                                //url: '../../Default/AjaxLogin.aspx?op=login&username=' + encodeURIComponent(username) + '&password=' + encodeURIComponent(password),
                                url: '../Index/AjaxLogin?op=login&username=' + encodeURIComponent(emailId) + '&password=' + encodeURIComponent(Password1),
                                success: function (msg) {
                                    debugger;
                                    if (msg != "Invalid Email or Password") {
                                        if ($("#RememberMe").is(':checked')) {
                                            checkCookie(emailId, Password1);
                                        }
                                    }
                                    if (msg == "user") {
                                        window.top.location = "../Home/Index";
                                    }
                                        // Edited by Antima[1/11/2014]
                                    else if (msg == "notactivated") {
                                        $.ajax({
                                            type: 'POST',
                                            url: '../Index/UserActivation',
                                            success: function (msg) {
                                                if (msg == 'Success') {
                                                    window.location = '../Index/UserActivationByEmail?email=' + emailId;
                                                }
                                            }
                                        });
                                    }
                                    else if (msg == "unpaid") {
                                        window.location = '../PersonalSetting/Index';
                                    }

                                        //Modified by Hozefa
                                    else if (msg == "SuperAdmin") {
                                        window.top.location = "../AdminHome/Dashboard";
                                    }
                                    else if (msg == "User Not Exist!") {
                                        document.getElementById('signinpasswordMessages').innerHTML = msg;
                                        $('#btnlogin').html("<button class='btn btn-warning' type='button'>Login</button>");
                                    }
                                    else {
                                        document.getElementById('signinpasswordMessages').innerHTML = msg;
                                        $('#btnlogin').html("<button class='btn btn-warning' type='button'>Login</button>");
                                    }
                                }

                            });
                        } catch (e) {
                            alert(e);
                        }
                    }
                    else {
                        alertify.error("failure");
                    }
                },
                error: function () {
                    alert("failure");
                }
            });
        }
        else {
            alert('Password not Match');
            return false;
        }
     
    }
</script>

<div class="col-sm-5 col-sm-offset-4" style="margin-top: 90px;">

    <div class="panel panel-primary">
        <div class="panel panel-heading">Reset Password</div>
        <div class="panel-body">
            @*<a href="#" class="pull-right" style="margin-top: -20px;">Login</a>*@
            <div class="row">
                <div class="col-sm-7 col-sm-offset-2">

                    <form method="post" id="passwordForm">
                        @if(resetdata!=null)
                        {
                            <input type="password" class="input-lg form-control" name="Password1" id="Password1" placeholder="Password" autocomplete="off">
                            <br>
                            <input type="password" class="input-lg form-control" name="Password2" id="Password2" placeholder="Confirm Password" autocomplete="off">
                            <br>
                            <button id="sendMailBtn" type="button" class="btn btn-success" onclick="PasswordChangeMail('@emailId','@code')">SUBMIT</button>
                        }
                        else
                        {
                            <div>
                                <div>Invalid Link</div>
                                <a href="/ForgotPassword/Index">Try again</a>
                             </div>
                            
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

