<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Socioboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Socioboard-20140728154257;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Socioboard-20140728154257.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} Class:%type Method:%method Line #: %line  – %m%n" />
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    <level value="ALL" /></root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="domain" value="Socioboard" />
    <add key="DefaultGroupName" value="Socioboard" />
    <add key="DomainName" value="http://localhost:9821" />
    <!--<add key="FacebookAuthUrl" value="http://www.facebook.com/v2.0/dialog/oauth/?scope=user_groups,read_stream,user_friends,user_status,publish_actions,read_insights,manage_pages,user_posts,manage_notifications,read_page_mailboxes,email,publish_actions,manage_pages" />-->
    <add key="UserGuide" value="Socioboard_User_Guide_2.0.pdf" />
    <add key="PaypalURL" value="https://www.sandbox.paypal.com" />
    <add key="FacebookAuthUrl" value="http://www.facebook.com/v2.0/dialog/oauth/?scope=user_friends,user_status,publish_actions,user_posts,email,publish_actions,manage_pages" />
    <!--Facebook-->
    <add key="ClientId" value="" />
    <add key="ClientSecretKey" value="" />
    <add key="RedirectUrl" value="http://localhost:9821/FacebookManager/Facebook" />
    <add key="consumerKey" value="" />
    <add key="consumerSecret" value="" />
    <add key="callbackurl" value="http://127.0.0.1:9821/TwitterManager/Twitter" />
    <add key="LiApiKey" value="" />
    <add key="LiSecretKey" value="" />
    <!--Instagram-->
    <!--
    <add key="InstagramClientKey" value="" />
    <add key="InstagramClientSec" value="" />
    <add key="InstagramCallBackURL" value="http://localhost:9821/InstagramManager/Instagram" />-->
    <!--Instagram-->
    <add key="InstagramClientKey" value="" />
    <add key="InstagramClientSec" value="" />
    <add key="InstagramCallBackURL" value="http://localhost:9821/InstagramManager/Instagram" />
    <!--Tumblr-->
    <add key="TumblrClientKey" value="" />
    <add key="TumblrClientSec" value="" />
    <add key="TumblrCallBackURL" value="http://localhost:9821/TumblrManager/Tumblr" />
    <!-- youtube -->
    <add key="YtconsumerKey" value="" />
    <add key="YtconsumerSecret" value="-" />
    <add key="Api_Key" value="" />
    <add key="Ytredirect_uri" value="http://localhost:9821/YoutubeManager/Youtube" />
    <!--Wordpess-->
    <add key="WordpessClientID" value="" />
    <add key="WordpessClientSecret" value="" />
    <add key="WordpessCallBackURL" value="http://localhost:9821/WordpressManager/Wordpress" />
    <!--Edited by Antima[8/11/2014]-->
    <!-- Download PayPal Config-->
    <add key="DownloadSuccessURL" value="http://localhost:9821/Index/PaymentSuccessful" />
    <add key="DownloadFailedURL" value="http://localhost:9821/Index/PaymentFailed" />
    <!--<add key="EnterPrisepaypalemail" value="" />-->
    <add key="Downloadpaypalemail" value="" />
    <add key="" />
    <!-- Upgrade plan PayPal Config-->
    <add key="UpgradePlanSuccessURL" value="http://localhost:9821/PersonalSetting/PaymentSuccessful" />
    <add key="UpgradePlanFailedURL" value="http://localhost:9821/PersonalSetting/PaymentFailed" />
    <add key="UpgradePlanpaypalemail" value="" />
    <add key="" />
    <!-- Upgrade AccountType Paypal Config -->
    <add key="UpgradeAccountSuccessURL" value="http://localhost:9821/PersonalSetting/UpgradeAccountSuccessful" />
    <add key="UpgradeAccountFailedURL" value="http://localhost:9821/PersonalSetting/PaymentFailed" />
    <add key="UpgradeAccountpaypalemail" value="" />
    <!-- Recharge Ewallet Paypal Config -->
    <add key="RechargeEwalletSuccessURL" value="http://localhost:9821/MyStuff/RechrgeEwalletSuccessful" />
    <add key="RechargeEwalletFailedURL" value="http://localhost:9821/MyStuff/PaymentFailed" />
    <add key="RechargeEwalletpaypalemail" value="" />
    
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Index/Index" timeout="2880" />
    </authentication>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Index/Index" slidingExpiration="true" timeout="120" />
    </authentication>
    <!--<customErrors mode="On" defaultRedirect="~/Index/Index" />-->
    <!--<customErrors defaultRedirect="~/Home/pagenotfound"
                 mode="On">
      <error statusCode="404"
             redirect="~/Home/pagenotfound"/>
    </customErrors>-->
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <!--<httpRuntime />-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <sessionState mode="InProc" timeout="120" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="WWW Rewrite" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.([.a-zA-Z0-9]+)$" />
          </conditions>
          <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Socioboard.Properties.Settings>
      <setting name="Socioboard_Api_CompanyDashboard_CompanyDashboard"
        serializeAs="String">
        <value>http://localhost:6361/services/CompanyDashboard.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Companypage_Companypage" serializeAs="String">
        <value>http://localhost:6361/services/Companypage.asmx</value>
      </setting>
      <setting name="Socioboard_Api_DropboxAccount_DropboxAccount"
        serializeAs="String">
        <value>http://localhost:6361/services/DropboxAccount.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Tumblr_Tumblr" serializeAs="String">
        <value>http://localhost:6361/services/Tumblr.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Dropbox_Dropbox" serializeAs="String">
        <value>http://localhost:6361/services/Dropbox.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Facebook_Facebook" serializeAs="String">
        <value>http://api.socioboard.com/Services/Facebook.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Linkedin_Linkedin" serializeAs="String">
        <value>http://localhost:6361/services/Linkedin.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TumblrAccount_TumblrAccount" serializeAs="String">
        <value>http://localhost:6361/services/TumblrAccount.asmx</value>
      </setting>
      <setting name="Socioboard_Api_YoutubeAccount_YoutubeAccount"
        serializeAs="String">
        <value>http://localhost:6361/services/YoutubeAccount.asmx</value>
      </setting>
      <setting name="Socioboard_Api_YoutubeChannel_YoutubeChannel"
        serializeAs="String">
        <value>http://localhost:6361/services/YoutubeChannel.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TumblrFeed_TumblrFeed" serializeAs="String">
        <value>http://localhost:6361/services/TumblrFeed.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TwitterDirectMessages_TwitterDirectMessages"
        serializeAs="String">
        <value>http://localhost:6361/services/TwitterDirectMessages.asmx</value>
      </setting>
      <setting name="Socioboard_Api_LinkedinAccount_LinkedinAccount"
        serializeAs="String">
        <value>http://localhost:6361/services/LinkedinAccount.asmx</value>
      </setting>
      <setting name="Socioboard_Api_LinkedInFeed_LinkedInFeed" serializeAs="String">
        <value>http://localhost:6361/services/LinkedInFeed.asmx</value>
      </setting>
      <setting name="Socioboard_Api_InstagramAccount_InstagramAccount"
        serializeAs="String">
        <value>http://localhost:6361/services/InstagramAccount.asmx</value>
      </setting>
      <setting name="Socioboard_Api_InstagramFeed_InstagramFeed" serializeAs="String">
        <value>http://api.socioboard.com/Services/InstagramFeed.asmx</value>
      </setting>
      <setting name="Socioboard_Api_BusinessSetting_BusinessSetting"
        serializeAs="String">
        <value>http://localhost:6361/services/BusinessSetting.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Drafts_Drafts" serializeAs="String">
        <value>http://localhost:6361/services/Drafts.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Youtube_Youtube" serializeAs="String">
        <value>http://api.socioboard.com/Services/Youtube.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TwitterStats_TwitterStats" serializeAs="String">
        <value>http://localhost:6361/services/TwitterStats.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TeamMemberProfile_TeamMemberProfile"
        serializeAs="String">
        <value>http://localhost:6361/services/TeamMemberProfile.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TwitterAccount_TwitterAccount"
        serializeAs="String">
        <value>http://localhost:6361/services/TwitterAccount.asmx</value>
      </setting>
      <setting name="Socioboard_Api_InstagramComment_InstagramComment"
        serializeAs="String">
        <value>http://localhost:6361/services/InstagramComment.asmx</value>
      </setting>
      <setting name="Socioboard_Api_LinkedinCompanyPage_LinkedinCompanyPage"
        serializeAs="String">
        <value>http://localhost:6361/services/LinkedinCompanyPage.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TwitterMessage_TwitterMessage"
        serializeAs="String">
        <value>http://localhost:6361/services/TwitterMessage.asmx</value>
      </setting>
      <setting name="Socioboard_Api_PaymentTransaction_PaymentTransaction"
        serializeAs="String">
        <value>http://localhost:6361/services/PaymentTransaction.asmx</value>
      </setting>
      <setting name="Socioboard_Api_ArchiveMessage_ArchiveMessage"
        serializeAs="String">
        <value>http://localhost:6361/services/ArchiveMessage.asmx</value>
      </setting>
      <setting name="Socioboard_Api_User_User" serializeAs="String">
        <value>http://api.socioboard.com/Services/User.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TicketAssigneeStatus_TicketAssigneeStatus"
        serializeAs="String">
        <value>http://localhost:6361/services/TicketAssigneeStatus.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TwitterFeed_TwitterFeed" serializeAs="String">
        <value>http://localhost:6361/services/TwitterFeed.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Invitation_Invitation" serializeAs="String">
        <value>http://localhost:6361/services/Invitation.asmx</value>
      </setting>
      <setting name="Socioboard_Api_AdminNews_AdminNews" serializeAs="String">
        <value>http://localhost:6361/services/AdminNews.asmx</value>
      </setting>
      <setting name="Socioboard_Api_AdminPackageDetails_AdminPackageDetails"
        serializeAs="String">
        <value>http://localhost:6361/services/AdminPackageDetails.asmx</value>
      </setting>
      <setting name="Socioboard_Api_AdminUserDetails_AdminUserDetails"
        serializeAs="String">
        <value>http://localhost:6361/services/AdminUserDetails.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Ads_Ads" serializeAs="String">
        <value>http://localhost:6361/services/Ads.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Coupon_Coupon" serializeAs="String">
        <value>http://localhost:6361/services/Coupon.asmx</value>
      </setting>
      <setting name="Socioboard_Api_NewsLetter_NewsLetter" serializeAs="String">
        <value>http://localhost:6361/services/NewsLetter.asmx</value>
      </setting>
      <setting name="Socioboard_Api_GroupProfile_GroupProfile" serializeAs="String">
        <value>http://localhost:6361/services/GroupProfile.asmx</value>
      </setting>
      <setting name="Socioboard_Api_FbPageLiker_FbPageLiker" serializeAs="String">
        <value>http://localhost:6361/services/FbPageLiker.asmx</value>
      </setting>
      <setting name="Socioboard_Api_FbPageComment_FbPageComment" serializeAs="String">
        <value>http://localhost:6361/services/FbPageComment.asmx</value>
      </setting>
      <setting name="Socioboard_Api_FacebookAccount_FacebookAccount"
        serializeAs="String">
        <value>http://localhost:6361/services/FacebookAccount.asmx</value>
      </setting>
      <setting name="Socioboard_Api_FbPagePost_FbPagePost" serializeAs="String">
        <value>http://localhost:6361/services/FbPagePost.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Groups_Groups" serializeAs="String">
        <value>http://api.socioboard.com/Services/Groups.asmx</value>
      </setting>
      <setting name="Socioboard_Api_FacebookFeed_FacebookFeed" serializeAs="String">
        <value>http://localhost:6361/services/FacebookFeed.asmx</value>
      </setting>
      <setting name="Socioboard_Api_GroupScheduleMessage_GroupScheduleMessage"
        serializeAs="String">
        <value>http://localhost:6361/services/GroupScheduleMessage.asmx</value>
      </setting>
      <setting name="Socioboard_Api_FacebookMessage_FacebookMessage"
        serializeAs="String">
        <value>http://localhost:6361/services/FacebookMessage.asmx</value>
      </setting>
      <setting name="Socioboard_Api_GooglePlusAccount_GooglePlusAccount"
        serializeAs="String">
        <value>http://localhost:6361/services/GooglePlusAccount.asmx</value>
      </setting>
      <setting name="Socioboard_Api_SocialProfile_SocialProfile" serializeAs="String">
        <value>http://localhost:6361/services/SocialProfile.asmx</value>
      </setting>
      <setting name="Socioboard_Api_SentimentalAnalysis_SentimentalAnalysis"
        serializeAs="String">
        <value>http://localhost:6361/services/SentimentalAnalysis.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Tasks_Tasks" serializeAs="String">
        <value>http://localhost:6361/services/Tasks.asmx</value>
      </setting>
      <setting name="Socioboard_Api_TaskComment_TaskComment" serializeAs="String">
        <value>http://localhost:6361/services/TaskComment.asmx</value>
      </setting>
      <setting name="Socioboard_Api_ScheduledMessage_ScheduledMessage"
        serializeAs="String">
        <value>http://localhost:6361/services/ScheduledMessage.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Instagram_Instagram" serializeAs="String">
        <value>http://api.socioboard.com/Services/Instagram.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Affiliates_Affiliates" serializeAs="String">
        <value>http://localhost:6361/services/Affiliates.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Team_Team" serializeAs="String">
        <value>http://localhost:6361/services/Team.asmx</value>
      </setting>
      <setting name="Socioboard_Api_MailSender_MailSender" serializeAs="String">
        <value>http://localhost:6361/services/MailSender.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Twitter_Twitter" serializeAs="String">
        <value>http://localhost:6361/services/Twitter.asmx</value>
      </setting>
      <setting name="Socioboard_Api_Admin_Admin" serializeAs="String">
        <value>http://localhost:6361/services/Admin.asmx</value>
      </setting>
      <setting name="Socioboard_Api_EwalletWithdrawRequest_EwalletWithdrawRequest"
        serializeAs="String">
        <value>http://api.socioboard.com/services/EwalletWithdrawRequest.asmx</value>
      </setting>
      <setting name="Socioboard_Api_GooglePlusActivities_GooglePlusActivities"
        serializeAs="String">
        <value>http://api.socioboard.com/services/GooglePlusActivities.asmx</value>
      </setting>
      <setting name="Socioboard_Api_GooglePlus_GooglePlus" serializeAs="String">
        <value>http://api.socioboard.com/services/GooglePlus.asmx</value>
      </setting>
      <setting name="Socioboard_Api_InboxMessages_InboxMessages" serializeAs="String">
        <value>http://api.socioboard.com/services/InboxMessages.asmx</value>
      </setting>
      <setting name="Socioboard_Api_LinkedinMessage_LinkedinMessage"
        serializeAs="String">
        <value>http://api.socioboard.com/services/LinkedinMessage.asmx</value>
      </setting>
      <setting name="Socioboard_Api_DiscoverySearch_DiscoverySearch"
        serializeAs="String">
        <value>http://api.socioboard.com/services/discoverysearch.asmx</value>
      </setting>
    </Socioboard.Properties.Settings>
  </applicationSettings>
</configuration>