<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Twitter-->
    <add key="consumerKey" value="d0wZgE9ntNRkvCI2XAm61A" />
    <add key="consumerSecret" value="CRTkKCDmm55URoGeUEraNsbOMWm3wXxvZHMiauvFKJY" />
    <add key="callbackurl" value="http://localhost:5330/TwitterManager.aspx" />
    <!--Facebook Local-->
    <add key="ClientId" value="443380315763173" />
    <add key="ClientSecretKey" value="8015eb56e8afbef02c975f40bbcfe762" />
    <add key="RedirectUrl" value="http://localhost:5330/FacebookManager.aspx" />
    <!--Facebook Local-->
    <add key="GplusClientId" value="550156007068.apps.googleusercontent.com" />
    <add key="GplusClientSecretKey" value="gDjo77LevmalXjm1F5pIwBVy" />
    <add key="GplusRedirectUrl" value="http://localhost:5330/GplusManager.aspx" />
    <!--LinkedIn-->
    <add key="LiApiKey" value="08bb09lu0s1u" />
    <add key="LiSecretKey" value="D7oYVoUjkKoxKcLk" />
    <!--Facebook Server-->
    <!--
    <add key="ClientId" value="517105231670294" />
    <add key="ClientSecretKey" value="398bc19ff880ae8f1dced721496af045" />
    <add key ="RedirectUrl" value ="http://www.socioboard.com/FacebookManager.aspx/"/>-->
    <!--Instagram App Credentials-->
    <add key="InstagramClientKey" value="38292c237cbe44a9bfec232280a2d0f2" />
    <add key="InstagramClientSec" value="e961258a9093404d81cf342960455253" />
    <add key="InstagramCallBackURL" value="http://localhost:5330/InstagramManager.aspx?id=ins" />
    <!--mailer setting-->
    <add key="host" value="mail.globussoft.com" />
    <add key="port" value="25" />
    <add key="username" value="mailhelper@globussoft.com" />
    <add key="pasword" value="globussoft" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>