<div id="page-wrapper">
</div>



<script type="text/javascript">
    function loadusergroup() {
        $('#page-wrapper').load('../UserGroup/LoadUserGroup')
    }
    function loadgroupinfo(groupid, groupname) {
        $.ajax({
            type: 'POST',
            url: '../UserGroup/connectedprofilestothisgroup?selectedgroupid=' + groupid,
            success: function (msg) {
                $('#profileconnectedwithgroup').html(msg);
                $('#groupinfo').css({ "display": "block" });
                $('#groupname').html(" " + groupname);
                
                
            },
            async: false
        });
       
        $.ajax({
            type: 'POST',
            url: '../UserGroup/PendingUser?selectedgroupid=' + groupid,
            success: function (msg) {
                $('#pendinguserforcurrentgroup').html(msg);
                
                $('#invitationmember').attr('usergroupname', groupname);
            },
            async: false
        });
        $.ajax({
            type: 'POST',
            url: '../UserGroup/AcceptedUser?selectedgroupid=' + groupid,
            success: function (msg) {
                $('#accepteduserforcurrentgroup').html(msg);

            },
            async: false
        });
    }
    //commented by vikash
    //function addtocurrentgroup(profileid, profilepic, networkicon, network) {

    //    if ($('#profileconnectedwithgroup').html().indexOf(profileid) <= -1) {
    //        $('#profileconnectedwithgroup').append('<div id="' + profileid + '" style="display:none" class="col-sm-1 groupuserpictiny"><div data-target="#closeModal" data-toggle="modal"  class="delet_icon"></div><img onclick="removeprofilefromgroup(\'' + profileid + '\')" src=' + profilepic + ' class="img-responsive img-rounded"><img class="img-responsive img-circle groupsocialIconPoss" src=' + networkicon + '></div>');
    //        $('#' + profileid).fadeIn(750);
    //        $.ajax({
    //            type: 'POST',
    //            url: '../UserGroup/AddprofileToCurrentGroup?profileid=' + profileid + '&network=' + network,
    //            success: function (msg) {

    //            },
    //            async: false
    //        });
    //    }
    //    else {
    //        alertify.error("Profile Already Exist");
    //    }
    //};
    
    function removeprofilefromgroup(profileid) {
        //alert(profileid);
        var group =$('#groupname').html();
        alertify.confirm("Are you sure, You Want to remove this account from " + group, function (e) {
            if (e) {
                $('#' + profileid).hide(250, function () {
                    $('#' + profileid).remove();
                });
                $.ajax({
                    type: 'POST',
                    url: '../UserGroup/DeleteprofileFromCurrentGroup?profileid=' + profileid,
                    success: function (msg) {

                    },
                    async: false
                });
            }
        });
    }
    // added by vikash 
    function addtocurrentgroup(profileid, profilepic, networkicon, network) {

        if ($('#profileconnectedwithgroup').html().indexOf(profileid) <= -1) {
            $('#profileconnectedwithgroup').append('<div id="' + profileid + '" style="display:none" class="col-sm-1 groupuserpictiny"><div class="delet_icon" onclick="removeprofilefromgroup(\'' + profileid + '\')"></div><img src=' + profilepic + ' class="img-responsive img-rounded"><img class="img-responsive img-circle groupsocialIconPoss" src=' + networkicon + '></div>');
            $('#' + profileid).fadeIn(750);
            $.ajax({
                type: 'POST',
                url: '../UserGroup/AddprofileToCurrentGroup?profileid=' + profileid + '&network=' + network,
                success: function (msg) {

                },
                async: false
            });
        }
        else {
            alertify.error("Profile Already Exist");
        }
    }

    function confirmDelGroup(groupid) {
        alertify.confirm("Are you Sure want to delete this Group ?", function (e) {
            if (e) {
                $.ajax
        ({
            type: "POST",
            url: "../UserGroup/DeleteGroup?Groupid=" + groupid,
            data: '',
            dataType: "html",
            success: function (msg) {
                alertify.success("Group Deleted Successfully");
                window.location = self.location;

            }
        });
            } else {
                debugger;

            }
        });
    }

    function inviteteammember()
    {
        $('#inviteteammember').modal('show');
        $('#usergroupname').html(" " + $('#invitationmember').attr('usergroupname'))
        
    }
    //commented by vikash
    //function addteam()
    //{
    //    var teamemail = $('#txtteamemail').val();
    //    if (teamemail == "") {
    //        alertify.error("Please enter your friend email")
    //        return false;
    //    }
    //    else {
    //        alert(teamemail);
    //        $.ajax({
    //            type: 'POST',
    //            url: '../UserGroup/AddTeamMember?email=' + teamemail,
    //            success: function (msg) {

    //            },
    //            async: false
    //        });
    //    }
    //}
//------------vikash---------//
    function addteam() {
        debugger;
        var teamemail = $('#txtteamemail').val();

        if (teamemail == "") {
            alertify.error("Please enter your friend email")
            return false;
        }
        else if (!validateEmail(teamemail)) {
            alert('Not valid email ! Please enter valid email');
            $('#txtteamemail').val('');
            return false;
        }
        else {
            alertify.confirm("Confirm Email Id : " + teamemail, function (e) {
                if (e) {
                    $.ajax({
                        type: 'POST',
                        url: '../UserGroup/AddTeamMember?email=' + teamemail,
                        success: function (msg) {
                            $('#inviteteammember').modal('hide');
                            if (msg != "") {
                                alertify.success('Mail send successfully');
                                $('#txtteamemail').val('');
                            }
                            else {
                                alertify.error('Email already Exist');
                            }
                        },
                        async: false
                    });
                } else { }
            });
        }
    }

    $(document).ready(function () {
        loadusergroup();

    });

    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test($email)) {
            return false;
        } else {
            return true;
        }
    }
</script>
