@using Domain.Socioboard.Domain;
@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    News ObjNews = (News)Model;   
}

<div style="min-height: 382px;" id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit User Details</h1>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->


                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Personal">

                                <div class="col-md-6">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="username-email">News</label><span class="pull-right text-danger">*</span>
                                            <input id="txtNewsdtl" value="" type="text" class="form-control" placeholder="Enter News">
                                        </div>


                                        <div class="form-group">
                                            <label for="username-email">Expiry Date</label><span class="pull-right text-danger">*</span>
                                            <input id="txtNewsExpirydate" value="" type="text" class="form-control">
                                        </div>


                                        <div class="form-group">
                                            <div class="ps_select">
                                                <label for="username-email">Status</label><span class="pull-right text-danger">*</span>
                                                <select id="dpNewsStatus" class="select form-control">
                                                                <option selected value="true">Enable</option>
                                                                <option value="false">Disable</option>
                                                </select>
                                            </div>

                                        </div>
                                        <button onclick="AddNews()"; id="AddNewsData" type="button" class="btn btn-warning">Save</button>
                                    </form>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
<script src="~/Themes/@path/Contents/js/jquery-1.10.2.min.js"></script>
<script>
    function AddNews() {
        debugger;
        var News = $('#txtNewsdtl').val();
        var ExpiryDate = $("#txtNewsExpirydate").val();
        var Status = $('#dpNewsStatus :selected').val();
        if (News == "") {
            alertify.error('Please enter User Name');
            return false;
        }
        if (ExpiryDate == "") {
            alertify.error('Please enter User Name');
            return false;
        }




        $.ajax({
            type: 'POST',
            url: '../News/AddNews?News=' + News + '&ExpiryDate=' + ExpiryDate + '&Status=' + Status,
            success: function (msg) {
                if (msg == "Success") {
                    alertify.success('Added Successfully');
                    window.top.location.href = "../News/ManageNews";
                }
                else {
                    alertify.error('Error please check');
                }
            },
            async: false
        });
    }

    $(document).ready(function (e) {

        $("#txtNewsExpirydate").datepicker();
        //$('#txtNewsExpirydate').datepicker({
        //    multidate: false,
        //    todayHighlight: true,
        //    startDate: '',
        //    endDate: 'd',
        //    clearBtn: true
        //});

        //$('#txtNewsExpirydate').datepicker();
    });
</script>
