<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocioboardDataServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SocioboardDataServices.Properties.Settings>
            <setting name="SocioboardDataServices_Api_SocialProfile_SocialProfile"
                serializeAs="String">
                <value>http://localhost:6361/Services/SocialProfile.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_FacebookAccount_FacebookAccount"
                serializeAs="String">
                <value>http://localhost:6361/Services/FacebookAccount.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_FacebookFeed_FacebookFeed"
                serializeAs="String">
                <value>http://localhost:6361/Services/FacebookFeed.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_TumblrAccount_TumblrAccount"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/TumblrAccount.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_TumblrFeed_TumblrFeed"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/TumblrFeed.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_LinkedinAccount_LinkedinAccount"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/LinkedinAccount.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_InstagramAccount_InstagramAccount"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/InstagramAccount.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_InstagramFeed_InstagramFeed"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/InstagramFeed.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_InstagramComment_InstagramComment"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/InstagramComment.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_YoutubeAccount_YoutubeAccount"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/YoutubeAccount.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_Facebook_Facebook"
                serializeAs="String">
                <value>http://localhost:6361/Services/Facebook.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_Instagram_Instagram"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/Instagram.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_Tumblr_Tumblr" serializeAs="String">
                <value>http://devapi.socioboard.com/Services/Tumblr.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_Youtube_Youtube" serializeAs="String">
                <value>http://devapi.socioboard.com/Services/Youtube.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_Linkedin_Linkedin"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/Linkedin.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_TwitterAccount_TwitterAccount"
                serializeAs="String">
                <value>http://devapi.socioboard.com/Services/TwitterAccount.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_FacebookStats_FacebookStats"
                serializeAs="String">
                <value>http://localhost:6361/Services/FacebookStats.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_Twitter_Twitter" serializeAs="String">
                <value>http://devapi.socioboard.com/Services/Twitter.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_Team_Team" serializeAs="String">
                <value>http://localhost:6361/Services/Team.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_TicketAssigneeStatus_TicketAssigneeStatus"
                serializeAs="String">
                <value>http://localhost:6361/Services/TicketAssigneeStatus.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_SentimentalAnalysis_SentimentalAnalysis"
                serializeAs="String">
                <value>http://localhost:6361/Services/SentimentalAnalysis.asmx</value>
            </setting>
            <setting name="SocioboardDataServices_Api_DiscoverySearch_DiscoverySearch"
                serializeAs="String">
                <value>http://api.socioboard.com/services/discoverySearch.asmx</value>
            </setting>
        </SocioboardDataServices.Properties.Settings>
    </applicationSettings>
</configuration>