<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
    

    
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} Class:%type Method:%method Line #: %line  – %m%n" />
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>

    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>

    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>



   <appSettings>
     <add key="DomainName" value="http://www.socioboard.com" />
    <!--mandrill-->
    <add key="Mandrillhost" value="smtp.mandrillapp.com" />
    <add key="Mandrillport" value="587" />
    <!--<add key="Mandrillusername" value=""/>
    <add key="Mandrillpassword" value=""/>-->
    <add key="Mandrillusername" value="" />
    <add key="Mandrillpassword" value="" />
    <add key="tomail" value="support@socioboard.com" />
    
    <!--mailer setting-->
   
    <add key="SuccessURL" value="" />
    <add key="FailedURL" value="" />
    <add key="paypalemail" value="" />

    <add key="DefaultGroupName" value="Socioboard" />
   
     <!--Sentimental Analysis-->
     <add key="ReadKey" value="" />
     
    <!--Facebook-->
     <add key="ClientId" value="" />
     <add key="ClientSecretKey" value="" />
    <add key="RedirectUrl" value="" /> 
    
    <add key="facebookurl" value="http://www.facebook.com/dialog/oauth/?scope=read_friendlists,publish_actions,publish_stream,read_stream,read_insights,manage_pages,user_checkins,user_photos,read_mailbox,manage_notifications,read_page_mailboxes,email,user_videos,offline_access" />

    <add key="consumerKey" value="xtMOIpzmb8TEADJ7OA3SZxcEz" />
    <add key="consumerSecret" value="RiEqxguH0CjW3TcTdXWqXMg341tko78dDoxRhezAciE2oDo7vx" />
    <add key="callbackurl" value="http://127.0.0.1:9821/TwitterManager/Twitter" />
   
    <!--LinkedIn-->
   
    <add key="LiApiKey" value="75twxrn998lyr8" />
    <add key="LiSecretKey" value="OHRk7Yh0OwREDcEK" />

    <!--Instagram-->
    <add key="InstagramClientKey" value="f5f052ccbdf94df490020f852863141b" />
    <add key="InstagramClientSec" value="6c8ac0efa42c4c918bf33835fc98a793" />
    <add key="InstagramCallBackURL" value="http://localhost:9821/InstagramManager/Instagram" />

    <!--Tumblr-->
    <add key="TumblrClientKey" value="NhxLYpyWlVTDlNhv966u2tHzZYMqVVozFmjY67znlQWzZuIuum" />
    <add key="TumblrClientSec" value="GnhPtDpX0oOW59qvICwjHwuiEojROkkklx1j2xL7GV6bu7pt9S" />
    <add key="TumblrCallBackURL" value="http://localhost:9821/TumblrManager/Tumblr" />

    <!--Youtube-->
  

    <add key="YtconsumerKey" value="826802579753-m35u38pc4tra5fbi3eu0dvk6ngftpgtd.apps.googleusercontent.com" />
    <add key="YtconsumerSecret" value="LVlRUfGodWiDdjUArtMx8Wmx" />
    <add key="Ytredirect_uri" value="http://localhost:9821/YoutubeManager/Youtube" />
    <!--DropBox Setting-->
    <add key="DBX_Appkey" value="k530kw02392zpb9" />
    <add key="DBX_Appsecret" value="lm8ptcv84gkt0ux" />
    <add key="DBX_redirect_uri" value="http://localhost:9821/DropboxManager/DropboxManager" />

  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Detailed"></httpErrors>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  
</configuration>