<div id="sidebar" class="feeds">
    <div class="sidebar-inner">
        <div id="accordion2" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a onclick="BindProfilesforNetworkOnly('facebook');" href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                        <img class="fesim" src="../Contents/img/admin/1.png" alt="">FACEBOOK <i class="icon-sort-down pull-right hidden"></i></a>
                </div>
                <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
                    <div class="accordion-inner">
                        <ul id="facebookusersforfeeds">
                            <li><a class="active" onclick="facebookdetails('100006693371290');" href="#" id="lifb_100006693371290">Aby Kumar</a> </li>
                            <li><a class="active" onclick="facebookdetails('100001520157054');" href="#" id="lifb_100001520157054">Kendal Bouchard</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a onclick="BindProfilesforNetwork('twitter');" href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                        <img class="fesim" src="../Contents/img/admin/2.png" alt="">TWITTER <i class="icon-sort-down pull-right"></i></a>
                </div>
                <div class="accordion-body collapse" id="collapseTwo">
                    <div class="accordion-inner">
                        <ul id="twitterprofilesoffeed">
                            <li><a class="active" href="#">
                                <img alt="" src="../Contents/img/891.png"></a> </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a onclick="BindProfilesforNetwork('linkedin');" href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                        <img class="fesim" src="../Contents/img/admin/5.png" alt="">LINKEDIN <i class="icon-sort-down pull-right hidden"></i></a>
                </div>
                <div class="accordion-body collapse" id="collapseThree">
                    <div class="accordion-inner">
                        <ul id="linkedinprofilesforfeed">
                            <li><a class="active" href="#">
                                <img alt="" src="../Contents/img/891.png"></a> </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a onclick="BindProfilesforNetwork('instagram');" href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                        <img class="fesim" src="../Contents/img/admin/4.png" alt="">INSTAGRAM <i class="icon-sort-down pull-right hidden"></i></a>
                </div>
                <div class="accordion-body collapse" id="collapseFour">
                    <div class="accordion-inner">
                        <ul id="instagramprofilesforfeed">
                            <li><a class="active" href="#">
                                <img alt="" src="../Contents/img/891.png"></a> </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a onclick="BindProfilesforNetwork('tumblr');" href="#collapseFive" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                        <img class="fesim" src="../Contents/img/tumblr.png" alt="">TUMBLR<i class="icon-sort-down pull-right hidden">
                                </i></a>
                </div>
                <div class="accordion-body collapse" id="collapseFive">
                    <div class="accordion-inner">
                        <ul id="tumblrprofilesforfeed">
                            <li><a class="active" href="#">
                                <img alt="" src="../Contents/img/891.png"></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a onclick="BindProfilesforNetwork('youtube');" href="#collapseSix" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                        <img class="fesim" src="../Contents/img/youtube.png" alt="">YOUTUBE<i class="icon-sort-down pull-right hidden">
                                </i></a>
                </div>
                <div class="accordion-body collapse" id="collapseSix">
                    <div class="accordion-inner">
                        <ul id="youtubeprofilesforfeed">
                            <li><a class="active" href="#">
                                <img alt="" src="../Contents/img/891.png"></a> </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
