<li id="feeds"><a href="#"><i class="fa fa-wrench fa-fw"></i>Publishing<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li>
            <a href="panels-wells.html">Schedule Message</a>
        </li>
        <li>
            <a href="buttons.html">Socio Queue</a>
        </li>
        <li>
            <a href="notifications.html">Drafts</a>
        </li>
    </ul>
</li>



<li id="publishing" class="">
    <a href="#"><i class="fa fa-wrench fa-fw"></i>Publishing<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse" >
        <li>
            <a href="panels-wells.html">Schedule Message</a>
        </li>
        <li>
            <a href="buttons.html">Socio Queue</a>
        </li>
        <li>
            <a href="notifications.html">Drafts</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>
