@{
    string path = @System.Configuration.ConfigurationManager.AppSettings["domain"];
    }
<link href="../Themes/@path/Contents/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<script src="../Themes/@path/Contents/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
<script src="../Themes/@path/Contents/js/jquery.lazyscrollloading-src.js" type="text/javascript"></script>
<script src="../Themes/@path/Contents/js/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="../Themes/@path/Contents/js/Feeds.js"></script>
<script src="~/Themes/@path/Contents/js/underscore.js"></script>
 <script src="/Themes/@path/Contents/js/Message.js"></script>
 <script src="/Themes/@path/Contents/js/Helper.js"></script>

 <style>
        .badge.pull-right {
            margin-right: 5% !important;
           }
    </style>

<script type="text/javascript">
    function loadfeesmenu() {
        debugger;
        //alert('load feeds');
        //$('#feeds').load('../Feeds/loadmenu');
        $.ajax({
            type: 'POST',
            url: '../Feeds/loadmenu',
            success: function (msg) {
                $('#feeds').html('').append(msg);
            },
            async: false
        });

    }


    function DisplayDefaultFeed() {
        debugger;
        // var cnt = $('ul#items li').length;
        
        //var x = $('#feeds > ul > li > ul > li');
        //if (x.length > 0) {
        //    $('#feeds > ul').addClass('collapse in');
        //    $('#feeds > ul > li > ul').addClass('collapse in');
        //   // $('#feeds > ul > li > ul > li')[0].click();
        //}

      



        //var fn = $('#first-profile-load_0').attr('onclick');
        //fn;
        //alert("No Data");
        //$("#first-profile-load_0").click();
        //if (!$("ul").has("li").length) {
        //    alertify.alert("No Data");
        //}


    }

  
    function opnReply(messageid, ProfileId) {
        debugger;
        var buttonhtm = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"saveCommentReply('twitter','" + messageid + "','" + ProfileId + "')\">Reply</button>";
        $("#leaveCommentReply").html(buttonhtm);
        //$("#Reply").modal('show');
    }
    $(document).ready(function () {
        loadfeesmenu();
        $('#side-menu a').removeClass('active');
        $("#feeds").addClass('active');
        $("#feeds").children().addClass('active');
        //$("#first-profile-load_0").click();
        //DisplayDefaultFeed();

        //To Load News feeds data every 15 seconds
        try {
            debugger;
            FacebookLoadNewNewsFeeds();
        } catch (e) {

        }

        //To Load Wall Posts data every 60 seconds
        try {
            FacebookLoadNewUserHome();
        } catch (e) {

        }
        
        ////To Load User feeds data every 60 seconds
        //try {
        //    FacebookLoadNewUserFeeds();
        //} catch (e) {

        //}
    });
</script>


<div id="page-wrapper" style="min-height: 278px;">
</div>

<div class="modal fade" id="Reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header model_head">
                 
                <button id="closecommentpopup" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@GlobusMultiLanguageLib.Resources.Messages_SmartInboxPartial_Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Tweet</h4>
            </div>
            <div class="modal-body">
                <textarea id="comment_text" class="form-control" rows="3" placeholder="Write your message here"></textarea>
            </div>
            <div id="leaveCommentReply" class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary ">Reply</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="twtmailpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div class="modal fade" id="mailpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
@*<script src="/Themes/Socioboard/Contents/js/jquery-1.11.0.js"></script>*@
<script>
$(document).ready(function () {
    $(window).scroll(imagebind);
    $(window).scroll(feedonscroll);
    });
    var facebookfeed = _.throttle(facebookfeedscrolldata, 3000);
    var twittertweet = _.throttle(Twitterfeedscrolldata, 3000);
   var linkedinfeed = _.throttle(LinkedInfeedscrolldata, 3000);

    var facebookwall = _.throttle(facebookwallscrolldata, 3000);
    var twitterfeed = _.throttle(Twitterscrolldata, 3000);
    var linkedinnetworkupdate = _.throttle(LinkedInscrolldata, 3000);
    var tumblrimages = _.throttle(Tumblrscrolldata, 3000);
    var feedonscroll = _.throttle(loadinstagramfeedonscroll, 3000);
    function ccc() {
        // alert("ccc");
        debugger;
        var network = $("#data_paneltab1").attr('network');
        if (network == "facebook") {
            facebookwall();
        }
        if (network == "twitter") {
            twitterfeed();
        }
        if (network == "linkedin") {
            linkedinnetworkupdate();
        }
    }

    function feedbind() {
        debugger;
        var network = $("#data_paneltab2").attr('network');
        if (network == "facebook") {
            facebookfeed();
        }
        if (network == "twitter") {
            twittertweet();
        }
        if (network == "linkedin") {
            linkedinfeed();
        }
    }
function imagebind() {
        debugger;
        var nwt = $("#feedimages").attr("network");
        if (nwt == "tumblr") {
            tumblrimages();
        }
    }
    //function FacebookUserFeeds() {
    //    debugger;
    //    var nwtid = $('#refreshpanel2').attr('nwtid');
    //    $("#title_paneltab3").html("User Feeds");

    //    $.ajax({
    //        type: "GET",
    //        url: "/Feeds/FacebookUserFeeds",
    //        data: { "profileid": nwtid },
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "html",
    //        beforeSend: function () {
    //            console.log("test");
    //        },
    //        success: function (msg) {
    //            console.log("I")

    //            $("#data_paneltab3").html(msg);
    //            console.log("testend");
    //        },
    //        error: function (e) {
    //            console.log("testerr");

    //            console.log(e);
    //            alert("gfgh");
    //        }
    //    });
    //}

    function FacebookStatus() {
        debugger;
        var nwtid = $('#refreshpanel2').attr('nwtid');
        $("#title_paneltab3").html("Status");

        $.ajax({
            type: "GET",
            url: "/Feeds/FacebookStatus",
            data: { "profileid": nwtid },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            beforeSend: function () {
                console.log("test");
            },
            success: function (msg) {

                $("#data_paneltab3").html(msg);
                console.log("testend");
            },
            error: function (e) {
                console.log("testerr");
                console.log(e);
              
            }
        });
    }

    function FacebookTag() {
        debugger;
        var nwtid = $('#refreshpanel2').attr('nwtid');

        //   console.log("FacebookTag begin")

        $("#title_paneltab3").html("Tags");

        $.ajax({
            type: "GET",
            url: "/Feeds/FacebookTag",
            data: { profileid: nwtid },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            beforeSend: function () {
                console.log("test");
            },
            success: function (msg) {
                $("#data_paneltab3").html(msg);
                console.log("testend");
            },
            error: function (e) {
                console.log(e);
                console.log("testerr");
              
            }
        });
    }

    function LikeUnlikeInstagramPost(LikeCount, FeedId, InstagramId) {
        debugger;
        var IsLike = $("#myImage_" + FeedId).attr('status');
        var fd = new FormData();
        fd.append("LikeCount", LikeCount);
        fd.append("IsLike", IsLike);
        fd.append("FeedId", FeedId);
        fd.append("InstagramId", InstagramId);

        $.ajax({

            type: 'POST',
            url: '../Feeds/LikeUnlikeInstagramPost',
            data: fd,
            processData: false,
            contentType: false,
            dataType: "html",
            success: function (msg) {
                if (msg == 'unlike') {
                    var count = +LikeCount + +1;
                    $("#count_" + FeedId).html(count + " likes");
                    $("#myImage_" + FeedId).attr("src", "http://i.imgur.com/Kt5N68n.png");
                    $("#myImage_" + FeedId).attr('status', '1');
                }
                else {
                    var count = +LikeCount - +1;
                    $("#count_" + FeedId).html(count + " likes");
                    $("#myImage_" + FeedId).attr("src", "http://i.imgur.com/5VSlTqW.png");
                    $("#myImage_" + FeedId).attr('status', '0');
                }
            },
        });

    }
    function loadinstagramfeedonscroll() {
        $.ajax({
            url: "../Feeds/ShowInstagramFeeds?load=scroll",
            type: "Post",
            success: function (msg) {
                if (msg == "no_data") {

                }
                else {
                    $("#instafeeds").append(msg);
                }
            }
        });
    }


</script>
@*<script src="/Themes/Socioboard/Contents/js/plugins/morris/morris-data.js"></script>*@
