<div class="smart_search">
    <div class="title">
        Discovery allows you to find new customers by searching for keywords around your
        business.
    </div>
    <!--<div class="input_text_select">
                                	<input type="text" id="ContentPlaceHolder1_txtSearchText" name="ctl00$ContentPlaceHolder1$txtSearchText" />
                                     <input type="submit" id="ContentPlaceHolder1_btnSearch" value="Search" name="ctl00$ContentPlaceHolder1$btnSearch" />
                                     <asp:CheckBoxList ID="chk_byseach" runat="server" style="float:right;" 
                                        Width="192px" >
                                        <asp:ListItem Value="By Name"></asp:ListItem>
                                        <asp:ListItem Value="By Keyword"></asp:ListItem>
                                    </asp:CheckBoxList>
                                </div>-->
    <div class="input_text_select">
        <input name="ctl00$ContentPlaceHolder1$txtSearchText" id="ContentPlaceHolder1_txtSearchText"
            type="text">
        <input name="ctl00$ContentPlaceHolder1$btnSearch" value="Search" id="ContentPlaceHolder1_btnSearch"
            class="btn btnk span5 btnspan" type="submit">
        <table id="ContentPlaceHolder1_chk_byseach" style="width: 192px; float: right;">
            <tbody>
                <tr>
                    <td>
                        <input id="ContentPlaceHolder1_chk_byseach_0" onclick="MutExChkList(this);" name="ctl00$ContentPlaceHolder1$chk_byseach$0"
                            value="By Name" type="checkbox"><label for="ContentPlaceHolder1_chk_byseach_0">By Name</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="ContentPlaceHolder1_chk_byseach_1" onclick="MutExChkList(this);" name="ctl00$ContentPlaceHolder1$chk_byseach$1"
                            value="By Keyword" type="checkbox"><label for="ContentPlaceHolder1_chk_byseach_1">By
                                Keyword</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="searchresults" runat="server" class="messages">
        <div id="DivAll">
        </div>
        <div id="TwtResults" runat="server">
        </div>
        <div id="FbResults" runat="server">
        </div>
    </div>
</div>
