 <%-- <div class="alert alert-suite">
                        <p>
                            Nothing scheduled in the Inter group</p>
                        <span class="pull-right">Schedule a new message</span>
                        <div class="red-caret">
                        </div>
                    </div>--%>
                    <div class="clearfix">
                        &nbsp;</div>
                    <div class="rounder" id="publishing-dropdown-details">
                        <%--  <button type="button" class="close pull-right" data-dismiss="alert">×</button>--%>
                        <h2 class="title">
                            NEW MESSAGE</h2>
                        <div class="row-fluid">
                            <div class="span6" id="leftspan">
                                <div class="usermessage">
                                    <div id="userpiccontainer">
                                        <div class="userpictiny">
                                            <img id="imageofuser_scheduler" width="48" height="48" alt="" src="Contents/img/admin/user.png" />
                                            <a title="" class="userurlpic" href="#">
                                                <img id="socialIcon_scheduler" alt="" src="../Contents/img/admin/searchmini.png" style="height: 20px;
                                                    width: 20px;" /></a>
                                        </div>
                                        <div id="loginContainer_scheduler">
                                            <div id="loginButton_scheduler">
                                                <img src="../Contents/img/drop_arrow.png" alt="" /></div>
                                            <div style="clear: both">
                                            </div>
                                            <div id="loginBox_scheduler" style="position: absolute; z-index: 999; margin-left: -71px;">
                                                <div class="drop_top">
                                                </div>
                                                <div class="drop_mid">
                                                    <a href="#">
                                                        <img src="../Contents/img/891.png" alt="" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="btnaddnewmessage">
                                        <div id="addContainer_scheduler">
                                            <div id="abb_scheduler">
                                                <a class="btn span6" style="height: 31px;">And +</a></div>
                                            <div style="clear: both">
                                            </div>
                                            <div id="ab_scheduler" style="position: absolute; z-index: 999; margin-left: -20px;">
                                                <div class="drop_top">
                                                </div>
                                                <div class="drop_mid">
                                                    <div class="twitte_text">
                                                        TWITTER</div>
                                                    <div class="teitter">
                                                        <ul>
                                                            <li><a href="#">
                                                                <img src="Contents/img/twitter.png" alt="" border="none" width="20" style="float: left;" />
                                                                <span style="float: left; margin: 3px 0 0 5px;">Sumitghosh</span> </a></li>
                                                            <li><a href="#">
                                                                <img src="Contents/img/twitter.png" alt="" border="none" width="20" style="float: left;" />
                                                                <span style="float: left; margin: 3px 0 0 5px;">Raj07</span> </a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="twitte_text">
                                                        LINKEDIN</div>
                                                    <div class="teitter">
                                                        <ul>
                                                            <li><a href="#">
                                                                <img src="Contents/img/link.png" alt="" border="none" width="18" style="float: left;" />
                                                                <span style="float: left; margin: 3px 0 0 5px;">Shyam SIngh</span> </a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="twitte_text">
                                                        FACEBOOK</div>
                                                    <div class="teitter">
                                                        <ul>
                                                            <li><a href="#">
                                                                <img src="Contents/img/facebook.png" alt="" border="none" width="18" style="float: left;" />
                                                                <span style="float: left; margin: 3px 0 0 5px;">Shyam SIngh</span> </a></li>
                                                            <li><a href="#">
                                                                <img src="Contents/img/facebook.png" alt="" border="none" width="18" style="float: left;" />
                                                                <span style="float: left; margin: 3px 0 0 5px;">GLobussoft</span> </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divformultiusers_scheduler">
                                            <%--<a class="btn span12" href="#">Syam Sharuk Kann <span class="close pull-right" data-dismiss="alert">×</span></a>--%></div>
                                    </div>
                                </div>
                                <div class="schedular_textarea">
                                    <span style="color: #CDD3D3; font-size: 12px;"><i id="messageCount_scheduler">140 CharactersRemaining</i></span>
                                    <textarea id="textareavaluetosendmessage_scheduler" cols="5" rows="10" class="span12"
                                        placeholder="type your message here" style="height: 360px;"></textarea>
                                </div>
                            </div>
                            <div class="span6" id="rightspan">
                                <%-- <img alt="" src="Contents/img/admin/righ-details.png">--%>
                                <div class="sub_tabs">
                                    <div id="scheduleimg" style="float: right;">
                                        <img onclick="ScheduleMessage()" src="Contents/img/schedule.png" alt="" />
                                    </div>
                                </div>
                                <div class="datebg">
                                    <div id="multicaleder">
                                    </div>
                                    <div class="watchtimeshow">
                                        <input type="text" style="width: 65px;" value="" disabled="disabled" id="timepickerforScheduler" />
                                        <img id="imgtimepicker" src="Contents/img/clock.png" alt="" />
                                        <div id="chktimepicker">
                                        </div>
                                    </div>
                                    <div id="adddates_scheduler">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        &nbsp;</div>
                    <%--  <div class="shadower" id="calendar">
                        	<img alt="" src="Contents/img/admin/calendar.png">
                        </div>--%>