@{
    ViewBag.Title = "Home Page";
}
<div id="page-wrapper">

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">SocioQueue</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Queued Messages
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover extable" id="dataTables">
                      </table>
                    </div>
                    <!--Comment Modal -->
                    <div class="modal fade" id="editsociaoqueue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    @*<img src="Contents/img/photo.png" class="img-circle">
                                    <img class="img-responsive img-circle" src="Contents/img/twticon.png" style="margin-left: 35px; margin-top: -20px;">*@
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>EDIT MESSAGE</h4>
                                            <textarea id="txteditsocioqueue" class="form-control" rows="6" placeholder=""></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-center margin-top-10 ">
                                                <img class="img-responsive" id="PostImage" src="https://scontent-sin1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11401469_1591336734452249_8507447769430920566_n.jpg?oh=ecc13d685d06637f591edfe2a9b5dadf&oe=562617E4" style="margin: auto;">
                                                @*<a href="javascript:pixlr.overlay.show({image:'http://localhost:9821/Themes/Socioboard/Contents/img/upload/flower29.jpg', title:'inline editing using php mysql jquery and twitter bootstrap'});"><i class="fa fa-pencil fa-fw"></i>Edit your IMg</a>*@
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                                <div class="modal-footer">
                                    <button id="savebtnsocioqueue"  type="button" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of model-->

                    <!-- CLOSEModal -->
                    <div class="modal fade" id="deletesociaoqueue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="modal-body col-md-12">
                                    <p>Are you sure,you want to delete this Message ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button id="deletebtnsocioqueue" type="button" class="btn btn-primary">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of CLOSEmodel-->

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>



<script type="text/javascript">
    function bindsocialqueue() {
        //('#bindsocialqueue').html()
       // $('.extable').load('../Publishing/loadsocialqueue');


        $.ajax({
            type: 'POST',
            url: '../Publishing/loadsocialqueue',
            success: function (msg) {
                //alert(msg);
                $('.extable').html(msg);
            },
            async: false
        });


    };

    function deletesocialqueuemsg(msgid) {
        $('#deletesociaoqueue').modal('show');
        $('#deletebtnsocioqueue').attr('msgid', msgid);

    };


    function editsocialqueuemsg(msgid, msg,obj) {
        $('#editsociaoqueue').modal('show');
        $('#savebtnsocioqueue').attr('msgid', msgid);
        $('#txteditsocioqueue').val(msg);
        
        $("#PostImage").attr('src', $(obj).data('pic'));
    };



    $(document).ready(function (e) {
        bindsocialqueue();
        $("#publishing").addClass('active');
        //$('li a').find('ul').remove();
        $('li a').removeClass('active');
        $('#socioqueue a').addClass('active');
        $('#dataTables').dataTable({
            "order": [[1, "desc"]]
        });


        $('#deletebtnsocioqueue').on('click', function () {
            $('#deletesociaoqueue').modal('hide');
            var msgid = $('#deletebtnsocioqueue').attr('msgid');
            $('#' + msgid).hide();
            $.ajax({
                type: 'POST',
                url: '../Publishing/DeleteSocioQueueMessage?msgid=' + msgid,
                success: function (msg) {
                    alertify.success("Message Deleted successfully");
                },
            });
        });

        $('#savebtnsocioqueue').on('click', function () {
            //alert($('#saveeditdraft').attr('draftid'));
           
            var msgid = $('#savebtnsocioqueue').attr('msgid')
            var msg = $('#txteditsocioqueue').val();
            if (msg == '') {
                alertify.error("Please enter a message to save");
                return false;
            }
            $('#editsociaoqueue').modal('hide');
            //alertify.success("Liked Successfully");
            $.ajax({
                type: 'POST',
                url: '../Publishing/EditSocioQueueMessage?msgid=' + msgid + '&msg=' + msg,
                success: function (msgg) {
                    //alert(msg);
                    debugger;
                    //$('#' + msgid).next().next().html(msg);
                    // $('#editsociaoqueue').modal('hide');
                    bindsocialqueue();
                    //bindraft();
                },
                // async: false
            });
        });



    });




</script>


<script>
    $(document).ready(function () {
        $("#publishing-draft").removeClass('active');
        $("#publishing-SocioQueue").addClass('active');
        $("#publishing-SecheduleMessages").removeClass('active');
    });
    </script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="~/Themes/Socioboard/Contents/js/pixlr.js"></script>
<script type="text/javascript">
    pixlr.settings.target = 'http://demo.smarttutorials.net/pixlr-editor/save.php';
    pixlr.settings.exit = 'http://demo.smarttutorials.net/pixlr-editor/';
    pixlr.settings.method = 'GET';
    pixlr.settings.redirect = false;
    //pixlr.settings.locktarget = true;

    /*$(document).on('click','.edit_image',function(){
        img = $(this).data('src');
        pixlr.overlay.show({image:img, title:'Roof Crafters'});
    });*/
</script>















