<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="SjrfnQGYTatqlcbmVTwMkA" />
    <add key="consumerSecret" value="NG0SbMioAkvlZnzj6DRPzFQEtdL9CybOOhnxSu8PKlk" />
    <add key="callbackurl" value="http://woosuite.socioboard.com/TwitterManager.aspx" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 
</configuration>
